<ul class="shareMingdaoDialog" id="shareMingdaoPost">
    <li style="margin-top:0px;">
        <div><textarea style="" class="postMsg" id="post-content"></textarea></div>
    </li>
    <li>
        <div class="right mLeft10"><input type="button" class="btn" value="分享" id="btn-shareMingdaoPost"/></div>
        <div class="right" style="position:relative;padding-top:4px;">
            <div class="viewTo left" style="padding-top:7px;"></div>
            <div class="btn_selectMDGroups left mLeft5" onclick="$(this).next().next().slideToggle(500);">选择分享范围</div>
            <div class="clear"></div>
            <div class="shareMDGroups hide"><ul></ul></div>
        </div>
        <div class="clear"></div>
    </li>
</ul>