<ul class="shareMingdaoDialog" id="shareMingdaoTask">
    <li style="margin-top:0px;">
        <span class="width80">任务名称：</span>
        <span>
            <input type="text" class="verify input" data-empty="必填" maxlength="20" id="task-name" />
        </span>
    </li>
    <li>
        <span class="width80">截至日期：</span>
        <span>
            <input type="text" class="input" style="width:90px;" maxlength="20" id="task-enddate" />
        </span>
    </li>
        <li>
        <div class="width80 left">主负责人：</div>
        <div class="left" id="task-charger">
           <!-- <div class="member">
                <div class="left">牧歌</div>
                <div class="left mLeft5"><a href="javascript:void(0);" onclick="$(this).parents('.member').remove();">×</a></div>
                <div class="clear"></div>
            </div>-->
        </div>
        <div class="left ico-change mLeft10" id="btn-task-charger"></div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="width80 left">任务成员：</div>
        <div class="left" id="task-members">
           <!-- <div class="member">
                <div class="left">牧歌</div>
                <div class="left mLeft5"><a href="javascript:void(0);" onclick="$(this).parents('.member').remove();">×</a></div>
                <div class="clear"></div>
            </div>-->
        </div>
        <div class="left ico-add mLeft10" id="btn-task-members"></div>
        <div class="clear"></div>
    </li>
    <li>
        <div class="width80 left">任务详情：</div>
        <div style="margin-left:3px;" class="left"><textarea id="task-des" class="textarea"></textarea></div>
        <div class="clear"></div>
    </li>
     <li>
        <div class="right"><input type="button" class="btn" value="分享" id="btn-shareMingdaoTask"/></div>
         <div class="clear"></div>
    </li>
</ul>