{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="center">{%=item.AlipayNo%}</td>
    <td class='center'>{%=item.PayType==0?"未支付":item.PayType==1?"已支付":item.PayType==2?部分支付:"已关闭"%}</td>
    <td class="center">{%= item.Type==1?"收款": "退款"%}</td>
    <td class='center'>{%= item.RealAmount%}</td>
    <td class='center'>{%= item.Status==0?"未支付":item.Status==1?"已支付":item.Status==2?部分支付:"已关闭"%}</td>   
    <td>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class='center'>{%=item.CreateUser==null?"--":item.CreateUser.Name%}</td>
    <td class='center'>{%=item.CheckUser==null?"--":item.CheckUser.Name%}</td>
    <td class='center'>{%=item.CheckTime.toDate("yyyy")!='3939'?item.CheckTime.toDate("yyyy-MM-dd"):'--'%}</td>     
        {% if(item.Status==1){ %}
            <td class="center"  data-id="{%=item.OrderID%}">
            <a href="/Client/OrderDetail/{%=item.OrderID%}" >查看明细</a>
        {% } else if(item.Status==0){ %}
            <td class="center dropdown" data-agentid="{%=item.AgentID%}" data-amount="{%=item.RealAmount%}" data-id="{%=item.OrderID%}">
            <span data-amount="{%=item.RealAmount%}" class="ico-dropdown"></span> 
        {% } else{ %}
            <td class="center">
        {% } %}
    </td>  
</tr>
{% } %}

