body {background-color:#fff; }
.taskplate {line-height:50px;font-size:20px; }
.titlename{ font-size:22px;height:50px;margin-top:22px;}
table{border:1px solid #000;border-collapse:collapse;}
table tr td{border:1px solid #000;text-align:center;width:125px;height:50px;}
table img{width:250px;}
.customerName { color:blue;}
.Sersion {color:orange; }
.export { margin-top:-900px;margin-left:1200px;}
.export input{padding:10px;}