@charset"utf-8";
body {font-size:14px; }
*{font-family:"Microsoft YaHei";font-size:100%;padding:0;margin:0;border:0;list-style-type:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
html{min-height:100%;border:none;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{word-wrap:break-word;word-break:break-all;}
ul,ol{list-style-type:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}
table{border-collapse:separate;border-spacing:0;}
th,td{text-align:left;}
address,cite,dfn,em,var{font-style:normal;}
img{border:none;vertical-align:middle;}
a{outline:none;}
a:link,a:visited{text-decoration:none;outline:none;}
a:hover,a:active{outline:none;}
iframe{vertical-align:top;}embed{display:none;}
* html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
.row{*zoom:1}
.row:after{content:'\20';display:block;clear:both;height:0;overflow:hidden;}
.hide{display:none;}
/*浮动*/
.l{float:left;}
.r{float:right;}

/*页头*/
.pay-body{}
.pay-title{height:30px;padding:10px 0;color:#4a98e7;background-color:#4a98e7;width:100%;}
.pay-title-name { margin-left:10px;}
.pay-title-name i{width:30px;height:30px;}
.pay-title-name img { width:30px;height:30px;border-radius:50%;}
.pay-title-name span{font-size:1.1em;line-height:30px;vertical-align:middle;color:#fff;}

/*内容*/
.pay-content {max-width:600px;margin:20px auto;border:1px solid #cecece;box-sizing:border-box; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;background-color:#fff;min-width:300px;}
.pay-content-main-form ul li { margin-top:20px;}
.pay-content-title { height:80px;border-bottom:1px solid #dbeafa;padding:0 20px;background-color:#f2f9fd;}
.pay-content-title-info h1 { font-size:18px;color:#4a98e7;line-height:46px;}
.pay-content-title-info p {color:#666;white-space:nowrap;}
.pay-content-main { padding:0 20px;}
.pay-content-main .info-box{line-height:40px;border-bottom:1px solid #eee;}
.pay-content-main .info-box span {color:#4a98e7;}
.pay-content-main .info-box .iconfont { font-size:24px;}
.pay-content-main .customtype { font-size:12px;color:#666;}

select {height:30px;line-height:30px;border:1px solid #ccc;border-radius:2px;margin-right:4px;float:left;}
input[type="text"],#remark { border: 1px solid #ccc; border-radius: 2px; line-height: 24px; height: 30px; color: #888; width: 200px; padding: 2px 0 2px 6px; box-sizing: border-box; -webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
#remark,#address,.categoryselect-box {width:100%;display:block;}
#remark {min-height:30px;line-height:24px;max-height:300px;overflow-y:hidden;}

/*复选框样式*/
.radio-info { font-size:12px;color:#666;}
.ico-radiobox { vertical-align:middle;}

/*提交按钮*/
.pay-content-main-form ul .btn-box {margin:20px auto;width:200px;}
#btnSave {width:100%;line-height:40px;color:#fff;font-size:14px;border-radius:2px;transition:background-color 0.3s;background-color:#4a98e7;}
#btnSave:hover { background-color:#6eadec;}


.categoryselect { width:98px;}
.ico-upload { width:60px;font-size:60px;background-color:#eee;color:#aaa;padding:0;height:60px;line-height:0px;padding-bottom:10px;}
.ico-upload:hover { background-color:#ddd;color:#888;}
#city_province { width:200px;}

/*图片*/
.img-box { float:left;}
.img-box #orderImages li {float:left;margin-right:10px;margin-top:4px;position:relative;}
.img-box #orderImages .ico-delete { position:absolute;right:-6px;top:-11px;}
.img-box img { width:60px;height:60px;border-radius:2px;}


.dropdown-module { float:left;}
.dropdown-items-modules li{ margin-top:0 !important;}
.bigcategory { margin-right:4px;}

/*下单成功*/
.success{max-width:500px;margin:200px auto 300px;}
.success-order{display:block;background:url(/modules/images/selforder/success.png) no-repeat 0 0;}
.success ul{padding:120px 25px 0;}
.success li{margin:10px 0;color:#999;}
.success .query{color:#000;}
.success-btn{margin:30px 0;text-align:center;}
.btn-order{display:inline-block;width:170px;height:50px; line-height:50px; margin-right:20px;color:#fff;background:#4a98e7;border:1px solid #4a98e7;border-radius:5px;moz-border-radius:5px;-webkit-border-radius:5px;}.btn-order:hover{background:#318ae4;}
.btn-query{display:inline-block;width:170px;height:50px;color:#4a98e7;background:#fff;border:1px solid #4a98e7;border-radius:5px;moz-border-radius:5px;-webkit-border-radius:5px;}
.btn-query:hover{color:#318ae4;border:1px solid #318ae4;}

.success-btn span { cursor:pointer;}
.success-btn .btn-close:hover {background-color:#fff;}
/*小图标*/
.pay-content-main-form .lump { border-bottom: 6px solid #4a98e7; border-left: 6px solid transparent; border-right: 6px solid transparent;margin-top:20px;cursor:pointer;}
@media screen and (max-width:600px) {
    .pay-content { margin:20px 10px;}
    input[type="text"] { width:100%;}
    .categoryselect { width:50%;}
    .bigcategory { margin-right:4px;}
    #city select { width:33.33%;}
    input[type="text"] { color:#666;}
    .pay-content-main-form ul .btn-box { width:100%;}
    select { margin-right:0;}
    .success-order {background-size:100%;}
    .success ul {padding-left:0;padding-right:0;padding-top:120px;}

}
