/*订单列表*/
.object-items { color:#999; }
.object-items .object-item{ width:250px; height:390px; border:solid 1px #ddd; background-color:#fff; float:left; margin-right:15px; margin-top:20px; cursor:pointer; }
.object-items .object-item span{ color:#999; }
.object-items .object-item .iconfont{ color:#999; }

/*订单样图*/
.object-items .object-item .orderimg{ width:250px; height:250px; vertical-align:middle; text-align:center; display:table-cell; overflow:hidden; position:relative; 
                                      background:url('/modules/images/none-img.png') no-repeat center; background-color:#f9f9f9; }/**/

.object-items  .orderimg img{ max-width: 250px; max-height: 250px; display:inline-block;}

/*订单选中*/
.object-items .object-item .check { width:30px; height:30px;  background-color:#fff; border:solid 1px #4a98e7; text-align:center;
                                    position:absolute; right:-1px; top:-1px; display:none;box-shadow:0 0 5px #4a98e7 inset;}
.object-items .check .iconfont{ font-size:24px; color:#fff; }

/*阿里标记*/
.object-items .object-item  .aliorder { height:30px; line-height:30px; position:absolute; bottom:0px; background-color:#ff7300; opacity:0.6; 
                                        display:block; width:100%; font-size:14px; color:#fff; text-indent:10px;}
.object-items  .aliorder .iconfont{ color:#fff; }

.object-items .object-item ul{ padding:10px; }
.object-items .object-item li{ height:30px; line-height:30px; }

.object-items .object-item .goodsname{ width:220px; }
.object-items .object-item .customer { width:180px; }
.object-items .object-item .owner { max-width:90px; }
.object-items .object-item .view-detail { font-size:20px; }

.object-items .object-item.looking-view { border:solid 1px #4a98e7;}

/*筛选三角形显示*/
#shrinkScreen .lump { display:inline-block;border-top:6px solid #fff;border-left:6px solid transparent;border-right:6px solid transparent;margin-bottom:2px;margin-right:4px;}

/*划过*/
.object-items .object-item:hover{ border:solid 1px #4a98e7; }
.object-items .object-item:hover .check{ display:inline-block;}

/*选中*/
.object-items .object-item.hover{ border:solid 1px #4a98e7; }
.object-items .object-item.hover .check{ display:inline-block; background-color:#4a98e7; }

/*预警样式*/
.object-items .warning-layer { position:absolute;left:0;top:0;width:50px;height:50px;display:block;overflow:hidden;}
.object-items .warning-msg.pass { background-color:rgba(237,0,0,0.7);}
.object-items .warning-msg.warning { background-color:rgba(255,165,0,0.7);}
.object-items .warning-msg {width:80px;height:24px;color:#fff;line-height:24px;margin-left:-23px;margin-top:5px;text-align:center;transform: rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);}

/*标记筛选*/
.search-item-color { clear:both; overflow:auto; margin:10px 0; }
.search-item-color li{ float:left; margin-right:20px; cursor:pointer;}
.search-item-color .column-name{ width:60px; padding:2px 5px; color:#999; font-size:12px; }
.search-item-color .item{ width:12px; height:12px;  border-radius:7px; margin-top:5px;}
.search-item-color .item.hover{ width:20px; height:20px;border-radius:11px; margin-top:2px;}

.search-item-color .mark-all { background:url('/modules/plug/mark/ico-ball.png') no-repeat; background-size:cover;border:solid 1px #fff; }
.search-item-color .mark0 { background-color:#FFF; border:solid 1px #ccc; }
.search-item-color .mark1 { background-color:#FF7C7C; border:solid 1px #FF7C7C; }
.search-item-color .mark2 { background-color:#3BB3FF; border:solid 1px #3BB3FF; }
.search-item-color .mark3 { background-color:#9F74FF; border:solid 1px #9F74FF; }
.search-item-color .mark4 { background-color:#FFC85D; border:solid 1px #FFC85D; }
.search-item-color .mark5 { background-color:#FFF65F; border:solid 1px #FFF65F; }


/*订单状态记录*/
.status-items {  }
.status-items li{ float:left;  position:relative; height:40px; margin-left:-24px; }
.status-items span { line-height:16px; display:block; color:#999; text-align:center; }
.status-items .status-bg { width:12px; height:12px; border-radius:6px; background-color:#ccc; margin-left:24px; }
.status-items .status-line { width:110px;height:2px; background-color:#eee; margin-top:5px;  }
.status-items .status-time-text { width:100px; font-size:11px; position:absolute; top:-12px; }

/*title*/
.content-title ul li { float:left; height:50px; border-left:solid 1px #eee; font-size:14px; color:#666; padding:0 20px; }
.content-title ul .iconfont { font-size:20px; }

/*样图信息*/
.order-imgs-div { width:350px; }
.order-imgs-div .order-imgs{ height:350px; width:350px; position:relative; overflow:hidden; background:url('/modules/images/none-img.png') no-repeat center; background-color:#f0f0f0; }
.order-imgs-div .order-imgs img{ min-height:350px; min-width:350px; }
.order-imgs-div .order-imgs img:hover{ cursor:pointer;}
.order-imgs-list { height:48px; margin-top:5px; }
.order-imgs-list li{ width:48px; height:48px; float:left; border:solid 2px #eee; margin-right:6px; margin-bottom:5px; cursor:pointer; position:relative;}
.order-imgs-list li.hover{ border-color:red;}
.order-imgs-list img{ width:48px; height:48px;}
.order-imgs-list .edit-orderimages,#addOrderImages { font-size:40px; width:48px; height:48px;  color:#999; line-height:40px; text-align:center; }
#addOrderImages{ width:48px; height:48px;border:solid 2px #eee; margin-right:6px; margin-bottom:5px; cursor:pointer; position:relative;}
.order-imgs-list #addOrderImages .edit-orderimages { line-height:0;padding-bottom:8px;border:none;background:transparent;}
.order-imgs-list .ico-delete { position:absolute; top:-8px; right:-8px; background-color:#fff; border-radius:10px; }


/*阿里标记*/
.order-imgs-div  .aliorder { height:30px; line-height:30px; position:absolute; bottom:0px; background-color:#ff7300; opacity:0.6; 
                                        display:block; width:100%; font-size:14px; color:#fff; text-indent:10px;}
.order-imgs-div  .aliorder .iconfont{ color:#fff; }

/*切换图片*/
.enlarge-image-bgbox { width:100%;height:100%; position:fixed; top:0; left:0; background-color:#666; z-index:9999; opacity:0.9; }
.enlarge-image-bgbox .iconfont{ float:right; color:#fff; font-size:20px; margin:10px 10px 0 0; cursor:pointer; }
.enlarge-image-bgbox .iconfont:hover{ color:#4a98e7;  }

.enlarge-image-box{ position:fixed;  top:40px; bottom:40px; left:100px; right:100px; z-index:19999; }

.left-enlarge-image,.right-enlarge-image {position:fixed;  width:40px; height:100px;  cursor:pointer;cursor:pointer; }
.left-enlarge-image { left:100px;  background:url('/modules/images/ico-prev-image.png') no-repeat;background-size:cover;}
.left-enlarge-image:hover {  background:url('/modules/images/ico-prev-image-hover.png') no-repeat;background-size:cover;}
.right-enlarge-image { right:100px; background:url('/modules/images/ico-next-image.png') no-repeat;background-size:cover; }
.right-enlarge-image:hover {  background:url('/modules/images/ico-next-image-hover.png') no-repeat;background-size:cover; }

.enlarge-image-item{ position:fixed;  top:40px; bottom:40px; left:200px; right:200px;  }


/*订单信息*/
.order-info { float:left; margin-left:20px; overflow:auto; }
.order-info .name{ height:40px; line-height:40px; width:100%; background-color:#f7f7f7; color:#666;font-size:14px;text-indent:10px; }

.order-info .moneyinfo { width:220px; margin-top:20px; margin-right:20px; }
.order-info .moneyinfo li{ line-height:35px; clear:both;padding:5px; border-bottom:solid 1px #eee; overflow:auto; }
.order-info .moneyinfo li .column-title{ width:80px; float:left; color:#666; }

.order-info .cutomerinfo { margin-top:20px; width:420px; }
.order-info .cutomerinfo li{ line-height:35px; clear:both; padding:5px;  }
.order-info .cutomerinfo li .column-title{ width:80px; float:left; color:#666; }

.order-remark { margin-top:20px; padding:10px; border:solid 1px #eee; line-height:25px; }
.order-remark .title{ color:#999; }

/*订单品类*/
.category-header { border-bottom:solid 1px #ccc; }
.category-items { width:600px; overflow:auto; margin-bottom:10px; }
.category-items li{ padding:0 10px; height:30px; float:left; line-height:30px; border:solid 1px #ccc; margin:5px 5px; text-align:center; cursor:pointer; }
.category-items li:hover{ border-color:#2F73B8; color:#2F73B8;}
.category-items li.hover{ border-color:#2F73B8; color:#fff; background-color:#2F73B8;}

/*订单阶段任务*/
.process-stages { background-color:#fff; margin:20px; padding:10px; overflow:auto;  }

.process-info { border-bottom:solid 1px #eee; overflow:auto; padding:10px 0; }

.process-info .info{ font-size:16px; height:25px; line-height:25px;}

.status-desc li{ float:left; padding:0 6px; margin:5px 20px 10px 0; border-left:solid 1px #ccc; border-left-width:10px; }
.status-desc  li.ing{ border-color: #45BF67;}
.status-desc  li.over{ border-color: #3A7DE5;}

.process-stages .stage-items { }
.process-stages .stage-items  li{ float:left; width:120px; cursor:pointer; padding:5px 10px; position:relative;
                   margin-right:20px; margin-bottom:10px; border:solid 1px #ccc; border-left-width:10px; }

.process-stages .stage-items  li:hover{ background-color:#eee;}

.process-stages .stage-items  li.ing{ border-color: #45BF67;}
.process-stages .stage-items  li.over{ border-color: #3A7DE5;}

.process-stages .stage-items  li span{ display:block; font-size:12px; height:25px; line-height:25px; width:120px; color:#333;}
.process-stages .stage-items  li .status { color:#999; }
.process-stages .stage-items  li.ing .status { color: #45BF67;}
.process-stages .stage-items  li.over .status { color: #3A7DE5;}

.process-stages .stage-items .unlock { background:url('/modules/images/ico-unlock.png') no-repeat; width:18px; height:18px; position:absolute; right:2px; top:2px; }

/*订单浮层*/
.order-layer { width:500px; background-color:#fff; position:fixed; top:50px; bottom:0px; right:-505px;  border-left:solid 1px #eee; box-shadow:0 0 5px #ccc;}

.order-layer .layer-header{ height:40px; line-height:40px; background-color:#f5f5f5; font-size:14px; text-indent:15px; color:#666; }
.order-layer .layer-header .iconfont{ font-size:24px; cursor:pointer;  color:#999;}
.order-layer .layer-header .iconfont:hover{ color:#2F73B8;}

.order-layer-item { width:460px; padding:0 20px 50px; position:absolute; top:40px; bottom:0; overflow:auto; }
.order-layer-item h1 { border-bottom:solid 1px #eee; height:35px; line-height:35px; font-size:14px; color:#666; }

.order-layer-item ul { margin-bottom:30px; }
.order-layer-item ul li{ height:30px; line-height:30px; margin-top:5px; }
.order-layer-item ul .column-title{ width:80px; display:inline-block; float:left; color:#999; }

.order-layer-item .stage-items { }
.order-layer-item .stage-items  li{ float:left; width:170px; cursor:pointer; padding:5px 10px; height:50px;
                   margin-right:20px; margin-bottom:10px; border:solid 1px #ccc; border-left-width:8px; }

.order-layer-item .stage-items  li:hover{ background-color:#eee;}

.order-layer-item .stage-items  li.ing{ border-color: #45BF67;}
.order-layer-item .stage-items  li.over{ border-color: #3A7DE5;}

.order-layer-item .stage-items  li span{ display:block; font-size:12px; height:25px; line-height:25px; width:120px; color:#333;}
.order-layer-item .stage-items  li .status { color:#999; }
.order-layer-item .stage-items  li.ing .status { color: #45BF67;}
.order-layer-item .stage-items  li.over .status { color: #3A7DE5;}

.order-layer .data-loading { margin-top:200px; }

/*背景色*/
.list-item.hover { background-color:#fafafa; }
.total-item.hover { background-color:#fafafa; }

.sample-report { cursor:pointer;}
.typetitle {background-color:#eee;color:#007aff; }
.typetitle:first-child {height:46px;}

/*翻单次数*/
.repeatorder-times {width:20px;height:20px;border-radius:50%;border:1px solid #ccc;text-align:center;line-height:20px;margin-top:12px;color:#fff;background-color:#ccc;}

/*单据列表*/
.doc-item { border:1px solid #ccc;min-height:100px;margin-bottom:10px;}
.doc-main {padding:5px 0; }
.doc-info { height:30px;line-height:30px;}

/*价格区间设置*/
.price-range { position:fixed;z-index:10001;background-color:#fff;top:20%;left:30%;padding:10px 20px;border-radius:5px;}
.price-range .update-title{border-bottom:1px solid #eee;padding-bottom:7px;font-size:14px;}
.price-range .update-title .close_btn{background:#fff url(/modules/plug/easydialog/ico-close.png) no-repeat;                   
                                      height:16px;width:16px;float:right;margin-top:8px;}
.price-range .update-title .close_btn:hover{background:#fff url(/modules/plug/easydialog/ico-close-hover.png) no-repeat;}
.center-range { height:200px;}
.center-range li { height:30px;margin:5px;}
.center-range .center-head { background-color:#ededed;line-height:30px;}
.center-range .center-head div{float:left;width:150px;text-align:center;}
.center-range .li-range { float:left;width:150px;}
.center-range li input { width:100px;}
.center-range li .update,.delete { color:#999;cursor:pointer;}
.center-range li .update:hover,.delete:hover{color:#4a98e7;}