
<ul class="easydialog-create">
   <li>
        <span class="width80">企业名称：</span>
        <input maxlength="25" type="text" id="CompanyName" data-empty="* 必填" class="input verify" />
    </li>
    <li>
        <span class="left" style="width:83px;">LOGO：</span>
        <span id="updateLogo" class="btn">选择LOGO</span>
        <img class="absolute-img-save" id="PosterDisImgone" />
    </li>       
    <li>
        <span class="width80">联系人：</span>
        <span><input maxlength="25" type="text" id="ContactNameone" class="verify" data-empty="联系人不能为空!" /></span>
    </li>
    <li>
        <span class="width80">联系电话：</span>
        <span><input type="text" id="MobilePhoneone" class="verify"  maxlength="11" data-empty="电话不能为空!" /></span>
    </li>
    <li>
        <span class="width80">办公电话：</span>
        <span><input maxlength="25" type="text" id="OfficePhoneone" /></span>
    </li>
    <li>
        <span class="width80">地址：</span>
        <span id="citySpan">
            
        </span>
    </li>
    <li>
        <span class="width80"></span>
        <span><input maxlength="50" type="text" placeholder="详细地址..." class="width300" id="Address" /></span>
    </li>
    <li>
        <span class="width80">备注：</span>
        <textarea maxlength="1000" id="Description" style="max-width:800px;max-height:600px;"></textarea>
    </li>
</ul>
