
<ul class="create-model">
    <li>
        <span class="width80">货位编码：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="20" id="depotcode" />
        </span>
    </li>
    <li>
        <span class="width80">货位名称：</span>
        <span>
            <input type="text" maxlength="20" id="name" />
        </span>
    </li>
     <li>
        <span class="width80">状态：</span>
        <label class="hand"> <input type="checkbox" id="status" checked="checked" class="middle mRight5" />启用</label>
    </li>
    <li>
        <span class="width80">描述：</span>
        <textarea id="description"></textarea>
    </li>
</ul>
