
<ul class="easydialog-create">
    <li><span class="left width80">流程名称：</span>
        <input type="text" id="processName" maxlength="20" class="input verify " data-empty="必填" />
    </li>
<!--    <li>
        <span class="left width80">周期（天）：</span>
        <input type="text" id="planDays" maxlength="3" class="input verify width80" data-type="int" data-text="请输入整数" value="7" data-empty="必填" />

    </li>-->
    <li id="processType">
        <span class="left width80">订单阶段：</span>
        <div class="left radiobox hand">
            <span class="iconfont ico-radiobox hover" data-value="1"><span></span></span>
            打样
        </div>
        <div class="left radiobox hand mLeft10">
            <span class="iconfont ico-radiobox" data-value="2"><span></span></span>
            大货
        </div>
        <div class="clear"></div>
    </li>
    <li id="categoryType">
        <span class="left width80">类型：</span>
       <div class="left radiobox hand">
            <span class="iconfont ico-radiobox hover" data-value="1"><span></span></span>
            梭织
        </div>
        <div class="left radiobox hand mLeft10">
            <span class="iconfont ico-radiobox" data-value="2"><span></span></span>
            毛织
        </div>
        <div class="clear"></div>
    </li>
</ul>
<div class="process-items hide" data-order="1" data-type="1">
    <ul>
        <li>面料/辅料</li>
        <li>制版</li>
        <li>做样衣</li>
        <li>审版</li>
        <li>核价</li>
        <li>发货</li>
    </ul>
</div>
<div class="process-items hide" data-order="2" data-type="1">
    <ul>
        <li>推码/工艺单</li>
        <li>面料/辅料</li>
        <li>裁剪</li>
        <li>车缝</li>
        <li>后整</li>
        <li>品控</li>
        <li>发货</li>
    </ul>
</div>
<div class="process-items hide" data-order="1" data-type="2">
    <ul>
        <li>纱线/辅料</li>
        <li>制版/工艺</li>
        <li>织片</li>
        <li>套口/缝盘</li>
        <li>审版</li>
        <li>核价</li>
        <li>发货</li>
    </ul>
</div>
<div class="process-items hide" data-order="2" data-type="2">
    <ul>
        <li>推码/工艺单</li>
        <li>纱线/辅料</li>
        <li>织片</li>
        <li>套口/缝盘</li>
        <li>品控</li>
        <li>发货</li>
    </ul>
</div>
<div class="clear"></div>