
<ul class="easydialog-create">
    <li><span class="left width80">流程名称：</span>
        <input type="text" id="processName" maxlength="20" class="input verify " data-empty="必填" />
    </li>
<!--    <li>
        <span class="left width80">周期（天）：</span>
        <input type="text" id="planDays" maxlength="3" class="input verify width80" data-type="int" data-text="请输入整数" value="7" data-empty="必填" />

    </li>-->
    <li>
        <span class="left width80">订单阶段：</span>
        <select id="processType">
            <option value="1">打样</option>
            <option value="2">大货</option>
        </select>
    </li>
</ul>