
<ul class="easydialog-create">
    <li>
        <span class="width80">阶段名称：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="30" id="iptStageName" />
        </span>
    </li>
    <li>
        {%
            var model=$data;
            if(model.CategoryType==1 && model.ProcessType==1){
        %}
            <span class="stage-item" data-id="11">材料</span>
            <span class="stage-item" data-id="12">制版</span>
            <span class="stage-item" data-id="15">发货</span>
        {% } else if(model.CategoryType==1 && model.ProcessType==2){ %}
            <span class="stage-item" data-id="21">材料</span>
            <span class="stage-item" data-id="23">裁片</span>
            <span class="stage-item" data-id="24">车缝</span>
            <span class="stage-item" data-id="25">发货</span>
        {% } else if(model.CategoryType==2 && model.ProcessType==1){ %}
            <span class="stage-item" data-id="11">材料</span>
            <span class="stage-item" data-id="12">制版</span>
            <span class="stage-item" data-id="15">发货</span>
        {% } else if(model.CategoryType==2 && model.ProcessType==2){ %}
            <span class="stage-item" data-id="21">材料</span>
            <span class="stage-item" data-id="23">织片</span>
            <span class="stage-item" data-id="24">套口</span>
            <span class="stage-item" data-id="25">发货</span>
        {% } %}
    </li>
</ul>
<div class="clear"></div>
