
<ul class="create-model">
    <li>
        <span class="width80">仓库名称：</span><input type="text" maxlength="50" id="warehouseName" data-empty="必填" class="input verify" />
    </li>
    <li>
        <span class="width80">仓库编码：</span><input type="text" maxlength="50" id="warehouseCode"  class="input" />
    </li>
    <li>
        <span class="width80">简称：</span><input type="text" maxlength="20" id="shortName" class="input" />
    </li>
    <li>
        <span class="width80">仓库所在地：</span><span id="warehouseCity"></span>
    </li>
    <li>
        <span class="width80">状态：</span>
        <label for="warehouseStatus" class="hand"><input type="checkbox" id="warehouseStatus" class="middle mRight5" />启用</label>
    </li>
    <li class="depot">
         <span class="width80">货位编码：</span><input type="text" maxlength="50" placeholder="默认货位编码" id="depotCode" data-empty="必填" class="input verify" />
    </li>
    <li class="depot">
         <span class="width80">货位名称：</span><input type="text" maxlength="20" id="depotName" class="input" />
    </li>
    <li>
        <span class="width80">描述：</span><textarea id="description"></textarea>
    </li>
</ul>

