{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
console.log(item);
%}
<tr class="line-item">
    <td colspan="4"></td>
</tr>
<tr class="item-header">
    <td class="tLeft">单号：{%=item.DocCode%}</td>
    <td>总金额</td>
    <td>操作人</td>
    <td>操作日期</td>
</tr>

{%
    for(var k=0,kk=item.Details.length;k<kk;k++)
        {
        var detail=item.Details[k];
        console.log(detail);
%}
        <tr class="item {%=k==kk-1?'last':''%}">
    <td class="tLeft bLeft bBottom">
        <a href="/Products/DocDetail/{%=item.DocID%}" target="_blank">
            {%=detail.ProductName%}
        </a>
    </td>
    {%
    if(k==0)
    {%}
        <td class="center bBottom bLeft" rowspan="{%=kk%}">{%=item.TotalMoney.toFixed(2)%}</td>
        <td class='center bBottom bLeft' rowspan="{%=kk%}">{%=(item.UserName ? item.UserName:"--")%}</td>
        <td class='center bBottom bLeft bRight' rowspan="{%=kk%}">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    {%}%}
     </tr>
{%}%}
    
{% } %}
