

<table id="auditStorageIn" class="table-list">
<tr class="tr-header">
    <td class="tLeft">材料名称</td>
    <td class="tLeft">规格</td>
    <td class="">数量</td>
    <td class="">已入库</td>
    <td class="">入库数量</td>
    <td>货位</td>
</tr>
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr data-id="{%=item.AutoID%}" class="list-item">
    <td class="">{%=item.ProductName%}</td>
    <td class="">{%=item.Remark%}</td>
    <td class="center total">{%=item.Quantity.toFixed(2)%}</td>
    <td class="center complete-count">{%=item.Complete.toFixed(2)%}</td>
    <td class="center"><input class="width60 quantity" maxlength="20" type="text"  value="" /></td>
    <td class="center">
        <select data-id="{%=item.DepotID%}"></select>
    </td>
</tr>
{% } %}

</table>
<ul class="easydialog-create">
    <li>
        <span class="width80 mLeft10">备注：</span>
        <textarea id="expressRemark" maxlength="1000">
            
        </textarea>
    </li>
</ul>