{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="line-item">
    <td colspan="10"></td>
</tr>
<tr class="item-header">
    <td class="tLeft bolder">
        采购单号：{%=item.DocCode%}
    </td>
    <td class="tLeft">名称</td>
    <td  class="tLeft">
        规格
    </td>
    <td>编码</td>
    <td>数量</td>
    <td>总金额</td>
    <td class="bolder">
        {%=item.CreateTime.toDate('yyyy-MM-dd hh:ss:mm')%}
        <div class="right iconfont dropdown" data-status="{%=item.Status%}" data-id="{%=item.DocID%}">
            <span class="{%=item.Status < 2? 'ico-dropdown':''%}"></span>
        </div>
    </td>
</tr>
    
{%
    for(var k=0,kk=item.Details.length;k<kk;k++){
        var detailItem=item.Details[k];
 %}
     <tr class="item {%=k==kk-1?'last':''%}">
        {%
            if(k==0)
            {
         %}
         <td rowspan="{%=kk%}" class="tLeft bBottom bLeft bRight">
             <img onerror="$(this).attr('src','/modules/images/img-noimg.png')" alt="样图" src="{%=item.DocImage?item.DocImage:'/modules/images/img-noimg.png'%}" />
         </td>
         {%}%}
         <td class="bBottom tLeft">{%=detailItem.ProductName%}</td>
         <td class="bBottom tLeft">{%=detailItem.Remark%}</td>
         <td class="bBottom">{%=detailItem.DetailsCode?detailItem.DetailsCode: detailItem.ProductCode%}</td>
         <td class="bBottom">{%=detailItem.Quantity%}</td>
         {%
            if(k==0)
            {
         %}
         <td rowspan="{%=kk%}" class="bBottom bLeft">{%=item.TotalMoney%}</td>
         <td rowspan="{%=kk%}" class="bBottom bRight bLeft">
             <div class="{%=item.Status<2?'red':''%} mBottom10">{%=item.StatusStr%}</div>
             <a href="/Products/DocDetail/{%=item.DocID%}" target="_blank">查看详情</a>
         </td>
         {%}%}
     </tr>
{%}%}
{% } %}