@{
    ViewBag.Title = "MarkColor";
}
@section css{   
    <link href="/modules/css/system/system.css" rel="stylesheet" />
    <link href="/modules/plug/choosecolor/spectrum.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/markcolor"], function (ObjectJS) {@*'@Html.ToJSONString(colorData)'*@
            ObjectJS.init('@ViewBag.Type'); 
        });
    </script>
}
<div class="module-header mTop20">
    <ul class="module-tab left">
        <li class="hover left" data-id="customermark">
            <a href="javascript:void(0);">客户标签设置</a>
        </li>         
        <li class="left" data-id="ordermark">
            <a href="javascript:void(0);">订单标签设置</a>
        </li> 
        <li class="left" data-id="taskmark">
            <a href="javascript:void(0);">任务标签设置</a>
        </li>                
    </ul>    
</div>
<ul class="addmark">
    <li class="customermark" data-id="customermark">
        <div class="btn-add right mRight10">新建标签</div>
    </li>
    <li class="ordermark hide" data-id="ordermark">
        <div class="btn-add right mRight10">新建标签</div>
    </li>
    <li class="taskmark hide" data-id="taskmark">
        <div class="btn-add right mRight10">新建标签</div>
    </li>  
</ul>
<div class="clear"></div>
<div class="mLeft10 mTop20">
    <ul class="color-list mTop5" id="customermark"> 
        
    </ul>
    <ul class="color-list mTop5 hide" id="ordermark"> 
       <li data-id="123123" data-value="' + item.ColorValue + '" data-name="订单"  class="color-item"><div class="left color-leftzuoyou" style=" border-right:18px solid #0094ff "></div><div class="left colordiv" style="background-color:#0094ff;">订单</div></li>
        <li data-id="123123" data-value="' + item.ColorValue + '" data-name="订单"  class="color-item"><div class="left color-leftzuoyou" style=" border-right:18px solid #0094ff "></div><div class="left colordiv" style="background-color:#0094ff;">订单</div></li>
        <li data-id="123123" data-value="' + item.ColorValue + '" data-name="订单"  class="color-item"><div class="left color-leftzuoyou" style=" border-right:18px solid #0094ff "></div><div class="left colordiv" style="background-color:#0094ff;">订单</div></li>
        <li data-id="123123" data-value="' + item.ColorValue + '" data-name="订单"  class="color-item"><div class="left color-leftzuoyou" style=" border-right:18px solid #0094ff "></div><div class="left colordiv" style="background-color:#0094ff;">订单</div></li>
    </ul>
    <ul class="color-list mTop5 hide" id="taskmark"> 
       <li data-id="3333" data-value="' + item.ColorValue + '" data-name="任务"  class="color-item"><div class="left color-leftzuoyou" style=" border-right:18px solid #0094ff "></div><div class="left colordiv" style="background-color:#0094ff;">任务</div></li>
    </ul>
</div>
<ul class="colordrop dropdown-ul hide"  style="width:65px;">
    <li  id="updateColor">编辑</li>
    <li  id="deleteColor">删除</li>
</ul>