@{
    ViewBag.Title = "设置加工品类";
}

@section css{
    <link rel="stylesheet" href="/modules/css/system.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/ordercategory"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">设置加工品类</span>
</div>
<div class="content-body mTop20">
    @foreach (var model in (List<IntFactoryEntity.Category>)ViewBag.Items)
    {
        if (model.Status == 1)
        {
         <div class="ordercategory-item">
             <div class="items-header">
                 @(model.CategoryName)
             </div>
             <ul class="child-items-div">
                 @foreach (var item in model.ChildCategory)
                 {
                     if (item.Status == 1)
                     {
                       <li class="child-item" >
                          <span class="ico-check left pLeft5" data-pid="@(item.PID)" data-id="@(item.CategoryID)">@(item.CategoryName)</span>
                       </li>
                     }
                 }
             </ul>
         </div>
         }
    }
    
</div>
