
/*头部搜索*/
.chooseprocess-header { margin-bottom: 10px; }

.chooseprocess-header .process-category { display:inline-block; padding:0 20px; height:30px; line-height:30px; margin-right:20px; cursor:pointer; border:solid 1px #eee; }
.chooseprocess-header .process-category:hover { border:solid 1px #4a98e7; }
.chooseprocess-header .process-category.hover { background-color:#4a98e7; color:#fff; border:solid 1px #4a98e7; }

/**/
.chooseprocess-body { width:700px; overflow:auto; border-bottom:solid 1px #ccc; padding-bottom:15px; margin-bottom:15px;  }
.chooseprocess-body .chooseprocess { width:700px; }
.chooseprocess-body .chooseprocess .fillter-type { border-bottom:solid 3px #ccc; height:30px; }
.chooseprocess-body .chooseprocess .fillter-type li{ height:30px; line-height:30px; font-size:12px;  border-bottom:solid 3px #ccc; margin-bottom:-3px; }
.chooseprocess-body .chooseprocess .fillter-type li span{ float:left; display:inline-block; }

.chooseprocess-body .chooseprocess .customerlist-items { height:250px; overflow-x:hidden; overflow-y:scroll; }
.chooseprocess-body .chooseprocess .customerlist-items li{ width:100%; height:30px; line-height:30px;cursor:pointer; margin-top:5px; }
.chooseprocess-body .chooseprocess .customer-header { border-bottom:solid 2px #eee;}

.chooseprocess-body .chooseprocess .customerlist-items li span{ float:left;}

.chooseprocess-body .chooseprocess  .name{ width:290px; margin-left:10px;}

