
/*头部搜索*/
.chooseprocess-header { margin-bottom: 10px; }

/**/
.chooseprocess-body { width:700px; overflow:auto; border-bottom:solid 1px #ccc; padding-bottom:15px; margin-bottom:15px;  }
.chooseprocess-body .choosecustomer { width:700px; }
.chooseprocess-body .choosecustomer .fillter-type { border-bottom:solid 3px #ccc; height:30px; }
.chooseprocess-body .choosecustomer .fillter-type li{ height:30px; line-height:30px; font-size:12px;  border-bottom:solid 3px #ccc; margin-bottom:-3px; }
.chooseprocess-body .choosecustomer .fillter-type li span{ float:left; display:inline-block; }

.chooseprocess-body .choosecustomer .customerlist-items { height:250px; overflow-x:hidden; overflow-y:scroll; }
.chooseprocess-body .choosecustomer .customerlist-items li{ width:100%; height:30px; line-height:30px;cursor:pointer; margin-top:5px; }
.chooseprocess-body .choosecustomer .customer-header { border-bottom:solid 2px #eee;}

.chooseprocess-body .choosecustomer .customerlist-items li span{ float:left;}
.chooseprocess-body .choosecustomer .check{ width:30px; display:inline-block;}
.chooseprocess-body .choosecustomer .customer-type { border:solid 1px #4a98e7; height:20px; width:20px; border-radius:11px; line-height:18px; text-align:center; 
                                 font-size:14px; color:#4a98e7; margin:4px 8px 0 0;}
.chooseprocess-body .choosecustomer  .name{ width:290px;}

