{%
    var item=$data;
%}
<div class="author-box">
    <div class="author-content">
        <div class="left author-image">
            <img src="/modules/images/author-image.png" />
        </div>
        <div class="left autnor-msg mLeft20">
            <ul>
                <li>您的剩余使用时间还有<span class="blue">{%=item.remainDay%}</span>天</li>
                <li>系统将在<span class="red">{%=item.remainDate%}</span>暂停使用</li>
                <li>为了不影响您的使用请及时续费</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="author-footer">
        <div id="ExtendNow">立即续费</div>
        <div class="mLeft10 hand no-hint">
            <span class="author-lump"></span>
            <span class="right color" style="margin-top:-1px;">不再提醒</span>
            <div class="clear"></div>
        </div>
    </div>
</div>