{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];

%}

<table class="table-list-order" >
<tr class="list-item" >
    <td width="120px">
        <div class="pic-box">
            <a href="/Orders/OrderDetail/{%=item.OrderID%}">
                <img class="order-pic" onerror="$(this).attr('src','/modules/images/img-noimg.png')" alt="样图" src="{%=item.OrderImage?item.OrderImage:'/modules/images/img-noimg.png'%}" />
            </a>
        {% if(item.GoodsCode){ %}
              <span class="aliorder">
                  <i class="iconfont right">&#xe631;</i>
              </span>
        {% } %}
        </div>
    </td>
    <td width="380px">
        {% if(item.GoodsCode){ %}
        <ul class="order-ul mLeft10">
            <li>
                <span>款式编码：{%=item.IntGoodsCode==""?"--":item.IntGoodsCode%}</span>
            </li>
            <li>
                <span>阿里编码：{%=item.GoodsCode%}</span>
            </li>
            <li>
                <span>订单编号：<a href="/Orders/OrderDetail/{%=item.OrderID%}">{%=item.OrderCode%}</a></span>
            </li>
            <li>
                <span>订单类型：</span><span>{%=item.OrderType==1?"打样":"大货"%}</span>
            </li>
        </ul>
        {% } else{%}
        <ul class="order-ul-3 mLeft10">
            <li>
                <span>款式编码：{%=item.IntGoodsCode==""?"--":item.IntGoodsCode%}</span>
            </li>
            <li>
                <span>订单编号：<a href="/Orders/OrderDetail/{%=item.OrderID%}">{%=item.OrderCode%}</a></span>
            </li>
            <li>
                <span>订单类型：</span><span>{%=item.OrderType==1?"打样":"大货"%}</span>
            </li>
        </ul>
        {% }%}
    </td>   
    {% if(item.OrderType==1){ %}  
        <td width="300px">
            <ul class="order-ul-3">
                <li>
                    <span>报价：{%=item.FinalPrice%}</span>
                </li>
                <li>
                    <span>加工成本：{%=item.CostPrice%}</span>
                </li>
                <li>
                    <span>交货日期：{%=item.PlanTime.toDate("yyyy-MM-dd hh:mm:ss")%}</span>
                </li>
            </ul>
        </td>        
    {% }else{ %}
        <td width="300px">
            <ul class="order-ul">
                <li>
                    <span>单价：{%=item.FinalPrice%}</span>
                </li>                
                <li>
                    <span>数量：{%=item.PlanQuantity%}</span>
                </li>
                <li>
                    <span>总价：{%=item.TotalMoney.toFixed(2)%}</span>
                </li>
                <li>
                    <span>交货日期：{%=item.PlanTime.toDate("yyyy-MM-dd hh:mm:ss")%}</span>
                </li>
            </ul>
        </td>     
       
    {% } %}
   
    <td>
        <ul class="order-ul-3">
            <li>
                <span>联系人：{%= item.PersonName ||"--"%}</span>
            </li>
            <li>
                <span>联系电话：{%=item.MobileTele||"--"%}</span>
            </li>
            <li>
                <span>负责人：{%=(item.Owner ? item.Owner.Name:"--")%}</span>
            </li>
           
        </ul>
        
    </td>
</tr>
</table>
{% } %}
