{%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
        var totalDay=(item.UseDays==0?1:item.UseDays)+(item.WarningDays==0?1:item.WarningDays);
        var classname=(item.GoodsCode==''?'mTop20':'mTop15');       
%}
    <div class="order-item">
        <a href="/Orders/OrderDetail/{%=item.OrderID%}">
            <div class="hint-layer">
                <div class="hint-msg {%=item.WarningStatus==1?'warning':item.WarningStatus==2?'pass':'hide'%}">{%=item.WarningStatus==1?"快到期":item.WarningStatus==2?"已超期":""%}</div>
            </div>
        </a>        
        <div class="left order-img pic-box">
            <a href="/Orders/OrderDetail/{%=item.OrderID%}">
                <img src="{%=item.OrderImage==""?'/modules/images/img-noimg.png':item.OrderImage%}" onerror="$(this).attr('src','/modules/images/img-noimg.png')" />
            </a>            
        </div>

        <ul class="details left">
            <li>
                <div class="bottom-line">
                    <div class='order-title'>
                        <a href="/Orders/OrderDetail/{%=item.OrderID%}" title='{%=item.GoodsName + item.IntGoodsCode==""? item.OrderCode:item.GoodsName+ "&nbsp;" + item.IntGoodsCode%}' class='long width200 font16 color333 mRight10 {%=item.SourceType==3?"left":""%}' >{%=item.GoodsName + item.IntGoodsCode==""? item.OrderCode:item.GoodsName+ "&nbsp;" + item.IntGoodsCode%}</a>
                    </div>
                    {% if(item.SourceType==3){ %}
                        <div class="hight20 mBottom3">
                            <div class="left color-leftzuoyou" style=" border-right:10px solid #ffa200; "></div>
                            <div class="left colordiv hight20" style="background-color:#ffa200;">
                                <i class="iconfont font18" style="color:#fff !important;">&#xe631;</i>
                            </div>
                        </div>
                    {% } %}

                    {%  if(item.OrderType==1){ %}
                            <div class="right color333" style="height:20px;margin-top:-20px;">
                                <span class="left">{%=item.OrderStatus==2?"最终报价:":"期望报价:"%}</span>
                                <span class="mLeft10 left color333 tLeft long price" style="display:block;width:50px;" title='{%=item.OrderType==1?item.PlanPrice:item.FinalPrice%}' >{%=item.OrderStatus==2?item.TotalMoney:item.PlanPrice!=""?item.PlanPrice:"0"%}
                                </span>
                            </div>
                     {% }else{ %} 
                            <div class="right color333" style="height:20px;margin-top:-20px;">
                                <span class="left">{%=item.OrderStatus==2?"最终报价:":item.OrderStatus==1?"单价:":"期望报价:"%}</span>
                                <span class="mLeft10 left color333 tLeft long" style="display:block;width:50px;" title='{%=item.OrderStatus==2?item.TotalMoney:item.OrderStatus==1?item.FinalPrice:item.PlanPrice%}' >
                                    {%=item.OrderStatus==2?item.TotalMoney:item.OrderStatus==1?item.FinalPrice:item.PlanPrice!=""?item.PlanPrice:"--"%}
                                </span>
                            </div>
                    {%  } %}
                    <div class="clear"></div>
                </div>              
            </li>
            <li style="height:40px;">
                <div class="left mTop10 mRight30 ordertype-title">
                    <i class="iconfont {%=item.OrderType==1?'mLeft3':''%} mRight5">{%=item.OrderType==1?"&#xe612;":"&#xe60f;"%}</i>
                    <span>{%=item.OrderType==1?"打样":"大货"%}</span>
                </div>
                {% if(item.OrderType==2){ %}
                    <div class="mTop10 left mRight30 mLeft60 orderquantity">
                        <i class="iconfont left">&#xe635;</i>
                        <span class="mLeft10 left" style="width:40px;display:block;">{%=item.PlanQuantity%}</span>
                    </div>     
                {% } %}   
                <div class='left customer font14 width60 color000 {%=item.OrderType==1?"mLeft155":"mLeft5"%}'>负责人:</div>  
                <span class="long left customer font14 width100 color333" title='{%=(item.Owner ? item.Owner.Name:"--")%}'>{%=(item.Owner ? item.Owner.Name:"--")%}</span> 
                <div class="clear"></div>
            </li>
            <li style="height:30px;">
                <div class="left customermark">
                    <i class="iconfont font16" style="margin-right:7px;">&#xe601;</i>
                    <span class="font14">{%=item.PersonName%}</span>
                </div>
            </li>
            <li>          
                <div class="left width120">
                    <i class="iconfont" style="margin-right:7px;">&#xe64f;</i>
                    <span>{%=item.MobileTele==""?"--":item.MobileTele%}</span>
                </div>                      
                <div class="right" style="margin-right:93px;">
                    <div class="left font14 color000 width60" style="margin-top:-2px;">进&nbsp;&nbsp;&nbsp;度:</div>
                    
                    <span class="right width50" style="display:block">{%=item.TaskCount==0?"0.00%":(item.TaskOver/item.TaskCount*100).toFixed(2)+"%"%}</span>
                </div>               
            </li>
            <div class="clear"></div>
        </ul>
        
        <div class="left center width200 mTop40">
            <span class="font14 color333">交货日期</span>
            <div class="font14 mTop10 {%=item.WarningStatus==2?'red':'color333'%}">{%=item.PlanTime.toDate("yyyy-MM-dd")== "0001-01-01"||item.PlanTime.toDate("yyyy-MM-dd")=="1900-01-01"||item.PlanTime.toDate("yyyy-MM-dd")=="2040-01-01"?"未设置":item.PlanTime.toDate("yyyy-MM-dd")%}</div>
        </div>
        <div class="left septal mTop20"></div>
        {% if(item.OrderStatus==0){ %}
            <div class="mTop10 mLeft80 left">
                <div class="order-progress left">                    
                    <div class="center pTop20 red">
                        未处理
                    </div>                       
                    <div class="mTop20">订单创建时间:<span class="mLeft10">{%=item.CreateTime.toDate("yyyy-MM-dd")%}</span></div>
                    <div class="clear"></div>
                </div>
            </div>    
        {% }else{ %}
            <div class="mTop40 mLeft65 left">
                <div class="order-progress left">
                    <div class="layer-line"></div>
                    <div class="order-progress-use order-progress-item" data-width="{%=(item.UseDays==0?1:item.UseDays)/totalDay*100+'%'%}">
                        <div class="progress-tip">{%=item.UseDays==0?1:item.UseDays%}天</div>
                        <div class="top-lump"></div>
                    </div>
                    <div class="{%=item.WarningStatus==1?'order-progress-warn':item.WarningStatus==2?'order-progress-exceed':item.WarningStatus==3?'order-progress-complete':'order-progress-have'%} order-progress-item" data-width="{%=(item.WarningDays==0?1:item.WarningDays)/totalDay*100+'%'%}">
                        <div class="progress-tip">{%=item.WarningStatus==2?"超期":item.WarningStatus==0?"剩余":item.WarningStatus==1?"剩余":"完成"%}{%=item.WarningDays==0?1:item.WarningDays%}天</div>
                        <div class="top-lump"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="center pTop20">
                    {%=totalDay%}天
                </div>                
                <div class="mTop20">订单{%=item.WarningStatus==3?"完成":"下单"%}时间:<span class="mLeft10">{%=item.WarningStatus==3?item.EndTime.toDate("yyyy-MM-dd"):item.OrderTime.toDate("yyyy-MM-dd")%}</span></div>
                <div class="clear"></div>
            </div>
        {% } %}        
        <div class="clear"></div>
    </div>
{%}%}