{%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
        var totalDay=(item.UseDays==0?1:item.UseDays)+(item.WarningDays==0?1:item.WarningDays);

%}
   <div class="order-item">
        <ul class="order-header">
            <li>
                <span class="mark left mTop5" data-id="{%=item.TaskID%}" data-value="{%= item.ColorMark %}"></span>
                <a href="/Task/Detail/{%=item.TaskID%}" class="width200 long mLeft10" title='{%=(item.Order.GoodsName + item.Order.IntGoodsCode)?(item.Order.GoodsName+ " " + item.Order.IntGoodsCode): item.TaskCode%}'>
                    {%=(item.Order.GoodsName + item.Order.IntGoodsCode)?(item.Order.GoodsName+ " " + item.Order.IntGoodsCode): item.TaskCode%}
                </a>
            </li>
            {% if(item.Order.SourceType==3){ %}
                <li>
                    <div class="mTop3" title="阿里订单">
                        <div class="left color-leftzuoyou" style=" border-right:10px solid #ffa200;"></div>
                        <div class="left colordiv" style="background-color:#ffa200; height:20px; line-height:22px;">
                            <i class="iconfont font18" style="color:#fff !important;">&#xe631;</i>
                        </div>
                    </div>
                </li>
            {% } %}
            <li class="center right" style="width:260px;">
                任务派发日期：{%=item.CreateTime.toDate("yyyy-MM-dd")%}
            </li>
            <li class="right long" style="width:255px;">
                负责人：{%=(item.Owner ? item.Owner.Name:"--")%}
            </li>
        </ul>
        <ul class="order-detail">
            <li class="order-image">
                <a href="/Task/Detail/{%=item.TaskID%}" >
                    <img src="{%= item.Order.OrderImage||'/modules/images/img-noimg.png' %}" onerror="$(this).attr('src','/modules/images/img-noimg.png')" />
                </a> 
            </li>  
            <li class="order-info" style="position:relative;">
                <div class="bold font14">
                    <span class="column-title font14">任务名称：</span>
                    {%=item.Title==""?"--":item.Title%}
                </div>
                <div>
                    <span class="column-title">接受日期：</span>
                    {%=item.AcceptTime.toDate("yyyy-MM-dd")<="1900-01-01"||item.AcceptTime.toDate("yyyy-MM-dd")>="2040-01-01"?"未接受":item.AcceptTime.toDate("yyyy-MM-dd")%}
                </div>
                <div>
                    <span class="column-title">进度：</span>
                    {%=item.FinishStatus==0?'未接受':item.PreFinishStatus==2?'已完成':'进行中'%}
                </div>
                <div>
                    <span class="column-title">订单类型：</span>
                    {%=item.OrderType==1?"打样":"大货"%}
                </div>
                <span style="position:absolute;right:-26px;top:-32px"
                class="iconfont ico-reply right font20 show-task-reply stage-items {%=(item.FinishStatus == 0 ? 'normal' : item.FinishStatus == 1 ? 'ing' : 'over')%}"
               data-stageid="{%=item.StageID%}" data-lock="no"
                    data-orderid="{%=item.OrderID%}" data-taskid="{%=item.TaskID%}" data-mark="{%=item.Mark%}">
                </span>
            </li>  
            <li class="order-time right">
                {% if(item.FinishStatus==0){ %}
                    <div class="mTop10 left">
                        <div class="order-progress left">                    
                            <div class="center pTop20 red">
                                未接受
                            </div>                       
                            <div class="center mTop20">结束日期：未设置</div>
                            <div class="clear"></div>
                        </div>
                    </div>    
                {% }else if(item.FinishStatus==1){ %}
                    <div class="mTop40">
                        <div class="order-progress left">
                            <div class="layer-line"></div>
                            <div class="order-progress-use order-progress-item" data-width="{%=(item.UseDays==0?1:item.UseDays)/totalDay*100+'%'%}">
                                <div class="progress-tip">{%=item.UseDays==0?1:item.UseDays%}天</div>
                                <div class="top-lump"></div>
                            </div>
                            <div class="{%=item.WarningStatus==1?'order-progress-warn':item.WarningStatus==2?'order-progress-exceed':item.WarningStatus==3?'order-progress-complete':'order-progress-have'%} order-progress-item" data-width="{%=(item.WarningDays==0?1:item.WarningDays)/totalDay*100+'%'%}">
                                <div class="progress-tip">{%=item.WarningStatus==2?"超期":item.WarningStatus==0?"剩余":item.WarningStatus==1?"剩余":"完成"%}{%=item.WarningDays==0?1:item.WarningDays%}天</div>
                                <div class="top-lump"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="center pTop20">
                            {%=totalDay%}天
                        </div>
                        <div class="mTop20">结束日期：<span class="mLeft10">{%=item.EndTime.toDate("yyyy-MM-dd")%}</span></div>
                    </div>
                {% }else{ %}    
                     <div class="mTop40 left">
                        <div class="order-progress left">
                            <div class="layer-line"></div>
                            <div class="order-progress-use order-progress-item" data-width="{%=(item.UseDays==0?1:item.UseDays)/totalDay*100+'%'%}">
                                <div class="progress-tip">{%=item.UseDays==0?1:item.UseDays%}天</div>
                                <div class="top-lump"></div>
                            </div>
                            <div class="{%=item.WarningStatus==1?'order-progress-warn':item.WarningStatus==2?'order-progress-exceed':item.WarningStatus==3?'order-progress-complete':'order-progress-have'%} order-progress-item" data-width="{%=(item.WarningDays==0?1:item.WarningDays)/totalDay*100+'%'%}">
                                <div class="progress-tip">{%=item.WarningStatus==2?"超期":item.WarningStatus==0?"剩余":item.WarningStatus==1?"剩余":"完成"%}{%=item.WarningDays==0?1:item.WarningDays%}天</div>
                                <div class="top-lump"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="center pTop20">
                            {%=totalDay%}天
                        </div>
                        <div class="mTop20">完成日期：<span class="mLeft10">{%=item.CompleteTime.toDate("yyyy-MM-dd")%}</span></div>
                    </div>
                {% } %}    
            </li>
            <li class="order-customer right">
                <div class="mTop5">
                    <span class="column-title">上级任务：</span>
                    {%=item.PreTitle||"--"%}
                </div>
                {%if(item.PreFinishStatus==2 ){%}
                    <div style="color:#067BE4">
                        <span class="column-title">上级进度：</span>
                        已完成
                    </div>
                    <div>
                        <span class="column-title">完成日期：</span>
                        {%=item.PCompleteTime.toDate("yyyy-MM-dd")%}
                    </div>   
                {% }else if (item.PreFinishStatus==1){%}
                    <div style="color:#02C969">
                        <span class="column-title">上级进度：</span>
                        进行中
                    </div>
                    <div>
                        <span class="column-title">结束日期：</span>
                        {%=item.PEndTime.toDate("yyyy-MM-dd")%}
                    </div>   
                {% }else if (item.PreFinishStatus==0){%}
                    <div style="color:red">
                        <span class="column-title">上级进度：</span>
                        未接受
                    </div>
                    <div>
                        <span class="column-title">结束日期：</span>
                        {%=item.PEndTime.toDate("yyyy-MM-dd")<="1900-01-01"||item.PEndTime.toDate("yyyy-MM-dd")>="2040-01-01"?"未设置":item.PEndTime.toDate("yyyy-MM-dd")%}
                    </div>   
                 {% }else{%}
                    <div style="color:red">
                        <span class="column-title">上级进度：</span>
                        --
                    </div>
                    <div>
                        <span class="column-title">结束日期：</span>
                        --
                    </div>   
                {% }%}  
            </li>   
        </ul>
    </div>
{%}%}