.login-body {
position:relative;
background:none;
}

.content {
padding:20px 160px;
}

.content .title {
    font-size:20px;
    padding:10px 0px;
}

.content p {
    font-size:16px;
    color:#000;
    padding:15px 0px;
}

.content ul li {
line-height:35px;
}

.content .content-detail {
    padding:5px 30px;
    list-style:disc;
}

.content .content-detail li{
    list-style:disc;
}

@media only screen and (max-width:450px) {
    .content {
    padding:20px;
    }

    .login-body .copyright {
    display:none;
    }
}