@{
    ViewBag.Title = "我的活动";
}

@section css{
<link href="/modules/css/customer/activity.css" rel="stylesheet" />
 }

@section scripts{
<script src="/Scripts/jquery-1.11.1.js"></script>
<script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/activity/activity"], function (ObjectJS)
        {
            ObjectJS.init('@ViewBag.Option');
        });

        $(function () {
            var begin = {
                elem: '#BeginTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                elem: '#EndTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    begin.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(begin);
            laydate(end);
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">我的活动</span>
    <a href="Create" class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current,"101029001"))">添加活动</a>
</div>

<div class="search-box">
    <div class="search-header">
        <ul class="search-tab search-stages">
            <li data-id="-1">全部</li>
            <li data-id="2"  class="hover">进行中</li>
            <li data-id="3">未开始</li>
            <li data-id="1">已结束</li>
        </ul>
        <div class="right">
            <div class="displayTab left" data-type="1">
                <img src="/modules/images/ico-list-blue.png" />
            </div>
            <div class="displayTab left mLeft15" data-type="2">
                <img src="/modules/images/ico-card-gray.png" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="content-body">
    <div class="search-body">
        <div id="chooseBranch" class="left"></div>
        <div id="ActivityType" class="left"></div>

        <div class="left mLeft20">
            <span class="width80">活动时间：</span><input type="text" id="BeginTime"  class="input"  />
            <span style="padding:0px 5px 0px 3px;">至</span><input type="text" id="EndTime"  class="input"  />
            <span class="btn mLeft10" id="SearchActivity">搜索</span>

        </div>
        <div class="right searth-module" data-text="输入活动名称..." data-width="150"></div>
        <div class="clear"></div>
    </div>
    

    <table class="activityList" width="100%" border="0"  cellpadding="0" cellspacing="0"></table>

    <ul class="activityCardList"></ul>

    <div id="pager" class="mTop20"></div>
</div>

<ul class="dropdown-ul hide" style="width:65px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101029002"))" id="setObjectRole">编辑</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101029003"))" id="deleteObject">删除</li>
</ul>

