@{
    ViewBag.Title = "Share";
    Layout = null;
}
<link href="/modules/css/base.css" rel="stylesheet" />

<script src="/Scripts/jquery-1.11.1.js"></script>
<link href="/modules/plug/sharemingdao/style.css" rel="stylesheet" />


<ul class="shareMingdaoDialog" id="shareMingdaoPost">
    <li style="margin-top:0px;">
        <div><textarea style="" class="postMsg"></textarea></div>
    </li>
    <li>
        <div class="right mLeft10"><input type="button" class="btn" value="分享" /></div>
        <div class="right" style="padding-top:4px;position:relative;">
            <div style="color:#666;cursor:pointer;" onclick="$(this).next().slideToggle(500);">选择分享范围</div>
            <div class="shareMDGroups hide">
                <ul>
                    <li>
                        <span class="ico-check pLeft5">所有同事</span>
                    </li>
                    <li>
                        <span class="ico-check pLeft5">1</span>
                    </li>
                     <li>
                         <span class="ico-check pLeft5">2</span>
                    </li>
                     <li>
                         <span class="ico-check pLeft5">3</span>
                    </li>
                    <li>我自己</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </li>
</ul>

<script type="text/javascript">
    $(function () {
        
    });
</script>











