
<div style="max-height:300px;min-width:600px; overflow:auto;">
<table  class="table-list" style="text-indent:0;">
<tr class="tr-header">
    <td class="tLeft" style="text-indent:0">材料名称</td>
    <td class="tLeft">规格</td>
    <td class="">采购量</td>
    <td class="">入库量</td>
    <td>已消耗</td>
    <td class="">数量</td>
</tr>
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr data-id="{%=item.ProductDetailID%}" class="list-item">
    <td style="text-indent:0">{%=item.ProductName%}</td>
    <td class="" >{%=item.Remark%}</td>
    <td class="center purchase-count">{%=item.PurchaseQuantity.toFixed(3)%}</td>
    <td class="center">{%=item.InQuantity.toFixed(3)%}</td>
    <td class="center">{%=item.UseQuantity.toFixed(3)%}</td>
    <td class="center"><input class="width50 quantity" type="text" maxlength="20" value="0" /></td>
</tr>
{% } %}
</table>
</div>