{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<ul class="easydialog-create" id="plateBox">
    <li>
        <span class="width80">名称：</span>
        <span>
            <input type="text" value="{%=item.Title%}" id="plateTitle" />
        </span>
    </li>
    <li>
        <span class="width80">类型：</span>
        <select id="selectType">           
            <option value="1">裁剪</option>
            <option value="2">粘衬</option>
            <option value="3">缝制工艺</option>
            <option value="4">成衣整烫</option>
            <option value="5">成衣检验</option>
            <option value="6">成品包装</option>
        </select>
    </li>
    <li>
        <span class="width80">图标：</span>
        <span id="selectPlateIcon" class="btn">选择图标</span>
        <div class="plate-show-ico hide"><img /></div>
            <input type="hidden" id="plateIcon" value="{%=item.Icon%}"/>
    </li>
    <li>
        <span class="width80">描述：</span>
        <textarea id="plateRemark" maxlength="200">{%=item.Remark%}</textarea>
    </li>
</ul>
{% } %}
