{%
    var TypeName='';
    var isLast=0;
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
    if($data[i+1]){
        if($data[i+1].TypeName!=item.TypeName){
            isLast=1;
        }
    }else{
        isLast=1;
    }
%}
    {% if(TypeName!=item.TypeName){
    %}
    <tr class="table-header tr-header">
        <td class="font14 tLeft width300 bold plate-name" data-name="{%=item.TypeName%}">工艺类型：{%=item.TypeName%}</td>
        <td class="bold">名称</td>                    
        <td class="tLeft bold">描述</td>
        <td class="width150 bold">创建时间</td>
        <td class="center width150 bold">操作</td>
    </tr>
    {% TypeName=item.TypeName } %}
    
    <tr class="list-item" id="tr-plate-{%=item.PlateID%}">
        <td class="tLeft item bBottom">
            <img style="width:30px;height:30px;text-indent: 0;float:left;" src="{%=item.Icon%}" />
            <span id="trPlate{%=Math.random()%}" class="btn-add add-img mLeft20" style="text-indent:0;float:left;display:none;">添加图片</span>
            <div class="clear"></div>
        </td>
        <td class="center item bBottom">{%=item.Title%}</td>        
        <td class="tLeft item show-all-txt bBottom" style="line-height:150%;">{%=item.Remark%}</td>
        <td class='center item width150 bBottom'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
        <td class="center item dropdown width150 bBottom" data-id="{%=item.PlateID%}" data-index="{%=i%}" data-title="{%=item.Title%}">
            <span class="ico-dropdown"></span>
        </td>
    </tr>
{% 
if(isLast==1){ 
isLast=0;
%}
<tr class="list-item">
    <td colspan="5" class="center" style="padding:0 0 5px 0;">
       <div class="add-plate font16 color999 hand hBlue" data-typeName="{%=TypeName%}" style="text-indent:0;line-height:40px;">+添加{%=item.TypeName%}工艺</div>
    </td>
</tr>
{%}%}
{%} %}