{%
    var TypeName="";
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
    {% if(TypeName!=item.TypeName){ %}
    <tr class="mTop20 item-header">
        <td class="font14 pLeft10 tLeft bold width150">类型：{%=item.TypeName%}</td>
        <td class="width150 tLeft bold">名称</td>                    
        <td class="bold tLeft">描述</td>
        <td class="bold width200">创建时间</td>  
    </tr>
    {% TypeName=item.TypeName } %}
    
    <tr class="list-item" id="tr-plate-{%=item.PlateID%}">
        <td class="tLeft item bBottom"><img style="width:30px;height:30px;" src="{%=item.Icon?item.Icon:'/modules/images/img-noimg.png'%}" /></td>
        <td class="tLeft item bBottom">{%=item.Title%}</td>        
        <td class="item bBottom tLeft" style="line-height:150%;word-break:break-all;">{%=item.Remark%}</td>
        <td class='center item bBottom'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    </tr>
{% } %}
