{%
    var type=0;
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
    {% if(type!=item.Type){ %}
    <tr class="mTop20 typetitle">
        <td  class="font14 pLeft10" colspan="5">{%=item.Type==1?"裁剪":item.Type==2?"粘衬":item.Type==3?"缝制工艺":item.Type==4?"成衣整烫":item.Type==5?"成衣检验":"成品包装"%}</td>
    </tr>
    <tr class="tr-header">
        <td class="width50">图标</td>
        <td class="width200">名称</td>                    
        <td class="width150">描述</td>
        <td>创建时间</td>       
    </tr>
    {% type=item.Type } %}
    
    <tr class="list-item" id="tr-plate-{%=item.PlateID%}">
        <td><img style="width:30px;height:30px;" src="{%=item.Icon%}" /></td>
        <td class="center">{%=item.Title%}</td>        
        <td class="center show-all-txt">{%=item.Remark%}</td>
        <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
       
    </tr>

{% } %}
