<td class="width200 tLeft item bBottom">
    <img class="plate-ico-img" style="width:30px;height:30px;display:block;float:left;" src="/modules/images/img-noimg.png" />
    <span id="trPlate{%=Math.random()%}" class="btn-add add-img mLeft20" style="text-indent:0;float:left;">选择图片</span>
</td>
<td class="center item bBottom">
    <input type="text" class="txt-name" />
</td>        
<td class="tLeft show-all-txt item bBottom" style="line-height:150%;">
    <input type="text" class="desc" />
</td>
<td class="width300 center item bBottom" colspan="2">
    <span class="btn save-plate">保存</span>
    <span class="btn999 mLeft20 cencal-plate">取消</span>
</td>