{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<div class="taskContent" id="taskDetailContent" data-taskid="{%=item.TaskID%}">
    <div class="pAll15">
    <div class="taskOperate">
        <div class="left">
            <div class="left"><img title="到期日期" style="width:30px;" src="/modules/images/ico-endtime.png" /></div>
            <div class="left mLeft10"><input type="text" style="width:80px;" id="{%=item.FinishStatus==2?'':'UpdateTaskEndTime'%}" value="{%=item.EndTime.toDate('yyyy-MM-dd')=='3939-01-01'?'未指定日期':item.EndTime.toDate('yyyy-MM-dd')%}" placeholder="设置到期日期"/></div>
            <div class="clear"></div>
            
        </div>
        <div class="right mRight10">
            {%
            if(item.FinishStatus==1 || item.FinishStatus==0){%}
            <input type="button" class="btn" id="FinishTask" value="标记完成"/>
            {% }
            else{%}
            <span class="taskFinishStatus">已完成</span>
            {% } %}
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="taskDetail">
        
        <ul class="left">
            <li>
                <span class="column-title">任务内容:</span>
                <span>{%=item.Title%}</span>
            </li>
             <li>
                <span class="column-title">负责人:</span>
                <span>{%=item.Owner.Name%}</span>
            </li>
              <li>
                <span class="column-title">订单编号:</span>
                <a href="/Customer/OrderDetail/{%=item.OrderID%}" target="_blank">{%=item.OrderCode%}</a>
            </li>
           
        </ul>
        <div class="right"> <img class="right width100" onerror="$(this).attr('src','/modules/images/img-noimg.png')" src="{%=item.OrderImg==''?'/modules/images/img-noimg.png':item.OrderImg%}"/></div>
        <div class="clear"></div>

    </div>

    <div id="navRemark" class="mTop20 talk-body nav-partdiv">
        <div class="content-main">
            <textarea id="txtContent" class="txt-content" placeholder="发表评论"></textarea><br />
            <div class="btn right mTop5" id="btnSaveTalk">提交</div>
            <div class="clear"></div>
        </div>
        <div class="talk-title"> 全部讨论 </div>
         <table class="content-list" id="replyList">

         </table>
        <div id="pagerReply" class="mTop10"></div>
    </div>
    </div>
</div>
{% } %}
