{%
    for(var i=0;i<$data.length;i++)
    {
    var item=$data[i];
%}
<tr class="item cart-item" >
    <td class="center">{%=item.Remark%}</td>
    <td class="center good1">{%=item.Quantity%}</td>
    <td class="good2 center">{%=item.CutQuantity%}</td>
    <td class="center good3">{%=item.Complete%}</td>
    <td class="center good4">{%=item.SendQuantity%}</td>
    <td class="center good5">{%=item.Complete - item.SendQuantity%}</td>
</tr>                
{%}%}
<tr class="total-item bold" >
    <td class="center">合计：</td>
    <td class="center" data-class="good1"></td>
    <td class="center" data-class="good2"></td>
    <td class="center" data-class="good3"></td>
    <td class="center" data-class="good4"></td>
    <td class="center" data-class="good5"></td>
</tr>