{%
	for(var i=0, j=$data.length; i < j; i++)
    {
	    var item = $data[i];
%}
        <li data-filepath="{%=item.filePath%}" data-filename="{%=item.fileName%}" data-filesize="{%=item.fileSize%}" data-originalname="{%=item.originalName%}" data-isimg="{%=item.isImage%}">
            <div class="upload-lump left mRight20" style="top:5px;"> 
            <div class="content long width35" title="{%=item.extensions%}">{%=item.extensions%}</div>
                <div class="lump"></div>
            </div>
            <div class="information mLeft10 width120">
            <span title="{%=item.originalName%}" class="long width60">{%=item.originalName%}</span>
            <span title='{%=item.fileSize/1024/1024<1?(item.fileSize/1024).toFixed(2)+"KB":(item.fileSize/1024/1024).toFixed(2)+"MB"%}'>{%=item.fileSize/1024/1024<1?(item.fileSize/1024).toFixed(2)+"KB":(item.fileSize/1024/1024).toFixed(2)+"MB"%}</span></div>
            <span class="ico-delete-upload delete iconfont">&#xe628;</span>
        </li>
{%}%}