{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="name"><a href="/Orders/Detail/{%=item.OrderID%}" target="_blank">{%=item.Title%}</a></td>
    <td class="desc">{%=item.OrderID%}</td>
    <td class="desc">{%=item.Owner.Name%}</td>
     <td class='center'>{%=item.EndTime==null?"未指定日期":item.EndTime.toDate("yyyy-MM-dd")%}</td>
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class="center dropdown" data-id="{%=item.TaskID%}">
        <span class="ico-dropdown"></span>
    </td>
</tr>
{% } %}
