{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<div class="taskContent" id="taskDetailContent" data-taskid="{%=item.TaskID%}">
    <div class="taskOperate">
        <div class="left">
            <input type="text" style="width:80px;" id="UpdateTaskEndTime" value="设置到期日期"/>
        </div>
        <div class="right mRight10">
            <input type="button" class="btn" value="标记完成"/>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="taskDetail">
        <ul>
            <li>
                <span class="column-title">任务内容:</span>
                <span>测试中</span>
            </li>
             <li>
                <span class="column-title">样图:</span>
                <span>测试中</span>
            </li>
            <li>
                <span class="column-title">负责人:</span>
                <span>测试中</span>
            </li>
            <li>
                <span class="column-title">任务进度:</span>
                <span>测试中</span>
            </li>
        </ul>


    </div>

    <div id="navRemark" class="mTop20 talk-body nav-partdiv">
        <div class="content-main">
            <textarea id="txtContent" class="txt-content left" placeholder="发表评论"></textarea>
            <span class="btn btn-save" id="btnSaveTalk">提交</span>
        </div>
        <div class="talk-title"> 全部讨论 </div>
         <table class="content-list" id="replyList">

         </table>
        <div id="pagerReply" class="mTop10"></div>
    </div>



</div>
{% } %}
