{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="desc"><span class="check ico-checked" title="已完成"></span></td>
    <td class="center"><a href="/Orders/Detail/{%=item.OrderID%}" target="_blank">{%=item.OrderID%}</a></td>
    <td class="center">{%=item.OrderImg%}</td>
    <td class="desc">{%=item.Stage.StageName%}</td>
    <td class="desc">{%=item.Owner.Name%}</td>
     <td class='center'>{%=item.EndTime==null?"未指定日期":item.EndTime.toDate("yyyy-MM-dd")%}<a class="mLeft5">指定日期</a></td>
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class="center dropdown" data-id="{%=item.TaskID%}">
        <span class="ico-dropdown"></span>
    </td>
</tr>
{% } %}
