
.table-items-detail .orderitem { height:140px;background-color:#fff; }
.table-items-detail .orderitem td{ border-bottom:solid 1px #ddd;}

.table-items-detail .order-goodscode { width:300px; float:left; margin-left:10px; font-weight:bold; display:inline-block; height:25px; line-height:25px; text-align:left; }
.table-items-detail .view-detail { color:#666; font-size:20px; cursor:pointer; }
.table-items-detail .order-image{ width:120px; }
.table-items-detail .order-image img{ max-width:120px; max-height:120px; vertical-align:middle; }

.table-items-detail .order-costinfo { padding-left:20px; }
.table-items-detail .order-costinfo div{ height:35px; line-height:35px; color:#333; }
.table-items-detail .order-costinfo .column-title { display:inline-block; height:35px; line-height:35px; width:80px; color:#666; }

.table-items-detail .order-customer { width: 270px; padding-left:10px; border-left:solid 1px #ddd;}
.table-items-detail .order-customer div{ height:45px; line-height:45px; color:#333; }
.table-items-detail .order-customer a,.table-items-detail .order-customer span{ display:inline-block; height:45px; line-height:45px; float:left;}
.table-items-detail .order-customer .column-title { width:100px; margin-left:5px;}

/*阿里标记*/
.colordiv { padding: 0px 5px; cursor: pointer; }
.color-leftzuoyou { width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; cursor: pointer; }

.table-items-detail .order-time { width:160px; padding:0 50px; border-left:solid 1px #ddd; }

.order-progress { margin-top: 15px; width: 160px; position: relative; }
.order-progress .layer-line { width: 160px; height: 4px; left: 0; top: 0; z-index: 9999; transition: 3.5s; -webkit-transition: 3.5s; -moz-transition: 3.5s; 
                                  position: absolute; background-color: rgba(255,255,255,0.8); }
.order-progress .order-progress-item { width: 80px; height: 4px; min-width: 5px; max-width: 155px; background-color: #5994e6; float: left; position: relative; }
.order-progress .order-progress-use { width: 100px; background-color: #5994e6; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }

.order-progress .order-progress-have { width: 60px; background-color: #ccc; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .order-progress-exceed { width: 60px; background-color: #f35353; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .order-progress-warn { width: 60px; background-color: #ffa200; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .order-progress-complete { width: 60px; background-color: #2F73B8; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .top-lump { border-top: solid 4px #49b3f5; border-left: solid 2px transparent; border-right: solid 2px transparent; 
                                width: 0; height: 0; position: absolute; left: 40px; top: -10px; }
.order-progress .progress-tip { background-color: #49b3f5; padding: 2px 0; min-width: 54px; text-align: center; white-space: nowrap; 
                                    border-radius: 2px; color: #fff; position: absolute; top: -29px; }

.color-progress { height: 4px; width: 160px; background-color: #ccc; }
.order-progress-use .top-lump { border-top-color: #49b3f5; }

.order-progress-use .progress-tip { background-color: #49b3f5; }

.order-progress-have .top-lump { border-top-color: #ddd; }

.order-progress-have .progress-tip { background-color: #ddd; }
.order-progress-exceed .top-lump { border-top-color: #f35353; }

.order-progress-exceed .progress-tip { background-color: #f35353; }
.order-progress-warn .top-lump { border-top-color: #ffa200; }

.order-progress-warn .progress-tip { background-color: #ffa200; }

.order-progress-complete .top-lump { border-top-color: #2F73B8; }
.order-progress-complete .progress-tip { background-color: #2F73B8; }
