
<table class="table-list child-product-table">
    <tr class="tr-header">
        <td class="tLeft">图片</td>
        <td class="tLeft">规格</td>
        <td>编码</td>
        <td>价格</td>
        <td>描述</td>
        <td>删除</td>
    </tr>
    {%
	    for(var i=0, j=$data.length; i < j; i++){
	    var item = $data[i];
    %}
    <tr class="list-item" data-attr="{%=item.saleAttr%}" data-value="{%=item.attrValue%}" data-desc="{%=item.names%}" data-attrvalue="{%=item.ids%}">
        <td>
            <img class="" src="/modules/images/default.png" />
            <span style="text-indent:0;" class="upload-child-img mTop20 mLeft20 btn" id="span-{%=item.guid%}">选择图片</span>
        </td>
        <td>{%=item.names%}</td>
        <td class="center"><input type="text" value="" class="code" maxlength="25" /></td>
        <td class="center"><input type="text" maxlength="10" value="0" class="price width80" /></td>
        <td class="center"><input type="text" value="" class="remark" maxlength="500" /></td>
        <td class="center"><a class="ico-del iconfont hRed font20 mTop3" title="删除" href="javascript:void(0);"></a></td>
    </tr>
{% } %}
</table>
