{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="width80">
        <a href="/Products/ChooseDetail?pid={%=item.ProductID%}" target="_blank">
            <img onerror="$(this).attr('src','/modules/images/img-noimg.png')" alt="略缩图" src="{%=item.ProductImage?item.ProductImage:'/modules/images/img-noimg.png'%}" /></a>
    </td>
    <td><a href="/Products/ChooseDetail?pid={%=item.ProductID%}" target="_blank">{%=item.ProductName%}</a></td>
    <td>{%=item.ProductCode%}</td>
    <td class="center">{%=item.Price.toFixed(2)+'/'+item.UnitName%}</td>
    <td class='center'><div class="status" data-id="{%=item.ProductID%}" data-value="{%=item.Status==1%}"></div></td>
    <td class='center'>{%=item.IsPublicStr%}</td>
    <td>{%=item.CategoryName%}</td>
    <td>{%=item.ProviderName%}</td>
    <td class="center"><a class="ico-edit iconfont" title="编辑" href="ProductDetail/{%=item.ProductID%}">&#xe607;</a></td>
</tr>
{% } %}
