
<ul class="easydialog-create product-details-add" id="imgSLurl">
    <li>
        <span class="width80">编码：</span>
        <input type="text" maxlength="50" id="detailsCode" data-empty="* 必填" class="input" />
    </li>
    <li>
        <span class="width80">描述：</span>
        <input type="text" maxlength="50" id="detailsRemark" class="input" />
    </li>
<!--    <li>
        <span class="column-name">条形码：</span><input type="text" maxlength="50" id="shapeCode" class="input" />
    </li>-->
    {%
	    for(var i=0, j=$data.length; i < j; i++){
	    var item = $data[i];
    %}
        <li data-id="{%=item.AttrID%}" class="productattr">
                <span class="width80 attrname">{%=item.AttrName%}：</span>
                <select id="{%=item.AttrID%}">
                    {%
	                    for(var ii=0, jj=item.AttrValues.length; ii < jj; ii++){
	                    var value = item.AttrValues[ii];
                    %}
                        <option value="{%=value.ValueID%}">{%=value.ValueName%}</option> 
                    {% } %}
                    <option value="|">自定义</option>
                </select>
                <input type="text" class="width100 hide customize" />               
        </li>
    {% } %}
    <li class="specification">
        <span class="width80">规格：</span>
        <input type="text" maxlength="50" data-empty="*" id="iptRemark" class="input verify" />
    </li>
    <li>
        <span class="width80">价格/<label id="unitName"></label>：</span>
        <input type="text" maxlength="10" data-empty="*" data-type="double" data-text="请输入数字!"  id="detailsPrice" class="input verify width80" />
        
    </li>
    <li id="bigpriceli">
        <span class="width80">价格/<label id="bigName"></label>：</span>
        <input type="text" maxlength="10" data-empty="*" data-type="double" data-text="请输入数字!"  id="bigPrice" class="input verify width80" />
        *<label id="bigquantity"></label>
    </li>
    <li>
        <span class="width80">缩略图：</span>
        <span id="imgSIco" class="btn">添加图片</span>
    </li>
 </ul>
<img class="product-imgS" id="imgS" alt="" src="/modules/images/default.png" />
