<ul class="easydialog-create">
    <li>
        <span class="width80">名称：</span><input type="text" maxlength="20" id="providerName" data-empty="必填" class="input verify" />
    </li>
    <li>
        <span class="width80">联系人：</span><input type="text" maxlength="60" id="contact" class="input" />
    </li>
    <li>
        <span class="width80">联系方式：</span><input type="text" maxlength="15" id="mobiletele" class="input" />
    </li>
    <li>
        <span class="width80">城市：</span><span id="city"></span>
    </li>
    <li>
        <span class="width80">地址：</span><input type="text" maxlength="500" id="address" class="input" />
    </li>
    <li>
        <span class="width80">备注：</span><textarea id="description"></textarea>
    </li>
</ul>