
<ul class="create-model category-add">
    <li>
        <span class="width80">分类名称：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="20" id="categoryName" />
        </span>
    </li>
    <li>
        <span class="width80">状态：</span>
        <span>
            <input type="checkbox" id="categoryStatus" checked="checked" class="middle hand" />
            <label for="categoryStatus" class="hand">启用</label>
        </span>
    </li>
    <li>
        <span class="width80">描述：</span>
        <textarea id="description"></textarea>
    </li>
</ul>
