
<ul class="easydialog-create">
    <li>
        <span class="width80">名称：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="20" id="name" />
        </span>
    </li>
    <li>
        <span class="width80">排序：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" data-type="number" data-text="格式不正确" maxlength="2" id="sort" />
        </span>
    </li>
    <li>
        <span class="width80">描述：</span>
        <textarea id="description"></textarea>
    </li>
</ul>
