
<table class="table-list child-product-table">
    <tr class="tr-header">
        <td class="tLeft">规格</td>
        <td>编码</td>
        <td>价格</td>
        <!--<td>大单位购买单价</td>-->
        <td>删除</td>
    </tr>
    {%
	    for(var i=0, j=$data.length; i < j; i++){
	    var item = $data[i];
    %}
    <tr class="list-item" data-attr="{%=item.saleAttr%}" data-value="{%=item.attrValue%}" data-attrvalue="{%=item.ids%}">
        <td>{%=item.names%}</td>
        <td class="center"><input type="text" value="" class="code" /></td>
        <td class="center"><input type="text" value="0" class="price width80" /></td>
       <!-- <td class="center"><input type="text" value="0" class="bigprice width80" /></td>-->
        <td class="center"><a class="ico-del iconfont font20" title="删除" href="javascript:void(0);"></a></td>
    </tr>
{% } %}
</table>
