
.taskContent { 
    background-color: #fff; 
    margin: 0 20px; 
    padding: 10px;
    clear:both;
    overflow:auto; 
}
.taskContent .taskBaseInfo li {
    line-height:55px;
}
.taskOperate {
    margin-top:9px;
    padding-bottom:14px;
    border-bottom:1px solid #eee; 
}
.taskOperate .taskEndTime {
    width:120px;
}
.taskDetail {
    padding-right:10px;
}
.taskDetail .column-title {
    width:70px;
    display:inline-block;
    color:#999;
}
.taskFinishStatus{  
    color:#999; 
    font-size:16px;
    line-height:18px; 
}
.task-time {
    padding:5px 6px;
    border-radius:5px;
    background-color:#4a98e7;
    color:#fff;
}
.order-remark {
    width:100%;
    margin-top:20px;
    word-break: break-all;
    line-height:40px;
    padding:0px 5px;
    border:1px solid #eee;
}

.task-member .removeTaskMember {
    font-size:16px;
    font-weight:bold;
}

/*任务样图信息*/
.order-imgs-div {
    cursor:pointer;
}
.order-imgs-div .order-imgs {
    width:350px;
    height:350px; 
    background-color:#f9f9f9;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}
.order-imgs-div .order-imgs img{
    max-width:350px;
    max-height:350px;
    background:url('/modules/images/none-img.png') no-repeat center;
    background-color:#f0f0f0;
}
.order-imgs-list {
    max-width:350px;
    word-wrap:break-word; 
    word-break:break-all;

}
.order-imgs-list li{
    width:40px;
    height:40px;
    border:solid 2px #eee; 
    margin-right:5px; 
    cursor:pointer;
    float:left;
}
.order-imgs-list li.hover{ 
    border-color:red;
}
.order-imgs-list li img{
    max-width:40px;
    max-height:40px;
    top:50%;
    position:relative;
     left:50%; 
     transform: translate(-50%,-50%);
}

/*切换图片*/
.enlarge-image-bgbox {
    width:100%;
    height:100%; 
    position:fixed;
    top:0; 
    left:0; 
    background-color:#666;
    z-index:9999; 
    opacity:0.9; 

}
.enlarge-image-bgbox .iconfont{ 
    float:right; 
    color:#fff; 
    font-size:20px; 
    margin:10px 10px 0 0; 
    cursor:pointer; 
}
.enlarge-image-bgbox .iconfont:hover{ 
    color:#4a98e7;  
}
.enlarge-image-box{ 
    position:fixed; 
    top:40px; 
    bottom:40px; 
    left:100px; 
    right:100px; 
    z-index:19999; 

}
.left-enlarge-image,.right-enlarge-image {
    position:fixed;
    width:40px;
    height:100px; 
    cursor:pointer;
    cursor:pointer;

}
.left-enlarge-image {
     left:100px;  
     background:url('/modules/images/ico-prev-image.png') no-repeat;
     background-size:cover;
}
.left-enlarge-image:hover {  
    background:url('/modules/images/ico-prev-image-hover.png') no-repeat;
    background-size:cover;
}
.right-enlarge-image { 
    right:100px; 
    background:url('/modules/images/ico-next-image.png') no-repeat;
    background-size:cover; 
}
.right-enlarge-image:hover {  
    background:url('/modules/images/ico-next-image-hover.png') no-repeat;
    background-size:cover; 
}
.enlarge-image-item{
    position:fixed;
    top:40px;
    bottom:40px;
    left:200px;
    right:200px; 
}

/*制版属性*/
.platemakingContent {
    margin:10px 0px;
}
.platemakingContent .iconfont{
    color:#666;
    font-size:24px;
}
.platemakingContent .print-plate {
    line-height:24px;
    vertical-align:text-bottom;
    color:#4a98e7;
    display:inline-block;
    margin-left:2px;
}
.platemakingBody {
    border-top:1px solid #eee;
    border-left:1px solid #eee;
}
.platemakingBody td {
    border-bottom:1px solid #eee;
    border-right:1px solid #eee;
}
.platemakingContent .tbContent {
    cursor:pointer;
}
.platemakingContent .tbContentIpt {
    width:80px;
}
.platemakingContent .btn-create{
    height:24px; 
    min-width:24px;
    cursor:pointer;
    background:url(../../images/btn-add.png) no-repeat; 
}
.platemakingContent .btn-remove{
     background:url(../../images/btn-remove.png) no-repeat; 
     height:24px; 
     min-width:24px;
     cursor:pointer;
}
.platemakingContent .platemakingOperate {
    margin:0px auto;
    width:60px;
}

.platemakingContent .content-main {
    width:800px;
}

.platemakingContent .txt-content {
    width:800px;
}

.create-first { 
    height:70px; 
    line-height:60px; 
    margin:50px auto; 
    width:200px; 
    border:solid 1px #eee; 
    box-shadow:0 0 10px #ccc; 
    text-align:center;
    color:#4a98e7; 
    font-size:18px; 
    cursor:pointer;

}
.create-first .plus{
    color:#4a98e7; 
    font-size:30px; 
    font-weight:bold; 
    top:3px; 
    position:relative; 
}

/*品类属性选择层*/
.role-items { 
    width:455px; 
    overflow:auto; 
}
.role-items li{
    width:100px; 
    height:35px;
    float:left;
    line-height:35px;
    border:solid 1px #ccc; 
    margin:10px 5px; 
    text-align:center; 
    cursor:pointer; 
}
.role-items li:hover{ 
    border-color:#2F73B8; 
    color:#2F73B8;
}
.role-items li.hover{ 
    border-color:#2F73B8; 
    color:#fff; 
    background-color:#2F73B8;
}

/*任务讨论*/
.task-replys {
    width:800px;
}
.task-replys .txt-content {
    height:100px;
}
.task-replys .btn-save { 
    position:absolute; 
    right:0; 
    bottom:0px; 
}
 .talk-title { 
    border-bottom: solid 1px #ccc; 
    height:40px; 
    line-height:40px; 
    color:#666; 
}
.taskreply-box {
    height:30px;
    overflow:hidden;
    border:1px solid  #ddd;
    padding:10px 10px 0px 10px;
    border-radius:3px;
}
.taskreply-box .reply-content {
    border:none;
    height:100px;
    width:100%;
    border-bottom:1px solid #ddd;
}
.taskreply-box-hover {
    height:auto;
    border: 1px solid #666;
    overflow:visible;
}
.taskreply-box .iconfont { 
    font-size:28px;
    height:28px;
    line-height:30px;
    color:#888;
    cursor:pointer;
    background-color:#fff;
    border:0;
}
.taskreply-box .iconfont:hover { 
    color:#007aff;
}
.reply-box .iconfont { 
    font-size:28px;
    height:28px;
    line-height:30px;
    color:#888;
    cursor:pointer;
    margin-top:5px;
    background-color:#fff;
    border:0;
}
.reply-box .iconfont:hover { 
    color:#007aff;
}
.task-replys .content-list {
    width:100%;
}
.accessory { 
    margin-top:10px;
}
.accessory li{ 
   position:relative;
   float:left;
   margin-right:40px;
   border:1px solid #efefef;
   width:120px;
   height:80px;
   text-align:center;
   font-size:0;
   line-height:80px;
}
.accessory li img{ 
    max-width:120px;
    max-height:80px;
    vertical-align:middle;
}
.accessory li .ico-delete{ 
    background: url(/modules/images/ico-delete.png) no-repeat;
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    left:55px;
    top:-10px;
}

.task-replys .content-list td{ 
    border-bottom:dashed 1px #ccc; 
}
.task-replys .content-list .user-avatar { 
    width:35px; 
    padding-top:20px; 
    vertical-align:top; 
}
.task-replys .content-list .user-avatar img{ 
    width:24px; 
    height:24px; 
    border-radius:12px;  
    vertical-align:top; 
}
.task-replys .content-list tr:not(:first-child) td {
    height:35px;
}
.task-replys .content-list .reply-box {
    border:1px solid  #ddd;
    padding:10px 10px 10px 10px;
    border-radius:3px;
}
.task-replys .content-list .reply-box:hover {
    border: 1px solid #666;
}
.task-replys .content-list .reply-box textarea {
    width:100%;
    border:none;
    height:60px;
    border-bottom:1px solid #ddd;  
}
.btn-emotion {
    background:url(/modules/images/ico-emotion.png) no-repeat center center;
    width:28px;
    height:28px;
    cursor:pointer;
}
.btn-emotion:hover {
    background:url(/modules/images/ico-emotion-hover.png) no-repeat center center;  
}

/*标记筛选*/
.search-item-color { 
    clear:both; 
    overflow:auto; 
    margin:10px 0; 
}
.search-item-color li{ 
    float:left; 
    margin-right:20px; 
    cursor:pointer;
}
.search-item-color .column-name{ 
    width:60px; 
    padding:2px 5px; 
    color:#999; 
    font-size:12px; 
}
.search-item-color .item{ 
    width:12px; 
    height:12px;  
    border-radius:7px; 
    margin-top:5px;
}
.search-item-color .item.hover{ 
    width:20px; 
    height:20px;
    border-radius:11px; 
    margin-top:2px;
}
.search-item-color .mark-all {
     background:url('/modules/plug/mark/ico-ball.png') no-repeat; 
     background-size:cover; 
     border:solid 1px #fff;
}
.search-item-color .mark0 { 
    background-color:#FFF; 
    border:solid 1px #ccc; 
}
.search-item-color .mark1 { 
    background-color:#FF7C7C; 
    border:solid 1px #FF7C7C; 
}
.search-item-color .mark2 { 
    background-color:#3BB3FF; 
    border:solid 1px #3BB3FF; 
}
.search-item-color .mark3 { 
    background-color:#9F74FF; 
    border:solid 1px #9F74FF; 
}
.search-item-color .mark4 { 
    background-color:#FFC85D; 
    border:solid 1px #FFC85D; 
}
.search-item-color .mark5 { 
    background-color:#FFF65F; 
    border:solid 1px #FFF65F; 
}

/*title*/
.content-title ul li { 
    float:left; 
    height:50px; 
    border-left:solid 1px #eee; 
    font-size:14px; 
    color:#666; 
    padding:0 20px; 
}
.content-title ul .iconfont { 
    font-size:20px;
}

.list-item .title-layer { text-overflow: inherit !important;}
.list-item .list-hint-info { padding:2px 8px;background-color:red;color:#fff;border-radius:5px;height:18px;line-height:18px;margin-right:10px;}
/*切换任务列表(列表、卡片式)显示图标*/
.search-sort li:last-child .iconfont{font-size:19px;cursor:pointer; color:#aaa;vertical-align:middle;}
.search-sort li:last-child .iconfont:first-child { border-right:1px solid #ccc; padding-right:10px;}
.search-sort li:last-child .checked {color:rgb(74, 152, 231);}

.task-item { width:250px;border:1px solid #efefef;cursor:pointer;float:left;margin-top:20px;margin-right:15px;box-sizing:border-box;background-color:#f9f9f9;overflow:hidden;}
.task-item:hover { border-color:#3F9BE8;}
.task-item .task-imgtitlemark img {width:50px;height:50px;}
.task-top .picbox {position:relative;height:248px; width:248px;}
.task-item .image-box { text-align: center; display: table-cell; height: 248px; width:248px;vertical-align:middle;text-align:center;}

.task-top .picbox img{ max-width:248px;max-height:248px;}


.list-pic-box {position:relative;}
.task-top .picbox .hint-layer,.list-pic-box .hint-layer { position:absolute;left:0;top:0;width:50px;height:50px;display:block;overflow:hidden;}
.task-top .picbox .hint-msg,.list-pic-box .hint-msg {width:80px;height:24px;background:red;color:#fff;line-height:24px;margin-left:-23px;margin-top:5px;text-align:center;transform: rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);}

.task-top .picbox .hint-msg.warning,.list-pic-box .hint-msg.warning { background-color:rgba(255,165,0,0.7); }
.task-top .picbox .hint-msg.excced,.list-pic-box .hint-msg.excced { background-color:rgba(237,0,0,0.7);}

.task-layer {position:absolute;left:0;bottom:0;width: 248px;background: rgba(119,119,119,0.6);padding:5px 0;}
.task-imgtitlemark li:first-child {width:210px;}
.task-imgtitlemark li:last-child span{display:inline-block; width:14px;height:14px;margin-right:10px;}
.task-item div {color:#999;}
.task-item div span {color:#999;}
.task-item .remain-time, .task-item .remain-time span { color:#fff;}

.task-item .task-footer { overflow:hidden;height:40px;padding:5px 10px;background: #f9f9f9;}
.task-item .task-footer div { float:left;line-height:20px;height:20px;margin-top:10px;}
.task-item .task-footer div:first-child { margin-top:8px;}
.task-item .task-footer div:last-child {text-align:right;min-width:80px;}
.task-footer div:last-child span {display:inline-block;vertical-align:top;height:20px;}
.task-footer .task-type .iconfont { font-size:20px;}
.task-item .task-footer .task-status {border-left:5px solid;padding-left:10px;margin-left:30px;}


.task-item .task-owner img { width:20px;height:20px;border-radius:50%;}
.task-item .task-owner{white-space:nowrap;text-overflow:ellipsis;}

.task-item .task-footer .task-noaccept {border-color:red;color:red;}
.task-item .task-footer .task-underway { border-color:#1CC362;color:#1CC362;}
.task-item .task-footer .task-finish { border-color:#3F9BE8;color:#3F9BE8;}


/*成员列表样式*/
/*暂无成员*/
.memberlist .member-title {line-height:30px;height:30px;margin-bottom:5px;padding-bottom:5px;}

/*.memberlist .member-boxs { max-height:320px;overflow-y:auto;}*/

/*设置表格宽度*/
.member-items tr td:first-child{width:166px;}
.member-items tr td:nth-child(2),.member-items tr td:nth-child(3) { width:82px;}
.member-items tr td:last-child { width:50px;}
.member-items .member-nodata-txt td { width:380px !important;}

.memberlist .member-items {width:100%;border:1px solid #ededed;border-collapse:collapse;}
.memberlist .member-items tbody { display:block;max-height:238px;overflow-y:auto;width:380px;}
.memberlist .member-items tr { text-align:center;line-height:34px;}
.memberlist thead tr { display:block;width:380px;}
.member-items tr:first-child td:first-child .iconfont { line-height:1;}
.memberlist .member-items tr:last-child td { padding-bottom:5px;}
.memberlist .member-items tbody tr td:last-child { font-size:20px;padding-top:4px;}
.memberlist .member-items thead td { text-align:inherit;font-size:12px;height:40px;background-color:#efefef;color:#999;}
.member-items td i { font-style:normal;vertical-align:middle;}
.member-items i img { width:22px;height:22px;border-radius:50%;vertical-align:middle;}
.memberlist .membername { width:100px;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.removeTaskMember { color:#999;}
.removeTaskMember:hover {color:#4a98e7; }
.task-members .iconfont{
    font-size:24px;
    color:#888;
    margin-right:5px;
}

.plate-show-ico {
    margin:10px 0 0 82px;
}

.plate-show-ico img {
    max-width:60px;
}

/*上传*/
.no-img {margin-right:10px;}
.no-img li { float:left;position:relative;margin-right:20px;margin-bottom:10px;}
.no-img li img{ width:35px;height:40px;margin-right:3px;}
.no-img div{ font-size:10px;color:#aaa;line-height:20px;cursor:pointer;}
.no-img div span{ color:#aaa;}
.no-img .ico-delete-upload{position:absolute;top:-5px;width:20px;height:20px;right:0;font-size:10px; color:#bbb;}

/*回复*/
.logo-upload { background-color:#eee;width:60px;height:60px;float:left;margin-right:10px;position:absolute;z-index:100;}
.logo-upload img{ margin:10px 0 0 13px;}
.upload-lump {position:relative;left:13px;top:10px;width:35px;height:40px;background-color:#1DE9B6; }
.upload-lump .content { color:#efefef;text-align:center;line-height:40px;font-size:12px;}
.upload-lump .lump { position:absolute;right:0;top:0;z-index:888;width:0;height:0;border-top:5px solid #eee;border-right:5px solid #eee;border-left:5px solid rgba(0,0,0,0.1);border-bottom:5px solid rgba(0,0,0,0.1);}
.information-upload { background-color:#fafafa;position:relative;margin-left:60px;}
.information-upload .filename{color:#222;margin-top:7px;}
.popup-download { height:60px;background-color:#ccc;width:111px;z-index:100;top:0;left:60px;position:absolute;
                  font-size:28px !important;text-align:center;color:#fff !important;line-height:60px !important;}
