.taskContent {
background-color: #fff;
padding:15px;
padding-bottom:100px
}

.taskContent .taskDetail {
padding-top:15px;
}

.taskContent .taskBaseInfo li {
padding-bottom:25px;
}

.taskOperate {
margin-top:9px;
padding-bottom:14px;
border-bottom:1px solid #eee; 
}

.taskOperate .taskEndTime {
    width:120px;
}

.taskDetail .column-title {
width:70px;
display:inline-block;
}

.taskFinishStatus{  padding:5px 10px; background-color:#ccc; color:#333; border:none; display:inline-block; border-radius:2px; line-height:18px; }

/*任务样图信息*/
.order-imgs-div { width:300px; padding:10px 10px 0 0;cursor:pointer;}
.order-imgs-div .order-imgs img{ height:260px; width:300px;}
.order-imgs-list li{ width:40px; height:40px; float:left; border:solid 2px #eee; margin-right:5px; cursor:pointer;}
.order-imgs-list li.hover{ border-color:red;}
.order-imgs-list img{ width:40px; height:40px;}

.enlarge-image-bgbox { width:100%;height:100%; position:fixed; top:0; left:0; background-color:#666; z-index:9999; opacity:0.9; }
.enlarge-image-bgbox .close-enlarge-image { position:fixed; top:10px; right:10px;}

.left-enlarge-image,.right-enlarge-image {position:fixed;  width:40px; height:100px;  cursor:pointer;cursor:pointer; }
.left-enlarge-image { left:100px;  background:url('/modules/images/ico-prev-image.png') no-repeat;background-size:cover;}
.left-enlarge-image:hover {  background:url('/modules/images/ico-prev-image-hover.png') no-repeat;background-size:cover;}
.right-enlarge-image { right:100px; background:url('/modules/images/ico-next-image.png') no-repeat;background-size:cover; }
.right-enlarge-image:hover {  background:url('/modules/images/ico-next-image-hover.png') no-repeat;background-size:cover; }
.enlarge-image-box{ position:fixed;  top:40px; bottom:40px; left:100px; right:100px; text-align:center; z-index:19999; }
.enlarge-image-box img { text-align:center; }


/*制版属性*/
.platemakingContent {
margin:20px 0px;
}

.platemakingBody {
border-top:1px solid #eee;
border-left:1px solid #eee;
}

.platemakingBody td {
border-bottom:1px solid #eee;
border-right:1px solid #eee;
}

.platemakingContent .tbContent {
cursor:pointer;
}

.platemakingContent .tbContentIpt {
width:80px;
}

.platemakingContent .btn-create{ background:url(../../images/btn-add.png) no-repeat; height:24px; min-width:24px;cursor:pointer;}

.platemakingContent .btn-remove{ background:url(../../images/btn-remove.png) no-repeat; height:24px; min-width:24px;cursor:pointer;}

.platemakingContent .platemakingOperate {
margin:0px auto;
width:60px;
}


/*品类属性选择层*/
.role-items { width:455px; overflow:auto; }
.role-items li{ width:100px; height:35px; float:left; line-height:35px; border:solid 1px #ccc; margin:10px 5px; text-align:center; cursor:pointer; }
.role-items li:hover{ border-color:#2F73B8; color:#2F73B8;}
.role-items li.hover{ border-color:#2F73B8; color:#fff; background-color:#2F73B8;}

/*新增制版属性*/
.create-first { height:70px; line-height:60px; margin:50px auto; width:200px; border:solid 1px #eee; box-shadow:0 0 10px #ccc; text-align:center;
color:#4a98e7; font-size:18px; cursor:pointer;}
.create-first .plus{color:#4a98e7; font-size:30px; font-weight:bold; top:3px; position:relative; }

/*讨论*/
.talk-body {}
.talk-body .content-main {position:relative; width:800px;}
.talk-body .content-main .txt-content { height:100px; width:800px;}
.talk-body .content-main .btn-save { position:absolute; right:0; bottom:0px; }

.talk-body .talk-title { border-bottom: solid 1px #ccc; height:40px; line-height:40px; color:#666; }
.talk-body .content-list {width:800px;}
.talk-body .content-list td{ border-bottom:dashed 1px #ccc; }
.talk-body .content-list .user-avatar { width:35px; padding-top:20px; vertical-align:top; }
.talk-body .content-list .user-avatar img{ width:24px; height:24px; border-radius:12px;  vertical-align:top; }


.table-list tr:not(:first-child) td {
height:35px;
}

.replyBox {
width:780px;
height:30px;
overflow:hidden;
border:1px solid  #ddd;
padding:10px 10px 0px 10px;
border-radius:3px;
}

.replyBox .replyContent {
border:none;
width:780px;
height:100px;
border-bottom:1px solid #ddd;
}

.autoHeight {
height:auto;
}

.order-remark {
    display:inline-block;
    word-break: break-all;
    width: 450px;
}

