@{
    ViewBag.Title = "模块产品列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/modulesproduct"], function (ModulesProduct) {
            ModulesProduct.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title">平台收费列表</span>
    <a class="btn right" href="Detail">新建收费产品</a>
</div>

<div class="content-body mTop20">
    <div class="right searth-module"> </div>
    <div class="clear"></div>
    <table class="table-list mTop20">
        <tr class="tr-header">
            <td width="10%">操作</td>
            <td class="">模块</td>
            <td class="">周期量</td>
            <td class="">周期</td>
            <td class="">人数</td>
            <td class="">价格</td>
            <td class="">描述</td>
            <td class="">创建时间</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
