

.process-stages { border:dashed 1px #ccc; padding:20px; }

.process-info .info{ font-size:16px; height:25px; line-height:25px;}

/*阶段*/
.stage-items { height:40px; width:80%; }
.stage-items  li{ float:left; height:40px; position:relative; cursor:pointer;  margin-right:10px; }
.stage-items  li:hover{ background-color:#2F73B8;}
.stage-items  li.normal{ background-color:#eee; border:solid 1px #ccc;}
.stage-items  li span{ float:left; display:inline-block; font-size:14px;}

.stage-items  li .name{ height:40px; line-height:40px; color:#333; padding-left:10px;}
.stage-items  li .status{ height:40px; line-height:40px; color:#333;}
.stage-items  li .status-bg { width:20px; height:20px; border-radius:10px; background-color:#fff; margin:10px; }
.stage-items  li .status-bg .status-color { width:14px;height:14px; border-radius:7px; margin:3px; background-color:#ccc; }


/*阶段行为项*/
.stageitems { width:100%; overflow:auto; }
.stageitems li{ width:33%; height:25px; min-width:200px; line-height:25px; float:left; color:#666; text-indent:5px; }

.nav-partdiv { margin-bottom:100px; }


/*讨论备忘*/
.talk-body { }
.talk-body .content-main { height:150px; position:relative; width:700px; }
.talk-body .content-main .txt-content { height:148px; width:640px; background-color:#f7f7f7; border:solid 1px #eee; }
.talk-body .content-main .txt-content:focus { border:solid 1px #318ae4;}
.talk-body .content-main .btn-save { position:absolute; right:0; bottom:0px; }

.talk-body .talk-title { border-bottom: solid 1px #4a98e7; height:40px; line-height:40px; width: 700px; color:#666; }
.talk-body .content-list { width: 700px; }
.talk-body .content-list td{ border-bottom:dashed 1px #ccc; }
.talk-body .content-list .user-avatar { width:35px; padding-top:20px; vertical-align:top; }
.talk-body .content-list .user-avatar img{ width:24px; height:24px; border-radius:12px;  vertical-align:top; }




