
/*样图信息*/
.order-imgs-div { width:400px; padding:10px 20px 0 0;}
.order-imgs-div .order-imgs img{ height:400px; width:400px;}
.order-imgs-list { height:56px; }
.order-imgs-list li{ width:56px; height:56px; float:left; border:solid 2px #eee; margin-right:6px; cursor:pointer; position:relative;}
.order-imgs-list li.hover{ border-color:red;}
.order-imgs-list img{ width:56px; height:56px;}
.order-imgs-list .edit-orderimages { font-size:40px; width:56px; height:56px;  color:#999; line-height:45px; text-align:center; }
.order-imgs-list .ico-delete { position:absolute; top:-8px; right:-8px; background-color:#fff; border-radius:10px; }


/*订单信息*/
.order-info { width:400px; margin-left:50px; overflow:auto; }
.order-info li{ line-height:35px; clear:both; }
.order-info li .column-title{ width:100px; float:left; color:#999; }
.order-info li .column-value{ max-width:300px; float:left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color:#666;}

.process-stages { border:dashed 1px #ccc; padding:20px; overflow:auto;  }

.process-info .info{ font-size:16px; height:25px; line-height:25px;}

/*阶段*/
.stage-items { height:40px; width:100%; }
.stage-items  li{ float:left; height:40px; position:relative; cursor:pointer;  margin-right:10px; margin-top:10px; }
.stage-items  li a { overflow:auto; display:inline-block; height:40px; }
.stage-items  li:hover{ background-color:#2F73B8;}
.stage-items  li.normal{ background-color:#f3f3f3; border:solid 1px #ccc;}
.stage-items  li.ing{ background-color:#bfeed3 ; border:solid 1px #C0EED2;}
.stage-items  li.over{ background-color:#3A7DE5; border:solid 1px #3A7DE5;}
.stage-items  li span{ float:left; display:inline-block; font-size:14px;}

.stage-items  li .name{ height:40px; line-height:40px; color:#333; padding-left:10px;}
.stage-items  li .status{ height:40px; line-height:40px;}
.stage-items  li .status-bg { width:20px; height:20px; border-radius:10px; background-color:#fff; margin:10px; }
.stage-items  li .status-bg .status-color { width:14px;height:14px; border-radius:7px; margin:3px;  }

.stage-items  li.normal .status-color{ background-color:#ccc;}
.stage-items  li.ing .status-color{ background-color:#0AA350 ;}
.stage-items  li.over .status-color{ background-color:#3A7DE5;}

.stage-items  li.normal .status,.stage-items  li.normal .name{ color:#333;}
.stage-items  li.ing .status,.stage-items  li.ing .name{ color:#333 ;}
.stage-items  li.over .status,.stage-items  li.over .name{ color:#fff;}

/*订单状态记录*/

.status-items { width:200px; padding-top:10px; }
.status-items li{ width:100%; overflow:auto; }
.status-items span { display:inline-block; line-height:16px; float:left; color:#999; }
.status-items .status-bg { width:16px;height:16px; border-radius:8px; background-color:#ccc; }
.status-items .status-line { width:4px;height:30px; background-color:#eee; margin-left:6px; }

.status-items .status-time { width:70px; }

.nav-partdiv { margin-bottom:50px; }


/*讨论备忘*/
.talk-body { }
.talk-body .content-main { position:relative; width:700px; }
.talk-body .content-main .txt-content { height:148px; width:640px; background-color:#f7f7f7; border:solid 1px #eee; }
.talk-body .content-main .txt-content:focus { border:solid 1px #318ae4;}
.talk-body .content-main .btn-save { position:absolute; right:0; bottom:0px; }

.talk-title { border-bottom: solid 1px #ccc; height:40px; line-height:40px; width: 700px; color:#666; }
.talk-body .content-list { width: 700px; }
.talk-body .content-list td{ border-bottom:dashed 1px #ccc; }
.talk-body .content-list .user-avatar { width:35px; padding-top:20px; vertical-align:top; }
.talk-body .content-list .user-avatar img{ width:24px; height:24px; border-radius:12px;  vertical-align:top; }

/*任务讨论输入框*/
.replyBox {
width:680px;
height:30px;
overflow:hidden;
border:1px solid  #ddd;
padding:10px 10px 0px 10px;
border-radius:3px;
}

.replyBox .replyContent {
border:none;
width:680px;
height:100px;
border-bottom:1px solid #ddd;
}

.autoHeight {
height:auto;
}




