
.table-items-detail .orderitem { height:140px; }
.table-items-detail .orderitem td{ border-bottom:solid 1px #ddd; }

.table-items-detail .order-goodscode { width:300px; float:left; margin-left:10px; font-weight:bold; display:inline-block; height:25px; line-height:25px; text-align:left; }
.table-items-detail .view-detail { color:#666; font-size:20px; cursor:pointer; }

.table-items-detail .order-image{ width:120px; }
.table-items-detail .order-image a { }
.table-items-detail .order-image img{ max-width:120px; max-height:120px; vertical-align:middle; }

.table-items-detail .order-costinfo { padding-left:20px; }
.table-items-detail .order-costinfo div{ height:35px; line-height:35px; color:#333; }
.table-items-detail .order-costinfo .column-title { display:inline-block; height:35px; line-height:35px; width:80px; color:#666; }

.table-items-detail .order-customer { width: 270px; padding-left:10px; border-left:solid 1px #ddd;}
.table-items-detail .order-customer div{ height:45px; line-height:45px; color:#333; }
.table-items-detail .order-customer a,.table-items-detail .order-customer span{ display:inline-block; height:45px; line-height:45px; float:left;}
.table-items-detail .order-customer .column-title { width:60px; margin-left:5px;}

/*阿里标记*/
.colordiv { padding: 0px 5px; cursor: pointer; }
.color-leftzuoyou { width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; cursor: pointer; }

.table-items-detail .order-time { width:160px; padding:0 50px; border-left:solid 1px #ddd; }

.order-progress { margin-top: 15px; width: 160px; position: relative; }
.order-progress .layer-line { width: 160px; height: 4px; left: 0; top: 0; z-index: 9999; transition: 3.5s; -webkit-transition: 3.5s; -moz-transition: 3.5s; 
                                  position: absolute; background-color: rgba(255,255,255,0.8); }
.order-progress .order-progress-item { width: 80px; height: 4px; min-width: 5px; max-width: 155px; background-color: #5994e6; float: left; position: relative; }
.order-progress .order-progress-use { width: 100px; background-color: #5994e6; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }

.order-progress .order-progress-have { width: 60px; background-color: #ccc; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .order-progress-exceed { width: 60px; background-color: #f35353; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .order-progress-warn { width: 60px; background-color: #ffa200; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .order-progress-complete { width: 60px; background-color: #2F73B8; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.order-progress .top-lump { border-top: solid 4px #49b3f5; border-left: solid 2px transparent; border-right: solid 2px transparent; 
                                width: 0; height: 0; position: absolute; left: 40px; top: -10px; }
.order-progress .progress-tip { background-color: #49b3f5; padding: 2px 0; min-width: 54px; text-align: center; white-space: nowrap; 
                                    border-radius: 2px; color: #fff; position: absolute; top: -29px; }

.color-progress { height: 4px; width: 160px; background-color: #ccc; }
.order-progress-use .top-lump { border-top-color: #49b3f5; }

.order-progress-use .progress-tip { background-color: #49b3f5; }

.order-progress-have .top-lump { border-top-color: #ddd; }

.order-progress-have .progress-tip { background-color: #ddd; }
.order-progress-exceed .top-lump { border-top-color: #f35353; }

.order-progress-exceed .progress-tip { background-color: #f35353; }
.order-progress-warn .top-lump { border-top-color: #ffa200; }

.order-progress-warn .progress-tip { background-color: #ffa200; }

.order-progress-complete .top-lump { border-top-color: #2F73B8; }
.order-progress-complete .progress-tip { background-color: #2F73B8; }


/*订单详情-订单状态记录*/
.status-items {  }
.status-items li{ float:left;  position:relative; height:40px; margin-left:-24px; }
.status-items span { line-height:16px; display:block; color:#999; text-align:center; }
.status-items .status-bg { width:12px; height:12px; border-radius:6px; background-color:#ccc; margin-left:24px; }
.status-items .status-line { width:110px;height:2px; background-color:#eee; margin-top:5px;  }
.status-items .status-time-text { width:100px; font-size:11px; position:absolute; top:-12px; }

/*title*/
.content-title ul li { float:left; height:50px; border-left:solid 1px #eee; font-size:14px; color:#666; padding:0 20px; }
.content-title ul .iconfont { font-size:20px; }

/*样图信息*/
.order-imgs-div { width:350px; }
.order-imgs-div .order-imgs{ height:350px; width:350px; position:relative; overflow:hidden; background:url('/modules/images/none-img.png') no-repeat center; background-color:#f0f0f0; }
.order-imgs-div .order-imgs img{ min-height:350px; min-width:350px; }
.order-imgs-div .order-imgs img:hover{ cursor:pointer;}
.order-imgs-list { height:48px; margin-top:5px; }
.order-imgs-list li{ width:48px; height:48px; float:left; border:solid 2px #eee; margin-right:6px; margin-bottom:5px; cursor:pointer; position:relative;}
.order-imgs-list li.hover{ border-color:red;}
.order-imgs-list img{ width:48px; height:48px;}
.order-imgs-list .edit-orderimages,#addOrderImages { font-size:40px; width:48px; height:48px;  color:#999; line-height:40px; text-align:center; }
#addOrderImages{ width:48px; height:48px;border:solid 2px #eee; margin-right:6px; margin-bottom:5px; cursor:pointer; position:relative;}
.order-imgs-list #addOrderImages .edit-orderimages { line-height:0;padding-bottom:8px;border:none;background:transparent;}
.order-imgs-list .ico-delete { position:absolute; top:-8px; right:-8px; background-color:#fff; border-radius:10px; }


/*阿里标记*/
.order-imgs-div  .aliorder { height:30px; line-height:30px; position:absolute; bottom:0px; background-color:#ff7300; opacity:0.6; 
                                        display:block; width:100%; font-size:14px; color:#fff; text-indent:10px;}
.order-imgs-div  .aliorder .iconfont{ color:#fff; }

/*切换图片*/
.enlarge-image-bgbox { width:100%;height:100%; position:fixed; top:0; left:0; background-color:#666; z-index:9999; opacity:0.9; }
.enlarge-image-bgbox .iconfont{ float:right; color:#fff; font-size:20px; margin:10px 10px 0 0; cursor:pointer; }
.enlarge-image-bgbox .iconfont:hover{ color:#4a98e7;  }

.enlarge-image-box{ position:fixed;  top:40px; bottom:40px; left:100px; right:100px; z-index:19999; }

.left-enlarge-image,.right-enlarge-image {position:fixed;  width:40px; height:100px;  cursor:pointer;cursor:pointer; }
.left-enlarge-image { left:100px;  background:url('/modules/images/ico-prev-image.png') no-repeat;background-size:cover;}
.left-enlarge-image:hover {  background:url('/modules/images/ico-prev-image-hover.png') no-repeat;background-size:cover;}
.right-enlarge-image { right:100px; background:url('/modules/images/ico-next-image.png') no-repeat;background-size:cover; }
.right-enlarge-image:hover {  background:url('/modules/images/ico-next-image-hover.png') no-repeat;background-size:cover; }

.enlarge-image-item{ position:fixed;  top:40px; bottom:40px; left:200px; right:200px;  }


/*订单信息*/
.order-info { float:left; margin-left:20px; overflow:auto; }
.order-info .name{ height:40px; line-height:40px; width:100%; background-color:#f7f7f7; color:#666;font-size:14px;text-indent:10px; }

.order-info .moneyinfo { width:220px; margin-top:20px; margin-right:20px; }
.order-info .moneyinfo li{ line-height:35px; clear:both;padding:5px; border-bottom:solid 1px #eee; overflow:auto; }
.order-info .moneyinfo li .column-title{ width:80px; float:left; color:#666; }

.order-info .cutomerinfo { margin-top:20px; width:420px; }
.order-info .cutomerinfo li{ line-height:35px; clear:both; padding:5px;  }
.order-info .cutomerinfo li .column-title{ width:80px; float:left; color:#666; }

.order-remark { margin-top:20px; padding:10px; border:solid 1px #eee; line-height:25px; }
.order-remark .title{ color:#999; }

/*订单品类*/
.category-header { border-bottom:solid 1px #ccc; }
.category-items { width:600px; overflow:auto; margin-bottom:10px; }
.category-items li{ padding:0 10px; height:30px; float:left; line-height:30px; border:solid 1px #ccc; margin:5px 5px; text-align:center; cursor:pointer; }
.category-items li:hover{ border-color:#2F73B8; color:#2F73B8;}
.category-items li.hover{ border-color:#2F73B8; color:#fff; background-color:#2F73B8;}

/*订单阶段任务*/
.process-stages { background-color:#fff; margin:20px; padding:10px; overflow:auto;  }

.process-info { border-bottom:solid 1px #eee; overflow:auto; padding:10px 0; }

.process-info .info{ font-size:16px; height:25px; line-height:25px;}

.status-desc li{ float:left; padding:0 6px; margin:5px 20px 10px 0; border-left:solid 1px #ccc; border-left-width:10px; }
.status-desc  li.ing{ border-color: #45BF67;}
.status-desc  li.over{ border-color: #3A7DE5;}

.process-stages .stage-items { }
.process-stages .stage-items  li{ float:left; width:120px; cursor:pointer; padding:5px 10px; position:relative;
                   margin-right:20px; margin-bottom:10px; border:solid 1px #ccc; border-left-width:10px; }

.process-stages .stage-items  li:hover{ background-color:#eee;}

.process-stages .stage-items  li.ing{ border-color: #45BF67;}
.process-stages .stage-items  li.over{ border-color: #3A7DE5;}

.process-stages .stage-items  li span{ display:block; font-size:12px; height:25px; line-height:25px; width:120px; color:#333;}
.process-stages .stage-items  li .status { color:#999; }
.process-stages .stage-items  li.ing .status { color: #45BF67;}
.process-stages .stage-items  li.over .status { color: #3A7DE5;}

.process-stages .stage-items .unlock { background:url('/modules/images/ico-unlock.png') no-repeat; width:18px; height:18px; position:absolute; right:2px; top:2px; }

/*订单浮层*/
.order-layer { width:500px; background-color:#fff; position:fixed; top:50px; bottom:0px; right:-505px;  border-left:solid 1px #eee; box-shadow:0 0 5px #ccc;}

.order-layer .layer-header{ height:40px; line-height:40px; background-color:#f5f5f5; font-size:14px; text-indent:15px; color:#666; }
.order-layer .layer-header .iconfont{ font-size:24px; cursor:pointer;  color:#999;}
.order-layer .layer-header .iconfont:hover{ color:#2F73B8;}

.order-layer-item { width:460px; padding:0 20px 50px; position:absolute; top:40px; bottom:0; overflow:auto; }
.order-layer-item h1 { border-bottom:solid 1px #eee; height:35px; line-height:35px; font-size:14px; color:#666; }

.order-layer-item ul { margin-bottom:30px; }
.order-layer-item ul li{ height:30px; line-height:30px; margin-top:5px; }
.order-layer-item ul .column-title{ width:80px; display:inline-block; float:left; color:#999; }

.order-layer-item .stage-items { }
.order-layer-item .stage-items  li{ float:left; width:170px; cursor:pointer; padding:5px 10px; height:50px;
                   margin-right:20px; margin-bottom:10px; border:solid 1px #ccc; border-left-width:8px; }

.order-layer-item .stage-items  li:hover{ background-color:#eee;}

.order-layer-item .stage-items  li.ing{ border-color: #45BF67;}
.order-layer-item .stage-items  li.over{ border-color: #3A7DE5;}

.order-layer-item .stage-items  li span{ display:block; font-size:12px; height:25px; line-height:25px; width:120px; color:#333;}
.order-layer-item .stage-items  li .status { color:#999; }
.order-layer-item .stage-items  li.ing .status { color: #45BF67;}
.order-layer-item .stage-items  li.over .status { color: #3A7DE5;}

.order-layer .data-loading { margin-top:200px; }

/*背景色*/
.list-item.hover { background-color:#fafafa; }
.total-item.hover { background-color:#fafafa; }

.sample-report { cursor:pointer;}
.typetitle {background-color:#eee;color:#007aff; }
.typetitle:first-child {height:46px;}

/*翻单次数*/
.repeatorder-times {width:20px;height:20px;border-radius:50%;border:1px solid #ccc;text-align:center;line-height:20px;margin-top:12px;color:#fff;background-color:#ccc;}

/*价格区间设置*/
.price-range-set { color:#4a98e7;}
.center-range { width:457px;margin-top:-15px;}
.center-range li { height:30px;margin-top:2px;padding:10px 0px 10px 0px;}
.center-range li input { width:50px;margin:0 5px;}
.center-range li div:last-child span{ color:#777;cursor:pointer;display:block;float:left;}
.center-range li div:last-child span:hover{color:#4a98e7;}

