
<ul class="easydialog-create">     
    <li>
        <span class="create-column">开票金额：</span>
        <span><input type="text" maxlength="20" id="invoicemoney" data-empty="必填" data-type="double" class="verify width80" /></span> 
    </li>
    <li>
        <span class="create-column">发票号码：</span>
        <span><input type="text" maxlength="30" id="invoicecode" /></span>
    </li>
    <li>
        <span class="create-column">快递公司：</span>
        <span id="expressid"></span>
    </li>
    <li>
        <span class="create-column">快递编号：</span>
        <span><input type="text" maxlength="30" id="expresscode" /></span>
    </li>
</ul>

