
<ul class="easydialog-create">
    <li>
        <span class="create-column">发票类型：</span>
        <span>
              <select id="invoicetype">
                  <option value="1">普通发票</option>
                  <option value="2">增值发票</option>
              </select>
        </span>
    </li>      
    <li>
        <span class="create-column">开票金额：</span>
        <span><input type="text" maxlength="20" id="invoicemoney" data-empty="必填" data-type="double" class="verify width80" /></span> 
    </li>
    <li>
        <span class="create-column">发票号码：</span>
        <span><input type="text" maxlength="30" id="invoicecode" /></span>
    </li>
    <li>
        <span class="create-column">备注：</span>
        <textarea id="remark"></textarea>
    </li>
</ul>

