@{
    ViewBag.Title = "配置提示";
    Layout = "~/Views/Shared/_LayoutNoLeft.cshtml";
}
@section css{
    <style type="text/css">
        .main-content { margin-left:0px;}
    </style>

    <link href="/modules/css/guidestep.css" rel="stylesheet" />
}

@section scripts{
    @*<script type="text/javascript">
        seajs.use(["scripts/home/guidestep"], function (ObjectJS) {
            ObjectJS.initHelp();
        });
    </script>*@
}
<div class="step-body">
    <ul class="step-header">
        <li class="step over">1</li>
        <li class="mLeft5 over">初始化流程</li>
        <li class="iconfont step-ico over">&#xe656</li>
        <li class="step over">2</li>
        <li class="mLeft5 over">初始化品类</li>
        <li class="iconfont step-ico over">&#xe656</li>
        <li class="step over">3</li>
        <li class="mLeft5 over">绑定手机</li>
        <li class="iconfont step-ico over">&#xe656</li>
        <li class="step hover">4</li>
        <li class="mLeft5 hover">配置提示</li>
    </ul>
    <div class="step-content">
        <div class="step-desc">
            <h1>使用须知</h1>
            <p>
                完善企业信息，方便我们更好的服务与您<a href="/System/Client">立即完善</a><br />
                为了更好的使用系统，建议您设置账号和绑定手机，可用于系统登录、找回密码等操作<a href="/MyAccount/Account">立即设置</a>
            </p>
        </div>
        <h1 class="step-note">
            <span>提示：</span>您可在系统中根据下图引导删除企业信息<a href="/System/Client">立即完善</a>
        </h1>
        <div>
            <img src="../../modules/images/guide-step/step3_01.png" /> 
        </div>
        <h1 class="step-note">
            <span>提示：</span>您可在系统中根据下图引导设置账号<a href="/MyAccount/Account">立即设置</a>
        </h1>
        <div>
            <img src="../../modules/images/guide-step/step3_02.png" /> 
        </div>

        <div class="step-bottom mTop20">
            <a class="btn right" href="/Home/Index">进入系统</a>
        </div>
    </div>
</div>
