/*创建弹出层*/
.create-model { min-width:300px;  }
.create-model li{ margin-top:10px; overflow:auto; }
.create-model li input[type="text"]{ width:180px; }
.create-model li textarea{ width:300px; }
.create-model li label{ line-height:20px; height:20px; cursor:pointer; }
.create-model li label input{ line-height:20px; height:20px; }
.create-model span{ display:inline-block; vertical-align:top;}

/*品牌*/
.create-brand { width:500px; }
.list-item img{  height:18px; vertical-align:middle;}
.brand-img { position:absolute; top:60px; right:20px; height:100px; width:100px; }

/*单位*/
.unit-list li{ height:30px; line-height:30px; width:80px;  float:left; margin:10px 10px;  text-align:center; position:relative;  }
.unit-list li input{ height:28px; line-height:30px; width:50px; padding:0 15px; text-align:center; border:solid 1px #ccc; cursor:pointer; }
.unit-list li span{ position:absolute; right:-9px; top:-9px; display:none; background-color:white; }
.unit-list li:hover span{ display:inline-block; }
.unit-list .unit-item:hover input{ border:solid 1px #318ae4; }

/*属性值*/
.attr-value-box { border:solid 1px #318ae4; width:300px; overflow-x:hidden; overflow-y:auto; background-color:#fff; position:fixed; top:49px; bottom:3px; right:-302px; z-index:666; }
.attr-value-box .title { margin:20px 20px 0 20px; border-bottom:solid 1px #318ae4; padding-bottom:5px; }
.attr-value-box .header-title {display:block; margin-bottom:10px;}
.attr-value-box .add-value { position:relative; height:30px;  width:248px;margin-bottom:10px;}
.attr-value-box .value-name { height:30px; line-height:30px; width:248px; }
.attr-value-box .ico-input-add { position:absolute; right:-5px; top:-6px; font-size:30px; color:#ccc; cursor:pointer;}
.attr-value-box .ico-input-add:hover { color:#318ae4; }

.attr-value-box ul{ width:300px; margin-top:20px; padding-bottom:30px; }
.attr-value-box ul li{ width:220px; height:30px; margin-left:39px;  border-radius:5px; line-height:30px; margin-top:10px; text-align:center; cursor:pointer;position:relative;}
.attr-value-box ul li input{ height:28px; line-height:30px; width:200px; text-align:center; cursor:pointer; }
.attr-value-box ul li span{ position:absolute; right:-5px; top:-9px; display:none; background-color:white; }
.attr-value-box ul li:hover span{ display:inline-block; }


/*产品样式*/
.product-add { overflow:auto; }
.product-add li { height:auto; }
.product-add .column-name{ width:85px; float:left; }
.product-add input[type="checkbox"] { vertical-align:middle; margin:0 2px; }

/*添加产品组合规格*/
.child-product-table { min-width:700px;  width:80%; margin-left:85px;}

.edui-container { min-width:700px; width:80%; float:left; }

.product-img { position:absolute; top:200px; right:50px; width:150px; }
.product-img img{ width:150px;}

.salesattr .salesattr-values span{ min-width:80px;}


/*添加子产品*/
.product-details-add { width:500px; min-height:200px; }
.product-imgS { position:absolute; top:80px; right:20px; width:150px; }
.product-imgS img{ width:150px; }

