
/*选择仓库*/
.ware-items { width:336px; overflow:auto; }
.ware-items li{ width:100px; height:35px; float:left; line-height:35px; border:solid 1px #ccc; margin:10px 5px; text-align:center; cursor:pointer; }
.ware-items li:hover{ border-color:#2F73B8; color:#2F73B8;}
.ware-items li.hover{ border-color:#2F73B8; color:#fff; background-color:#2F73B8;}

.purchase-detail { width:500px; clear:both; }
.purchase-detail li{  float:left;  padding:5px 0; }
.purchase-detail .name { width:280px; padding-left:20px; }
.purchase-detail .code { width:120px; }

.purchase-detail-header { width:500px; clear:both; }
.purchase-detail-header li{  float:left; color:#666; }
.purchase-detail-header .name { width:280px; padding-left:20px; }
.purchase-detail-header .code { width:120px; }

/*表格*/

.table-items-detail { width:100%; border-spacing:0px; box-sizing:border-box;}
.table-items-detail td{ text-align:center; padding:5px 10px; }

.table-items-detail .table-header { background-color:#f1f1f1; height:35px; }
.table-items-detail .table-header td{ border-top:solid 1px #ddd;  border-bottom:solid 1px #ddd; color:#333; }
.table-items-detail .table-header td:first-child{ border-left:solid 1px #ddd;}
.table-items-detail .table-header td:last-child{ border-right:solid 1px #ddd;}

.table-items-detail .item-header { background-color:#f1f1f1; height:40px; }
.table-items-detail .item-header td{ border-top:solid 1px #ddd;  border-bottom:solid 1px #ddd; color:#333; }
.table-items-detail .item-header td:first-child{ border-left:solid 1px #ddd;}
.table-items-detail .item-header td:last-child{ border-right:solid 1px #ddd;}

.table-items-detail .item { height:50px; }
.table-items-detail .item.last td {  border-bottom:solid 1px #ddd; }

.table-items-detail .first-line-item{ height:50px; }
.table-items-detail .line-item { height:20px; }

.table-items-detail .bLeft { border-left:solid 1px #ddd; }
.table-items-detail .bRight { border-right:solid 1px #ddd; }
.table-items-detail .bBottom { border-bottom:solid 1px #ddd; }

.table-items-detail a { color:#333; }
.table-items-detail a:hover { color:red; }
.table-items-detail td img { width:80px;height:80px;}

.item-header td:first-child{max-width:70px; }