{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="center">{%=item.Name%}</td>
    <td class="center">{%=item.PCodeName==null?"":item.PCodeName%}</td>
    <td class="center">{%=item.Layer%}</td>
    <td class="center">{%=item.Controller%}</td>
    <td class="center">{%=item.View%}</td>
    <td class="center">{%=item.Sort%}</td>
    <td class="center">
        <a href="/System/MenuDetail/{%=item.MenuCode%}"  title="修改" data-id="{%=item.MenuCode%}">修改</a>
        <a href="/System/AddSubMenu/{%=item.MenuCode%}"  title="修改" data-id="{%=item.MenuCode%}">添加子级</a>
        <a href="javascript:void(0);"  title="修改" class="btn-delete" data-id="{%=item.MenuCode%}">删除</a>
    </td>
</tr>
{% } %}
