


/*客户阶段*/
.stages-box { width:100%; overflow-y:auto;  padding-bottom:30px; }/*white-space:nowrap;*/
.stages-box .stages-item { width:240px; border:solid 1px #ccc; margin-right:10px; margin-top:5px; border-radius:2px; vertical-align:top;
                           background-color:#f6f6f6; padding:10px; position:relative; display:inline-block;  }
.stages-box .stages-item .name{ height:30px; line-height:30px;  text-indent:5px; }
.stages-item .name span{ font-size:14px; color:#333; display:inline-block; height:30px; line-height:30px; width:200px; }
.stages-item .name input{ height:30px; line-height:30px; width:215px; }
.stages-box .stages-item .operatestage { position:absolute; right:10px; top:20px; }

.child-items { width:240px; margin-top:5px; overflow-y:auto;}
.child-items li{ height:30px; line-height:30px; background-color:#fff; border-radius:2px; text-indent:5px; position:relative; margin-top:10px; cursor:pointer; }
.child-items li .itemname{ display:inline-block; height:30px; vertical-align:middle; float:left; }
.child-items li .operateitem{ position:absolute; right:8px; top:8px; }
.child-items li:hover .operateitem{ display:inline-block; }

.stages-box .create-action { margin-top:10px; }
.stages-box .create-action textarea { width:240px; resize:none; line-height:25px; }

.stages-box .create-child { height:30px; line-height:30px; color:#999; cursor:pointer; text-indent:5px; margin-top:5px; }
.stages-box .create-child:hover { background-color:#fff; color:#333; }

.easydialog-create .stage-item{ width:100px; height:35px; float:left; line-height:35px; border:solid 1px #ccc; margin:10px 5px; text-align:center; cursor:pointer; }
.easydialog-create .stage-item:hover{ border-color:#2F73B8; color:#2F73B8;}
.easydialog-create .stage-item.hover{ border-color:#2F73B8; color:#fff; background-color:#2F73B8;}

/*客户来源*/
.sourceul { height:31px; }
.sourceul li { line-height: 30px; width:100px; }
.sourceul li a{ line-height: 30px;  width:100px; text-align:left; display:inline-block; color:#333; }
.sourceul .active { background-color: #fff; }
.header-mark{    overflow: auto;margin: 10px 20px 10px;}
.movespan {position: absolute;top:94px;left: 10px; width:70px; border-bottom:solid 2px #4380BE;}

.color-list li{ height:30px; line-height:30px; min-width:115px;  float:left; margin:10px 10px;  text-align:center; position:relative;  }
.color-list li input{ height:28px; line-height:30px; width:70px; padding:0 5px; text-align:center; border:solid 1px #ccc; cursor:pointer; }
.color-list li .ico-delete{ position:absolute; right:-9px; top:-9px; display:none; background-color:white; }
.color-list li:hover .ico-delete{ display:inline-block; }
.color-list .color-item:hover input{ border:solid 1px #318ae4; }
.colordiv{overflow:auto;padding: 0px 10px;cursor: pointer;min-width:80px;color:#fff;}
.color-leftzuoyou{width:0; height:0; border-top:15px solid transparent;border-bottom:15px solid transparent;cursor: pointer;}

/*切换导航样式*/
.tab-nav { margin:10px 20px; height:33px; line-height:33px; border-bottom: solid 1px #ccc; }
.tab-nav ul { height: 32px; }
.tab-nav ul li { height:32px; float:left; padding:0 20px; cursor:pointer; }
.tab-nav ul li:hover { color:#318ae4; }
.tab-nav ul li.hover { position: relative; height: 32px; line-height: 32px; border-bottom: 2px solid #4a98e7; color:#318ae4;}

/*团队成员*/

.team-header { font-size:14px; height:20px; line-height:20px; font-weight:bold; padding-bottom:5px;}

.team-list .child-item { height:85px; width:100%; }

.team-list .team-item { height:30px; width:180px; border:solid 1px #ccc; border-radius:2px; box-shadow:0 0 3px #eee;
                        margin-top:12px; padding:10px; position:relative; cursor:pointer; float:left; margin-top:25px; border-radius:8px;}
.team-list .team-item:hover { border:solid 1px #4a98e7; }
.team-list .team-item .name{ height:30px; width:120px; float:left; margin-left:10px; line-height:30px;}
.team-list .team-item .ico-dropdown { position:absolute; right:10px; top:15px; }


.team-list .user-item { height:50px; width:180px; border:solid 1px #ccc; border-radius:2px; box-shadow:0 0 3px #eee;
                             margin-top:12px; padding:10px; position:relative; cursor:pointer; float:left; border-radius:8px;}
.team-list .user-item:hover { border:solid 1px #4a98e7; }
.team-list .user-item .user-name{ height:50px; width:120px; float:left; margin-left:10px; padding-top:7px; }
.team-list .user-item .user-name li{  line-height:15px;width:120px;}
.team-list .user-item .ico-dropdown { position:absolute; right:10px; top:10px; }

.team-list .user-avatar { height:50px; width:50px; float:left; }
.team-list .user-avatar img{ height:50px; width:50px; border-radius:25px;}

.team-list .icoopen,.team-list  .icoclose { display:inline-block; width:20px; height:20px; margin-top:40px; cursor:pointer; margin-left:-46px;}
.team-list .icoopen{ background:url('/modules/images/ico-tree-open.png') no-repeat;  }
.team-list .icoclose{ background:url('/modules/images/ico-tree-pull.png') no-repeat;}
.team-list .leftline{ background:url('/modules/images/ico-structure-full.png') no-repeat -5px;display:inline-block; width:65px; height:85px; }
.team-list .lastline{ background:url('/modules/images/ico-structure-last.png') no-repeat -5px; display:inline-block; width:65px; height:85px;}
.team-list .line{ background:url('/modules/images/ico-structure-line.png') no-repeat -5px;display:inline-block; width:65px; height:85px; }
.team-list .null{ display:inline-block; width:65px; height:85px;}


/*图片预览*/
.absolute-img { position:absolute; right:40px; height:100px; width:100px; }
.absolute-img-save { position:absolute; z-index:10002;height:100px;width:100px;top:80px;right:20px;}

/*订单品类*/
.ordercategory-item { clear:both; background-color:#f9f9f9; overflow:auto; margin-bottom:20px; padding:20px; }
.ordercategory-item .items-header { height:25px; line-height:25px; border-bottom:solid 1px #ccc; font-size:14px; }
.child-items-div { clear:both; margin-top:10px; }
.child-items-div li{ float:left; margin-right:20px; cursor:pointer; }

/*公司信息*/
.update-content-body { position:fixed;z-index:10001;background-color:#fff;top:8%;left:30%;padding:20px;border-radius:5px;display:none;}
.update-content-body .update-title{border-bottom:1px solid #eee;padding-bottom:7px;font-size:14px;}
.update-content-body .update-title span{font-size:11pt;}
.update-content-body .update-title .close_btn{background:#fff url(/modules/plug/easydialog/ico-close.png) no-repeat;height:16px;width:16px;float:right;}
.update-content-body .update-title .close_btn:hover{background:#fff url(/modules/plug/easydialog/ico-close-hover.png) no-repeat;}


/*货位*/
.sort-up { border-bottom:solid 10px #2F74B9; border-left:solid 10px transparent ; border-right:solid 10px transparent; display:inline-block; }
.sort-down { border-top:solid 10px #2F74B9; border-left:solid 10px transparent ; border-right:solid 10px transparent; display:inline-block;}
