{%
	var model = $data;
%}
<div class="add-cart-div">
    <div class="image left">
        <img id="productimg" src="{%=model.ProductImage%}" />
    </div>
    <div class="product-name left">
        <h1>{%=model.ProductName%}</h1>

        <ul class="price">
            <li class="column">促&nbsp;&nbsp;销&nbsp;&nbsp;价：</li>
            <li id="price" class="salesprice">￥{%=model.Price.toFixed(2)%}</li>
            <!--<li class="commonprice">￥{%=model.CommonPrice.toFixed(2)%}</li>-->
        </ul>
        <div class="cart-attrs" id="saleattr">
            {%
            for(var i=0, j=model.SaleAttrs.length; i < j; i++){
	            var attr = model.SaleAttrs[i];
            %}
                <ul class="cart-attr-item salesattr" data-id="{%= attr.AttrID%}">
                    <li class="cart-attrkey">{%= attr.AttrName%}：</li>
                    <li class="cart-attrValues">
                        <ul>
                            {%
                            for(var ii=0, jj=attr.AttrValues.length; ii < jj; ii++){
	                            var value = attr.AttrValues[ii];
                            %}
                             <li class="cart-value" data-id="{%=value.ValueID%}">{%=value.ValueName%}</li>  
                            {% } %}
                        </ul>
                    </li>
                </ul>
            {% } %}
            <ul class="cart-attr-item">
                <li class="cart-attrkey">单位：</li>
                <li class="cart-attrValues">
                    <ul id="unit">
                        <li class="cart-value hover" id="small" data-value="0" data-id="{%=model.SmallUnit.UnitID%}">{%=model.SmallUnit.UnitName%}</li>
                        {% if(model.SmallUnitID != model.BigUnitID){ %}
                        
                            <li class="cart-value" id="big"  data-value="1" data-id="{%=model.BigUnit.UnitID%}">{%=model.BigUnit.UnitName%}</li>
                        {%}%}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="choose-div">
            <div class="choose-quantity left">
                <input type="text" value="1" id="quantity" />
                <span class="quantity-add" id="quantityadd">+</span>
                <span class="quantity-reduce" id="quantityreduce">-</span>
            </div>
            <div class="left mLeft10">
                <input type="button" class="addcart" id="addcart" value="加入购物车" />
            </div>
            <div class="left mLeft10 stock">
                    库存：<label id="productStockQuantity">0</label>
            </div>
        </div>
    </div>
</div>
{% %}
