{%
	var model = $data;
%}
<div class="add-cart-div">
    <div class="image left">
        <img id="productimg" src="{%=model.ProductImage%}" />
    </div>
    <div class="product-name left">
        <h1>{%=model.ProductName%}</h1>

        <ul class="price">
            <li class="column">促&nbsp;&nbsp;销&nbsp;&nbsp;价：</li>
            <li id="price" class="salesprice">￥{%=model.Price.toFixed(2)%}</li>
            <!--<li class="commonprice">￥{%=model.CommonPrice.toFixed(2)%}</li>-->
        </ul>
        <div class="cart-attrs" id="saleattr">
            {%
            for(var i=0, j=model.SaleAttrs.length; i < j; i++){
	            var attr = model.SaleAttrs[i];
            %}
                <ul class="cart-attr-item salesattr" data-id="{%= attr.AttrID%}">
                    <li class="attrkey">
                        {%=(model.SaleAttrs.Count == 1?attr.AttrName+"：":"规格：")%}
                    </li> 
                    <li class="cart-attrValues">
                        <ul style="height:200px;overflow-y:auto;">
                            {%
                            for(var ii=0, jj=model.ProductDetails.length; ii < jj; ii++){
	                            var detail = model.ProductDetails[ii];
                                if (model.ProductDetails.length > 1 &&detail.Description=="" && (detail.LogicOut == 0 && detail.StockOut == 0 && detail.StockIn == 0))
                                {
                                    continue;
                                }
                            %}
                                    {%
                                    if (model.SaleAttrs.length == 1)
                                    {
                                    %}
                                        <li class="cart-value" data-id="{%=detail.ProductDetailID%}">
                                        {%=(detail.Description=="" ? "默认规格" : detail.Description.replace('[', ' ').replace(']', ' ').replace(attr.AttrName+":",' ').replace(attr.AttrName+"：",' '))%}
                                        </li>
                                    {%}else{
                                    %}
                                        <li class="cart-value" data-id="{%=detail.ProductDetailID%}">
                                       </li>
                                    {%}%}
                             </li>  
                            {%}%}
                        </ul>
                    </li>
                </ul>
            <div class="clear"></div>
            {% } %}
            <ul class="cart-attr-item">
                <li class="cart-attrkey">单位：</li>
                <li class="cart-attrValues">
                    <ul id="unit">
                        <li class="cart-value hover" style="cursor:text;" id="small" data-value="0" data-id="{%=model.SmallUnit.UnitID%}">{%=model.SmallUnit.UnitName%}</li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="choose-div">
            <div class="choose-quantity left">
                <input type="text" value="1" id="quantity" />
                <span class="quantity-add" id="quantityadd">+</span>
                <span class="quantity-reduce" id="quantityreduce">-</span>
            </div>
            <div class="left mLeft10">
                <input type="button" class="addcart" id="addcart" value="加入清单" />
            </div>
            <div class="left mLeft10 stock">
                    库存：<label id="productStockQuantity">0</label>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{% %}
