@{
    ViewBag.Title = "客户分布统计";
}

<style type="text/css">
    .source-box { height:500px; }
</style>

@section scripts{
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        $(function () {
            var begin = {
                elem: '#beginTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                elem: '#endTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    begin.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(begin);
            laydate(end);
        })

        seajs.use(["scripts/customerrpt/customermaprpt"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">客户分布统计</span>
</div>

<div class="search-box">
    <div class="search-header">
        <ul class="search-tab search-type">
            <li data-id="customermapRPT" data-type="1" class="hover">按地区</li>
            <li data-id="customerindustryRPT" data-type="2">按行业</li>
            <li data-id="customerindustryRPT" data-type="3">按规模</li>
        </ul>
    </div>
</div>

<div class="content-body">
    <div class="search-body mBottom10">
        <div class="left" id="chooseBranch"></div>
        <div class="left lineHeight25 mLeft20">日期：</div>
        <input type="text" class="left" id="beginTime"/>
        <div class="left lineHeight25">&nbsp;-&nbsp;</div>
        <input  type="text" class="left" id="endTime"/>
        <div class="left btn mLeft20" id="btnSearch">查询</div>
    </div>

    <div id="customermapRPT" class="source-box mLeft20">

    </div>

    <div id="customerindustryRPT" class="source-box mLeft20">

    </div>
</div>

