@{
    ViewBag.Title = "材料列表";
}

<link rel="stylesheet" href="/modules/css/shoppingcart/filterproducts.css" />

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/product"], function (obj) {
            obj.initList();
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">材料列表</span>
    <a href="ProductAdd" class="btn-add  mRight20 right @(ExpandClass.IsLimits(HttpContext.Current,"103010500"))">添加材料</a> 
</div>
<div class="content-body mTop20">
    <div class="top-div">
        <ul class="category-map left">
            <li data-id=""><a href="javascript:void(0);">全部分类</a></li>
        </ul>
        <div class="right mRight20 searth-module" data-text="输入材料名称/编码" data-width="200"> </div>
    </div>
    <div class="attr-filter">
        <ul class="category-child attr-item">
            <li class="attrkey">分类：</li>
            <li class="attrValues">
                <ul id="category-child">

                </ul>
            </li>
        </ul>
        <ul class="attr-item" id="attr-price">
            <li class="attrkey">价格：</li>
            <li class="attrValues">
                <ul>
                    <li class="hover price" data-begin="" data-end="">不限</li>
                    <li class="price" data-begin="0" data-end="49">0-49</li>
                    <li class="price" data-begin="50" data-end="99">50-99</li>
                    <li class="price" data-begin="100" data-end="199">100-199</li>
                    <li class="price" data-begin="200" data-end="499">200-499</li>
                    <li class="price" data-begin="500" data-end="999">500-999</li>
                    <li class="price" data-begin="1000" data-end="">1000以上</li>
                    <li>
                        <input type="text" id="beginprice" />&nbsp;-&nbsp;
                        <input type="text" id="endprice" />
                    </li>
                    <li class="search-btn">
                        <span class="btn" id="searchprice">搜索</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="filter-orderby">
        <div class="left" id="prodiver"></div>
    </div>
    <ul class="search-sort">
        <li>排序</li>
        <li class="sort-item hover" data-column="p.CreateTime">
            日期
            <span class="asc"></span>
            <span class="desc hover"></span>
        </li>
        <li class="sort-item" data-column="p.Price">
            价格
            <span class="asc"></span>
            <span class="desc"></span>
        </li>
    </ul>
    <div class="clear"></div>
    
</div>
<div class="content-body mTop20">
    <table class="table-list">
        <tr class="tr-header" id="product-items">
            <td class="tLeft"></td>
            <td class="tLeft">材料名称</td>
            <td class="m-len tLeft">材料编码</td>
            <td class="m-len">价格/单位</td>
            <td class="m-len">是否启用</td>
            <td class="m-len">公开状态</td>
            <td class="m-len tLeft">分类名称</td>
            <td class="m-len tLeft">供应商</td>
            <td class="s-len">编辑</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
