@{
    ViewBag.Title = "供应商管理";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/providers"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">供应商管理</span>
    <div  class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current,"103020301"))" id="addObject">添加供应商</div>
    
</div>
<div class="content-body mTop20 pBottom50">
    <div class="search-items mTop10">
        <div class="right searth-module" data-text="名称/联系人/联系方式搜索..."></div> 
    </div>
    <table class="table-list">
        <tr class="tr-header">
            <td class="width200 tLeft">名称</td>
            <td class="width100 tLeft">联系人</td>
            <td class="width100 tLeft">联系方式</td>
            <td class="width200 tLeft">城市</td>
            <td class="width200 tLeft">详细地址</td>
            <td class="width150">添加时间</td>
            <td class="width50">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
<ul class="dropdown-ul hide"  style="width:65px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"103020301"))" id="updateObject">编辑</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"103020302"))" id="deleteObject">删除</li>
</ul>
