{%
if($data.length>0)
{
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
%}
    <tr class="center">
        <td class="tLeft">{%=item.Title%}</td>
        <td>{%=item.Type==1?"问题":item.Type==2?"意见":"需求"%}</td>
        <td>{%=item.CreateTime.toDate('yyyy-MM-dd hh:mm:ss')%}</td>
        <td>{%=item.Content%}</td>
        <td class="{%=item.Status==1?'solved':'unsolved'%}">{%=item.Status==1?"未解决":item.Status==2?"已解决":item.Status==3?"驳回":"删除"%}</td>
    </tr>
{% 
    }
}
else
{
%}
    
    <tr>
        <td class="center font16" style='line-height:80px;' colspan="5">暂无数据</td>
    </tr>

{%
}
%}