
<ul class="create-model">
    <li>
        <span class="width80">账号：</span>
        <span>
            <input type="text" class="verify" data-empty="必填" maxlength="30" id="LoginName" />
        </span>
    </li>
   <li class="nologinname">
        <span class="width80">密码：</span>
        <span>
            <input type="password" id="LoginPWD" maxlength="25" class="input" />
       </span>
        <br /><span style="margin-left:80px;">密码，6-25位，至少两种不同组合</span>
    </li>
    <li class="nologinname">
        <span class="width80">确认密码：</span>
        <span>
            <input type="password" id="LoginConfirmPWD" maxlength="25" class="input" />
        </span>
    </li>
</ul>
