@{
    ViewBag.Title = "快递公司列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/expresscompany"], function (ExpressCompany) {
            ExpressCompany.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title">快递公司列表</span>
    <a class="btn right @(ExpandClass.IsLimits(HttpContext.Current,"204010302"))" href="ExpressCompanyDetail">新建快递公司</a>
</div>

<div class="content-body">
    <div class="right searth-module"> </div>
    <div class="clear"></div>
    <table class="table-list mTop10">
        <tr class="tr-header">       
            <td class="tLeft">名称</td>
            <td class="tLeft">网址</td>
            <td class="center">创建时间</td>
            <td class="center width80">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>

