@{
    ViewBag.Title = "快递公司列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/expresscompany"], function (ExpressCompany) {
            ExpressCompany.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title">快递公司列表</span>
    <a class="btn right" href="ExpressCompanyDetail">新建快递公司</a>
</div>

<div class="content-body mTop20">
    <div class="right searth-module"> </div>
    <div class="clear"></div>
    <table class="table-list mTop20">
        <tr class="tr-header">
            <td width="10%">操作</td>
            <td class="">名称</td>
            <td class="">网址</td>
            <td class="">创建时间</td>
        </tr>
    </table>

    <div id="pager" class="mTop20"></div>
</div>

