@{
    ViewBag.Title = "行业列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/industry"], function (Industry) {
            Industry.init();
        });
    </script>
}

<div class="header-box">
    <span class="header-title">行业列表</span>
    <a class="btn right" href="IndustryDetail">新建行业</a>
</div>

<div class="content-body mTop20">
    <div class="right searth-module"> </div>
    <div class="clear"></div>
    <table class="table-list mTop20">
        <tr class="tr-header">            
            <td class="">名称</td>
            <td class="">描述</td>
            <td class="">创建时间</td>
            <td width="10%">操作</td>
        </tr>
    </table>
</div>
