/*客户列表卡片样式*/
.content-body hr {height:20px;background-color:#F2F4F8;border:0;margin-left:-10px;margin-right:-10px; }
.list-customer .hover{border:1px solid #007aff;}
.list-customer .hover .check {display:inline-block;}
.list-card { width:248px;border-spacing:0px;border:1px solid #ccc;border-radius:3px;float:left;}
.list-card:hover{border:1px solid #007aff;}
.list-card:hover .check{display:block;cursor:pointer;}
.list-card .check{ float:right;width:20px;height:20px;border:1px solid #007aff;margin-top:-1px;margin-right:-1px;border-radius:0 3px 0 0;
                   box-shadow:0 0 5px #4a98e7 inset;color:#fff;display:none;}
.list-card .icon-check{background-color:#4a98e7;color:#fff;font-size:18px;}
.list-card li{margin-left:5px;height:25px;cursor:pointer;}
.list-card li .photo{width:24px;height:24px;border-radius:50%;background-color:#ccc;color:#fff;float:left;text-align:center;line-height:24px;font-size:14px;}
.list-card li .message{height:20px;line-height:25px;}
.list-card li .message-name{width:100px;}
.list-card .message-name a{font-size:15px;}
.list-card li .list-mark{float:right;padding-left:10px;line-height:15px;}


/*筛选项-标记筛选*/
.search-item-color { clear:both; overflow:auto; margin:10px 0; }
.search-item-color li{ float:left; margin-right:20px; cursor:pointer;}
.search-item-color .column-name{ padding:2px 5px; color:#999; font-size:14px; }
.search-item-color .item{ width:12px; height:12px;  border-radius:7px; margin-top:5px;}
.search-item-color .item.hover{ width:20px; height:20px;border-radius:11px; margin-top:2px;}

.search-item-color .mark-all { background:url('/modules/plug/mark/ico-ball.png') no-repeat; background-size:cover; }
.search-item-color .mark0 { background-color:#FFF; border:solid 1px #ccc; }
.search-item-color .mark1 { background-color:#FF7C7C; border:solid 1px #FF7C7C; }
.search-item-color .mark2 { background-color:#3BB3FF; border:solid 1px #3BB3FF; }
.search-item-color .mark3 { background-color:#9F74FF; border:solid 1px #9F74FF; }
.search-item-color .mark4 { background-color:#FFC85D; border:solid 1px #FFC85D; }
.search-item-color .mark5 { background-color:#FFF65F; border:solid 1px #FFF65F; }

/*筛选项-字母筛选*/
.search-body .search-letter {clear:both; overflow:auto; margin:10px 0; }
.search-body .search-letter li{float:left; margin-right:20px; cursor:pointer;font-size:14px;color:#5F6D6C;margin-right:25px;height:20px;line-height:20px;}
.search-body .search-letter .all-letter { color:#007aff;margin-left:-2px;font-size:16px;}