/*客户来源筛选*/
.customer-source { width:100%;padding:2px 5px;height:20px;}
.customer-source div{float:left;color:#999;font-size:12px;margin-right:25px;}
.customer-source li { float:left;margin-right:15px;padding:2px 5px;color:#666;cursor:pointer;}
.customer-source li:hover{color:#4A99E8;}
.customer-source .source-hover{padding:1px 4px;border:1px solid #4A99E8;color:#4A99E8;}
/*客户列表卡片样式*/
.content-body hr {height:20px;background-color:#F2F4F8;border:0;margin-left:-10px;margin-right:-10px; }
.list-customer .hover{border:1px solid #007aff;}
.list-customer .hover .check {display:inline-block;}
.list-card { width:328px;height:148px;border-spacing:0px;background-color:#fff;float:left;padding:10px 10px 0 10px;}
.list-card:hover{border:1px solid #007aff;height:146px;}
.list-card:hover .check{display:block;cursor:pointer;border:1px solid #4a98e7;}
.list-card .check{ float:right;width:20px;height:20px;border:1px solid #bfbfbf;margin-top:5px;margin-right:5px;
                    border-radius:2px; color:#fff;}
.list-card .icon-check{background-color:#4a98e7;color:#fff;font-size:18px;border:1px solid #4a98e7;}

.list-card .message{ height:25px; line-height:25px; margin:5px 0 10px 5px;}
.list-card .message .message-name{ width:205px;margin-top:-3px; }
.list-card .message-name a{ font-size:16px;line-height:26px;color:#2162A5; }
.list-card .message .list-mark{ line-height:23px;margin-top:5px;}

.list-card .info li{ margin-left:5px;height:25px; margin-top:5px;color:#999;}
.list-card .info .iconfont { font-size:14px;color:#999;margin-right:10px;}
.list-card .info .photo{width:20px;height:20px;border-radius:10px; float:left;}
.list-card .info span { display:inline-block; line-height:25px;font-size:14px;}

.list-card .order-count { border-top:solid 1px #bfbfbf;border-top-style:dashed; height:40px; 
                          margin-top:5px;}
.list-card .order-count li:not(:first-child) { float:left;height:30px; line-height:40px; text-align:center;width:30%;}
.list-card .order-count a {text-decoration:underline;}
.list-card .order-count a:hover { color:red;}
.color-leftzuoyou{width:0; height:0; border-top:10px solid transparent;border-bottom:10px solid transparent;cursor: pointer;}
.point-white {  background-color: #fff;width: 4px;height: 4px;border-radius: 50%;top: 8px;position: absolute;left: 5px;}

/*筛选项-标记筛选*/
.search-item-color { clear:both; overflow:auto; margin:10px 0; }
.search-item-color li{ float:left; margin-right:20px; cursor:pointer;}
.search-item-color .column-name{ padding:2px 5px; color:#999; font-size:12px; }
.search-item-color .item{ width:12px; height:12px;  border-radius:7px; margin-top:5px;}
.search-item-color .item.hover{ width:20px; height:20px;border-radius:11px; margin-top:2px;}

.search-item-color .mark-all { background:url('/modules/plug/mark/ico-ball.png') no-repeat; background-size:cover;border:solid 1px #fff; }
.search-item-color .mark0 { background-color:#FFF; border:solid 1px #ccc; }
.search-item-color .mark1 { background-color:#FF7C7C; border:solid 1px #FF7C7C; }
.search-item-color .mark2 { background-color:#3BB3FF; border:solid 1px #3BB3FF; }
.search-item-color .mark3 { background-color:#9F74FF; border:solid 1px #9F74FF; }
.search-item-color .mark4 { background-color:#FFC85D; border:solid 1px #FFC85D; }
.search-item-color .mark5 { background-color:#FFF65F; border:solid 1px #FFF65F; }

/*筛选项-字母筛选*/
.search-body .search-letter {clear:both; overflow:auto; margin:10px 0; }
.search-body .search-letter li{float:left; margin-right:15px; cursor:pointer;font-size:12px;color:#5F6D6C;padding:2px 5px;}
.search-body .search-letter .hover{border:1px solid #4A99E8;padding:1px 4px;color:#4A99E8;}


