@{
    Layout = null;
}
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>下载错误-厂盟智能</title>
<link href="/modules/css/base.css" rel="stylesheet" />
<link href="/modules/css/default/layout.css" rel="stylesheet" />
<link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
<link href="/modules/css/error/error.css" rel="stylesheet" />
</head>

<div class="error-header" onclick="location.href='/home/index'">厂盟智能</div>
<div style="margin:200px auto;width:320px;font-size:20px;">
    该文件可能已被删除!
</div>
