<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="robots" content="noindex,nofollow">
    <link href="/modules/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/modules/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/modules/css/help.css" rel="stylesheet" type="text/css" />
    <link href="/modules/css/api.css" rel="stylesheet" />
     <link rel="shortcut icon" href="/modules/images/logo_login.png">
    @RenderSection("css", false)

</head>
<body>
   <!-- 导航 -->
<div class="site-header row">
    <div class="container">
        <div class="logo l"><img src="/modules/images/logo.png" alt="云销科技"/></div>
        
        <!--- 菜单 --->
        <div class="menu r">
            <div class="nav l">
                <ul class="navbar">
                    <li><a href="/index.html">首页</a></li>
                    <li><a href="/product.html">文档</a></li>
                    <li><a href="/about.html">API</a></li>
                </ul>
            </div>
            
            <div class="login r">
                <ul>
                    <li class="login-lgn"><a href="http://edj.yunxiaokeji.com/Home/Login" target="_blank" >登录</a></li>
                    <li class="login-reg"><a href="http://edj.yunxiaokeji.com/Home/Register" target="_blank">注册</a></li>
                </ul>
            </div>
        </div>
        
        <div class="menu-m r">
        	<div class="m-btu">菜单</div>
        </div>
        
        <!--- 菜单end --->
    </div>
    
    <!--- 菜单 --->
    <div class="m-nav row">
        <ul>
            <li><a href="../index.html">首页</a></li>
            <li><a href="../product.html">产品</a></li>
            <li><a href="../about.html">关于</a></li>
        </ul>
        <dl>
            <dt><a href="http://edj.yunxiaokeji.com/Home/Login"  target="_blank">登录</a></dt>
            <dd><a href="http://edj.yunxiaokeji.com/Home/Register" target="_blank">注册</a></dd>
        </dl>
    </div>
    <!--- 菜单end --->
</div>
<!-- 导航end -->

<div class="main-content">
    @RenderBody()
</div>


<!-- 页脚 -->
<div class="site-footer row">

    <div class="footer-top row">
      <div class="footer-navinfo row">
      	<a href="help.html">帮助</a>
        <a href="#">反馈</a>
        <a href="about.html">联系我们</a>
        <a href="http://edj.yunxiaokeji.com/Home/Register" target="_blank">购买</a>
      </div>
      
      <div class="footer-snsinfo row">
        <a class="qq" href="">qq</a>
        <a class="wx" href="">微信</a>
        <a class="wb" href="">微博</a>
        <a class="bd" href="">百度</a>
      </div>
    </div>
      
    <div class="footer-line row">
      <div class="footer-bottom">
          <div class="f-b-left row">
            <a href="#">加入我们</a>
            <a href="#">商务合作</a>
            <a href="#">版权声明</a>
            <a href="#">友情链接</a>
          </div>
          <div class="copyright row">&copy;2015-2016 云销科技 沪ICP备15042543号</div>
      </div>
    </div>

</div>
<!-- 页脚end -->
@RenderSection("scripts", false)
</body>
</html>
