@{
    var list = (List<IntFactoryEntity.HelpCenter.TypeEntity>)ViewBag.List;
    ViewBag.Title = "帮助中心 | 添加内容";
}

@section css{    
    <link href="/modules/css/helpcenter/helpcenter.css" rel="stylesheet" />
}
@section scripts{
    <script src="/modules/plug/umeditor/ueditor.config.js"></script>
    <script src="/modules/plug/umeditor/umeditor.min.js"></script>
    <script type="text/javascript">        
        seajs.use(["/modules/scripts/helpcenter/contents"], function (ObjectJS) {
            var um = UE.getEditor('remark');
            ObjectJS.init(um,'@Html.ToJSONString(list)');
        });
    </script>
}
<div class="header-box">
    <a href="/HelpCenter/DetailList" class="header-title left">添加内容</a>   
    <a class="btn-back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">返回</a> 
</div>
<div class="content-body">
    <div class="">
        <ul class="table-add">
            <li>
                <span class="column-title left">模块:</span>
                <div class="selector clear-after" id="selector">
                    <div class="item">
                        <i class="ico-radiobox check-lump hover" data-id="1"><span></span></i>
                        功能模块
                    </div>
                    <div class="item">
                        <i class="ico-radiobox check-lump" data-id="2"><span></span></i>
                        常见问题
                    </div>
                    <div class="item">
                        <i class="ico-radiobox check-lump" data-id="3"><span></span></i>
                        新手指引
                    </div>
                    <div class="item">
                        <i class="ico-radiobox check-lump" data-id="4"><span></span></i>
                        用户反馈
                    </div>
                </div>
            </li>
            <li>
                <span class="column-title left">类型:</span>
                <div class="dropdown">
                    <div id="category_Down" style="margin-left:83px;"></div>
                </div>
                <div class="clear"></div>                       
            </li>            
            <li>
                <span class="column-title">标题:</span>
                <input type="text" class="title" />
                <a class="red hide">标题不能为空</a>
            </li>
            <li>
                <span class="column-title">关键字:</span>
                <input type="text" class="keywords" />
            </li>
            <li>
                <span class="column-title">概要图片:</span>
                <span id="uploadImg" class="btn" style="margin:0">图片上传</span>
            </li>
            <li>
                <ul id="cateGoryImages" class="category-img hide  clear-after" style="margin-left:75px;">

                </ul>
            </li>
            <li>
                <span class="column-title">排序:</span>
                <input type="number" class="sort width80" />
            </li>
            <li>
                <span class="column-title left">内容:</span>
                <div style="margin-left:85px;" id="remark"></div>
            </li>
        </ul>
        <div class="btn-ok add-type-details">添加</div>
    </div>
</div>

