<li style="border-bottom:1px solid #ededed;line-height:25px;">
    <div class="li-range">
        <input class="min-number" type="text" maxlength="10" value="" />
    </div>
    <div class="li-range">
        <input class="max-number" type="text" maxlength="10" value="" />
    </div>
    <div class="li-range">
        <input class="price" type="text" maxlength="10" value="" />
    </div>
    
    <div class="li-range">
        <div class="save-price-range btn mLeft10">保存</div>
        <div class="cancel-price-range btn mLeft10">取消</div>
    </div>
       
</li>  
