<li data-rangeid="" style="border-bottom:1px solid #ededed;line-height:25px;" data-id="1">
    <div class="left">
        <span class="left">当订单数量在</span>
        <input class="min-number left" type="text" maxlength="10" value="" />
        <span class="left">到</span>
        <input class="max-number left" type="text" maxlength="10" value="无上限" disabled="disabled" />
        <span class="left">之间,</span>
        <input class="price left" type="text" maxlength="10" value="" />
        <span>元/件</span>
    </div>
    <div class="right center">
        <span class="save-price-range hand hBlue" style="color:#777;">保存</span>
        <span class="cancel-price-range mLeft10 hand hBlue" style="color:#777;">取消</span>
        <span class="update hand hBlue" style="color:#777; display:none;">保存</span>            
        <span class="mLeft10 delete hand hBlue" style="color:#777;display:none;">删除</span>       
    </div>
    <div class="clear"></div>
</li>  
