<li style="border-bottom:1px solid #ededed;line-height:25px;">
    <div class="li-range">
        <input class="min-number" type="text" maxlength="10" value="" />
        <span></span>
    </div>
    <div class="li-range">
        <input class="max-number" type="text" maxlength="10" value="" />
        <span></span>
    </div>
    <div class="li-range">
        <input class="price" type="text" maxlength="10" value="" />
        <span></span>
    </div>
    
    <div class="li-range">
        <div class="save-price-range btn mLeft10">保存</div>
        <div class="cancel-price-range btn mLeft10">取消</div>
        <span class="iconfont update hide">&#xe607;</span>            
        <span class="iconfont mLeft10 delete hide">&#xe651;</span>
        <span class="btn save  mLeft10" style="display:none">保存</span>
        <span class="btn cancel mLeft10" style="display:none">取消</span>
    </div>
       
</li>  
