{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class=""><img style="width:40px; height:40px; vertical-align:middle;" alt="无样图" src="{%=item.OrderImage%}" /></td>
    <td class=""><a href="/Orders/Detail/{%=item.OrderID%}" target="_blank">{%=item.OrderCode%}</a> </td>
    <td class='center'>{%=item.OrderType==1?"打样":"大货" %}</td>
    <td class="center">{%=item.StatusStr%}</td>
    <td class="center">{%=item.PlanQuantity%}</td>
    <td class="center">{%=item.PlanPrice%}</td>
    <td class="tRight">{%=item.TotalMoney.toFixed(2)%}</td>
    <td class='center'>{%= item.PersonName ||"--"%} </td>
    <td class="center">{%=item.MobileTele||"--"%}</td>
    <td class='center'>{%=(item.Owner ? item.Owner.Name:"--")%}</td>
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
</tr>
{% } %}
