{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td>
        <span class="mark" data-id="{%= item.OrderID %}" data-value="{%= item.Mark %}"></span>
    </td>
    <td>
        <img class="left order-img" onerror="$(this).attr('src','/modules/images/img-noimg.png')" alt="样图" src="{%=item.OrderImage?item.OrderImage:'/modules/images/img-noimg.png'%}" />
        <ul class="order-information">
            <li>
                <span>创建时间：{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</span>
            </li>
            <li>
                <span>订单编号：<a href="/Orders/OrderDetail/{%=item.OrderID%}">{%=item.OrderCode%}</a></span>
            </li>
            <li>
                <span>订单类型：{%=item.OrderType==1?"打样":"大货" %}</span>
            </li>
        </ul>
    </td>
    <td>{%=item.IntGoodsCode==""?"--":item.IntGoodsCode%}</td>
    <td class="">{%=item.PlanPrice%}</td>
    <td class="">{%=item.PlanQuantity%}</td>
    <td class="">
        <div class="mBottom-10">{%= item.PersonName ||"--"%}</div>
        <div>{%=item.MobileTele||"--"%}</div>
    </td>
    <td class="">
        <div class="mLeft20">
            <img class="width30 createimg" style="border-radius: 50%;" src="{%=item.Owner.Avatar||'/modules/images/defaultavatar.png'%}" />
            <span class="mLeft10" style="position: absolute;">{%=(item.Owner ? item.Owner.Name:"--")%}</span>
        </div>
    </td>
</tr>
{% } %}
