{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}

<tr class="list-item" style="border-top:1px solid #eee;">
    <td>
        <span class="mark" data-id="{%= item.OrderID %}" data-value="{%= item.Mark %}"></span>
    </td>
    <td>
        <img class="left order-img" onerror="$(this).attr('src','/modules/images/img-noimg.png')" alt="样图" src="{%=item.OrderImage?item.OrderImage:'/modules/images/img-noimg.png'%}" />
        <ul class="order-information">
            <li>
                <span>款式编码：{%=item.IntGoodsCode==""?"--":item.IntGoodsCode%}</span>
            </li>
            <li>
                <span>订单编号：<a href="/Orders/OrderDetail/{%=item.OrderID%}">{%=item.OrderCode%}</a></span>
            </li>
            <li>
                <span>订单状态：</span><span>{%=item.StatusStr%}</span>
            </li>
            <li>
                <span>订单进度：</span><span style="color:#CAAB12">{%=item.TaskCount==0?"0.00%":(item.TaskOver/item.TaskCount*100).toFixed(2)+"%"%}</span>
            </li>
        </ul>
    </td>   
    {% if(item.OrderType==1){ %}  
        <td class="">
            <ul class="order-information-a">
                <li>
                    <span>报价：{%=item.FinalPrice%}</span>
                </li>
                <li>
                    <span>加工成本：{%=item.CostPrice%}</span>
                </li>
                <li>
                    <span>交货日期：{%=item.PlanTime.toDate("yyyy-MM-dd hh:mm:ss")%}</span>
                </li>
            </ul>
        </td>        
    {% }else{ %}
        <td class="">
            <ul class="order-information">
                <li>
                    <span>单价：{%=item.FinalPrice%}</span>
                </li>                
                <li>
                    <span>数量：{%=item.PlanQuantity%}</span>
                </li>
                <li>
                    <span>总价：{%=item.TotalMoney.toFixed(2)%}</span>
                </li>
                <li>
                    <span>交货日期：{%=item.PlanTime.toDate("yyyy-MM-dd hh:mm:ss")%}</span>
                </li>
            </ul>
        </td>     
       
    {% } %}
   
    <td class="">
        <ul class="order-information-a">
            <li>
                <span>联系人：{%= item.PersonName ||"--"%}</span>
            </li>
            <li>
                <span>联系电话：{%=item.MobileTele||"--"%}</span>
            </li>
            <li>
                <span>负责人：{%=(item.Owner ? item.Owner.Name:"--")%}</span>
            </li>
           
        </ul>
        
    </td>
</tr>
{% } %}
