
<div style="max-height:300px; overflow:auto;">
<table  class="table-list">
<tr class="tr-header">
    <td class="tLeft" style="text-indent:0;">规格</td>
    <td class="">下单量</td>
    <td class="">已{%=$data.taskDesc%}</td>
    <td class="">{%=$data.taskDesc%}数量</td>
</tr>
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr data-id="{%=item.AutoID%}" class="list-item">
    <td class=""  style="text-indent:0;">{%=item.Remark%}</td>
    <td class="center">{%=item.Quantity%}</td>
    <td class="center">{%=item.CutQuantity%}</td>
    <td class="center"><input class="width60 quantity" data-max="{%=item.Quantity-item.CutQuantity%}" type="text" value="0" /></td>
</tr>
{% } %}

</table>
</div>
<ul class="easydialog-create">
    <li>
        <span class="width80">备注：</span>
        <textarea id="expressRemark">
            
        </textarea>
    </li>
</ul>