

<table id="orderSendGoods" class="table-list">
<tr class="tr-header">
    <td class="tLeft">规格</td>
    <td class="">下单量</td>
    <td class="">已裁剪</td>
    <td class="">裁剪数量</td>
</tr>
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr data-id="{%=item.AutoID%}" class="list-item">
    <td class="">{%=item.Remark%}</td>
    <td class="center">{%=item.Quantity%}</td>
    <td class="center">{%=item.Complete%}</td>
    <td class="center"><input class="width60 quantity" type="text" value="0" /></td>
</tr>
{% } %}

</table>
<ul class="easydialog-create">
    <li>
        <span class="create-column">裁剪完成：</span>
        <span id="checkOver" class="ico-check pLeft5 mTop2">完成</span> 
    <li>
        <span class="width80">备注：</span>
        <textarea id="expressRemark">
            
        </textarea>
    </li>
</ul>