{%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
    if(i>0){
    %}
%}
<tr class="line-item">
    <td></td>
</tr>
{%}%}
<tr class="item-header">
    <td class="tLeft bLeft">规格</td>
    <td>数量</td>
    {%if(item.DocType==11){%}
    <td class="tLeft">车缝退回</td>
    {%}%}
    <td>小计</td>
    <td>登记时间</td>
    <td>登记人</td>
    <td class="bRight">操作</td>
</tr>
{%
for(var j=0;j<item.Details.length;j++)
{
var detail=item.Details[j];
%}
<tr class="item">
    <td class="tLeft bBottom bLeft">
        {%=detail.Remark%}
    </td>
    <td class="center bBottom">
        {%=detail.Quantity%}
    </td>
    {%if(item.DocType==11){%}
    <td class="tLeft bBottom">
        <div class="left mTop5">0.00</div>
        <div class="left mLeft10"><input class="quantity" type="text" style="width:80px;" value="0" /></div>
        <div class="clear"></div>
    </td>
    {%}%}
    {%
    if(j==0)
    {
    %}
    <td class="center bBottom bLeft cut1" rowspan="{%=item.Details.length%}">
        {%=item.Quantity%}
    </td>
    <td class="center bBottom bLeft" rowspan="{%=item.Details.length%}">
        {%=item.CreateTime.toDate('yyyy-MM-dd hh:mm:ss')%}
    </td>
    <td class="center bBottom bLeft" rowspan="{%=item.Details.length%}">
        {%=item.CreateUser.Name%}
    </td>
    <td class="center bBottom bRight bLeft" rowspan="{%=item.Details.length%}"><a href="/Orders/DocDetail/{%=item.DocID%}" target="_blank">查看详情</a></td>
    {%}%}
</tr>
{%}%}
{%}%}
<tr class="line-item">
    <td colspan="6"></td>
</tr>
<tr class="item">
    <td colspan="1"></td>
    <td class="center font16">合计：<span class="total-count font16"></span></td>
</tr>