
<ul class="easydialog-create">
    <li>
        <span class="width80">订单类型：</span>
        <span>
            <select id="downOrderType">
                <option value="1">打样</option>
                <option value="2">大货</option>
            </select>
        </span> 
    </li>
    <li>
        <span class="width80">创建时间：</span>
        <span><input type="text" maxlength="10" style="width:132px;" id="downStartTime" /></span>
        <span class="mLeft5 mRight5">至</span>
        <span><input type="text" maxlength="10" style="width:132px;" id="downEndTime" /></span></br>
        <span class="red">*最大下载15天内</span>
    </li>
    <li>
        <input class="btn right mTop15 width50" value="确定同步" id="btn-sureDown"/>
    </li>
    <div class="clear"></div>
</ul>

