
<ul class="easydialog-create">
    <li>
        <span class="width80">订单类型：</span>
        <span>
            <select id="downOrderType">
                <option>打样</option>
                <option>大货</option>
            </select>
        </span> 
    </li>
    <li>
        <span class="width80">创建时间：</span>
        <span><input type="text" maxlength="10" style="width:120px;" id="downStartTime" /></span>
        <span class="mLeft5 mRight5">至</span>
        <span><input type="text" maxlength="10" style="width:120px;" id="downEndTime" /></span>
    </li>
</ul>

