{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="">
        <img onerror="$(this).attr('src','/modules/images/img-noimg.png')" alt="样图" src="{%=item.OrderImage?item.OrderImage:'/modules/images/img-noimg.png'%}" />
    </td>
    <td class=""><a href="/Orders/OrderDetail/{%=item.OrderID%}">{%=item.OrderCode%}</a> </td>
    <td class='center'>{%=item.OrderType==1?"打样":"大货" %}</td>
    <td class="center">{%=item.SourceTypeStr%}</td>
    <td class="center {%=item.Status==0?'red':''%}">{%=item.StatusStr%}</td>
    <td class="center ">{%=(item.TaskCount>0?item.TaskOver/item.TaskCount*100:0).toFixed(2)+"%"%}</td>
    <td class="center">{%=item.OrderType==1? "1":item.PlanQuantity%}</td>
    <td class="center">{%=item.OrderType==1? item.Price:item.FinalPrice%}</td>
    <td class="tRight">{%=item.OrderType==1? (item.Price*(1+item.ProfitPrice)).toFixed(2):item.TotalMoney.toFixed(2)%}</td>
    <td class="center">{%=item.CustomerName%}</td>
    <td class='center'>{%=item.EntrustTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
</tr>
{% } %}
