{%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
%}
    <div class="order-item">
        <div class="hint-layer">
            <div class="hint-msg warning">快到期</div>
        </div>
        <div class="left order-img"><img src="/modules/images/img-nouse.png" /></div>
        <div class="left order-detail mLeft20">
            <div class="left">
                <div class="order-title">款式名称</div>
                <div class="mTop10">
                    <span class="iconfont mRight5">&#xe624;</span><span>{%=item.CustomerName%}</span>
                    <span class="iconfont mLeft10 mRight5">&#xe60f;</span><span>{%=item.OrderType==1?"打样":"大货"%}</span>
                    <span class="mLeft10">{%=item.StatusStr%}：</span><span>79%</span>
                </div>
                <div class="mTop10">
                    <span>负责人：</span><span>{%=item.Owner.Name%}</span>
                </div>
            </div>
            <div class="right">
                <div class="mTop30">
                    <div class="order-progress left">
                        <div class="order-progress-use order-progress-item">
                            <div class="progress-tip">12天</div>
                            <div class="top-lump"></div>
                        </div>
                        <div class="order-progress-warn order-progress-item">
                            <div class="progress-tip">剩余12天</div>
                            <div class="top-lump"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="left">
                        18天
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="mTop15 tRight">
                    <span>交货日期：</span><span>{%=item.PlanTime.toDate('yyyy-MM-dd')%}</span>
                </div>
                <div class="clear"></div>
                <div class="mTop5 tRight">
                    <span>创建日期：</span><span>{%=item.CreateTime.toDate('yyyy-MM-dd')%}</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{%}%}