{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class=""><span data-id="{%=item.OrderID%}" data-userid="{%=item.OwnerID%}" class="ico-check check"></span></td>
    <td class=""><a href="/Orders/Detail/{%=item.OrderID%}" target="_blank">{%=item.OrderCode%}</a> </td>
    <td class=""><a href="/Customer/Detail/{%=item.CustomerID%}" target="_blank">{%=item.CustomerName%}</a> </td>
    <td class='center'>{%= (item.OrderType&&item.OrderType.TypeName)?item.OrderType.TypeName:"--" %}</td>
    <td class="center {%=item.Status==1?'red':item.Status==3?'red':''%}">{%=item.StatusStr%}</td>
    <td class="tRight">{%=item.TotalMoney.toFixed(2)%}</td>
    <td class='center'>{%= item.PersonName ||"--"%} </td>
    <td class="center">{%=item.MobileTele||"--"%}</td>
    <td class='center'>{%=(item.Owner ? item.Owner.Name:"--")%}</td>
    <td class='center'>{%=item.SendStatusStr||"--"%}</td>
    <td class='center'>{%=item.OrderTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class="center dropdown" data-id="{%=item.OrderID%}" data-userid="{%=item.OwnerID%}">
        <span class="ico-dropdown"></span>
    </td>
</tr>
{% } %}
