{%
    var item=$data;
%}
<ul>
    <li class="mTop10">
        <span class="width80">款式编码：</span>
        <span class="{%=item.IntGoodsCode?'':'red'%}">{%=item.IntGoodsCode?item.IntGoodsCode:"未设置"%}</span>
    </li>
    <li class="mTop10">
        <span class="width80">款式名称：</span>
        <span class="{%=item.GoodsName?'':'red'%}">{%=item.GoodsName?item.GoodsName:"未设置"%}</span>
    </li>
    <li class="mTop10">
        <span class="width80">收货人：</span>
        <span >{%=item.PersonName?item.PersonName:"未设置"%}</span>
    </li>
    <li class="mTop10">
        <span class="width80">联系方式：</span>
        <span>{%=item.MobileTele?item.MobileTele:"未设置"%}</span>
    </li>
     <li class="mTop10">
        <span class="width80">加工成本：</span>
        <span>{%=item.CostPrice%}</span>
    </li>
    <li class="mTop10">
        <span class="width80">材料成本：</span>
        <span>{%=item.Price%}</span>
    </li>
   
</ul>