{%
	var item = $data;
%}
<ul class="easydialog-create">
    <li>
        <span class="width80">收货人：</span>
        <span><input type="text" maxlength="50" id="personName"  value="{%=item.PersonName%}" /></span> 
    </li>
    <li>
        <span class="width80">联系方式：</span>
        <span><input type="text" maxlength="50" id="mobileTele"  value="{%=item.MobileTele%}" /></span> 
    </li>
    <li>
        <span class="width80">省份城市：</span> 
        <span id="city"></span>
    </li>
    <li>
        <span class="width80">详细地址：</span> 
        <span><input type="text" maxlength="200" style="width:300px;" id="address" class="input"  value="{%=item.Address%}" /></span>
    </li>
        
    <li class="edit-company">
        <span class="width80">订单类型：</span>
        <select id="orderType">
        {% for(var i=0, j=item.OrderTypes.length; i < j; i++){
	        var ordertype = item.OrderTypes[i];
        %}
            <option value="{%=ordertype.TypeID%}">{%=ordertype.TypeName%}</option> 
        {% } %}
        </select>
    </li>
    <li>
        <span class="width80">发货方式：</span>
        <select id="expressType">
            <option value="0">邮寄</option> 
            <option value="3">自提</option> 
        </select>
    </li>
     <li>
        <span class="width80">邮编：</span>
        <span><input type="text" maxlength="50" id="postalcode"  value="{%=item.PostalCode%}" /></span> 
    </li>
    <li>
        <span class="width80">备注：</span>
        <textarea id="remark">
            {%=item.Remark%}
        </textarea>
    </li>

</ul>
{% %}
