{%
        var model= $data;
        var xAttr=model.xAttr,
            yAttr=model.yAttr;            
 %}

<table class="no-border goosddoc" data-id="navgoods" style="width:848px;height:100%;">
    <tr class="head">
        <td class="center no-border-left no-border-top">尺码\规格</td>
        {%
	        for(var i=0, j=xAttr.length; i < j; i++){
	        var item = xAttr[i];
        %}
            <td class="no-border-top">{%=item%}</td>
        {% } %}
    </tr>
    {%        
	    for(var i=0, j=yAttr.length; i < j; i++){
	    var item = yAttr[i];
    %}
    <tr class="tr-item">
        <td class="center no-border-left">{%=item%}</td>
        {%
	        for(var ii=0, jj=xAttr.length; ii < jj; ii++){
	        var td = xAttr[ii];
        %}
            <td class="center">
                <div  data-x="{%=td%}" data-y="{%=item%}" data-remark="{%=td+item%}" class="quantity">0</div>
            </td>
       
      {%  } %}
    </tr>
    {% } %}
    
</table>
