<ul class="center-range center mBottom10"> 
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
    var nextitem=[];
    if($data.length==1 || i==$data.length-1){
        nextitem.MinQuantity="无上限";
    }
    else{
        nextitem.MinQuantity=$data[i+1].MinQuantity;
    }
%}
     <li data-rangeid="{%=item.RangeID%}"  style="border-bottom:1px solid #ededed;line-height:25px;" data-id="{%=i%}">
         <div class="left">
             <span class="left">当订单数量在</span>
             <input class="min-number left" data-num="{%=item.MinQuantity%}" type="text" maxlength="10" value="{%=item.MinQuantity%}" />
             <span class="left">到</span>
             <input class="max-number left" type="text" data--num="{%=nextitem.MinQuantity%}" disabled="disabled" maxlength="10" value="{%=nextitem.MinQuantity%}" />
             <span class="left">之间,价格</span>
             <input class="price left" data-num="{%=item.Price%}" type="text" maxlength="10" value="{%=item.Price%}" />
             <span>元/件</span>
         </div>
        
        <div class="right center">            
            <span class="update ico-edit iconfont font14"></span>            
            <span class="mLeft10 mTop1 delete iconfont">&#xe651;</span>            
        </div>         
    </li>    
    
{% } %}    
    {%if($data.length==0){%}
    <li class="center no-data mTop30">暂无数据</li>
    {%}%}
</ul>
<div class="tLeft">
    <div class="btn-add add-range">新增</div>
</div>