<ul class="center-range center"> 
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
    var nextitem=[];
    if($data.length==1 || i==$data.length-1){
        nextitem.MinQuantity="无上限";
    }
    else{
        nextitem.MinQuantity=Number($data[i+1].MinQuantity)-1;
    }
%}
     <li data-rangeid="{%=item.RangeID%}"  style="border-bottom:1px solid #ededed;line-height:25px;" data-id="{%=i%}">
         <div class="left">
             <span class="left">当订单数量在</span>
             <input class="min-number left" data-num="{%=item.MinQuantity%}" type="text" maxlength="10" value="{%=item.MinQuantity%}" />
             <span class="left">到</span>
             <input class="max-number left" type="text" data-num="{%=item.MinQuantity%}" disabled="disabled" maxlength="10" value="{%=nextitem.MinQuantity%}" />
             <span class="left">之间,</span>
             <input class="price left" data-num="{%=item.Price%}" type="text" maxlength="10" value="{%=item.Price%}" />
             <span>元/件</span>
         </div>
        
        <div class="right center">            
            <span class="update">保存</span>            
            <span class="mLeft10 delete">删除</span>            
        </div>         
    </li>    
    
{% } %}    
    {%if($data.length==0){%}
    <li class="center nodata-txt mTop30" style="border-bottom:1px solid #ededed;">暂无数据</li>
    {%}%}
</ul>
<div class="">
    <span class="left btn-link mLeft4 hand font14 add-range">新增</span>
    <span class="right btn-link hand font14 close-range mRight4">关闭</span>
</div>