{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item hover" data-id="{%=item.DocID%}">
    <td class=""><a href="/Orders/DocDetail/{%=item.DocID%}" target="_blank">{%=item.DocCode%}</a> </td>
    <td class="center send1">{%=item.Quantity%}</td>
    <td class="center">{%=item.ExpressCode%}</td>
    <td class="center">{%=item.Express?item.Express.Name:""%}</td>
    <td class='center'>{%=(item.CreateUser ? item.CreateUser.Name:"--")%}</td>
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class='center'><span class="ico-dropdown"></span></td>
</tr>
{% } %}
<tr class="total-item hover bold">
    <td class="">合计：</td>
    <td class="center" data-class="send1"></td>
    <td class='center'></td>
    <td class='center'></td>
    <td class='center'></td>
    <td class='center'></td>
    <td class='center'></td>
</tr>
