{%
    for(var i=0;i<$data.length;i++)
    {
        var item=$data[i];
    if(i>0){
    %}
%}
<tr class="line-item">
    <td></td>
</tr>
{%}%}
<tr class="item-header">
    <td class="tLeft">规格</td>
    <td class="">数量</td>
    <td>小计</td>
    <td class="">快递单号</td>
    <td class="">快递公司</td>
    <td class="">发货人</td>
    <td class="">发货时间</td>
    <td>操作</td>
</tr>
{%
for(var j=0,jj=item.Details.length;j<jj;j++)
{
    var detail=item.Details[j];
%}
<tr class="item">
    <td class="tLeft bBottom">
        {%=detail.Remark%}
    </td>
    <td class="center bBottom">
        {%=detail.Quantity%}
    </td>
    {%
    if(j==0)
   {
    %}
    <td class="center bBottom bLeft cut1" rowspan="{%=jj%}">
        {%=item.Quantity%}
    </td>
    <td class="center bBottom bLeft" rowspan="{%=jj%}">
        {%=item.ExpressCode%}
    </td>
    <td class="center bBottom bLeft" rowspan="{%=jj%}">
        {%=item.Express?item.Express.Name:""%}
    </td>
    <td class="center bBottom bLeft" rowspan="{%=jj%}">{%=item.CreateUser.Name%}</td>
    <td class="center bBottom bLeft" rowspan="{%=jj%}">{%=item.CreateTime.toDate('yyyy-MM-dd hh:mm:ss')%}</td>
    <td class="center bBottom bLeft" rowspan="{%=jj%}"><a href="/Orders/DocDetail/{%=item.DocID%}" target="_blank">查看详情</a></td>
    {%}%}
</tr>
{%}}%}
<tr class="line-item">
    <td></td>
</tr>
<tr>
    <td colspan="2"></td>
    <td class="center font16">合计：<span class="total-count font16"></span></td>
</tr>