
<div style="max-height:300px; overflow:auto;">
<table  class="table-list" >
<tr class="tr-header">
    <td class="tLeft">规格</td>
    <td class="">下单量</td>
    <td class="">已{%=$data.taskDescCut||"裁剪"%}</td>
    <td class="">已{%=$data.taskDesc||"车缝"%}</td>
    <td class="">{%=$data.taskDesc||"车缝"%}数量</td>
</tr>
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr data-id="{%=item.AutoID%}" class="list-item">
    <td class="">{%=item.Remark%}</td>
    <td class="center">{%=item.Quantity%}</td>
    <td class="center">{%=item.CutQuantity%}</td>
    <td class="center">{%=item.Complete%}</td>
    <td class="center"><input class="width60 quantity" type="text" data-max="{%=item.CutQuantity-item.Complete%}" value="0" /></td>
</tr>
{% } %}

</table>
</div>
<ul class="easydialog-create">
    <li>
        <span class="width80 red">注意：</span>
        <span class="red">提交后不能撤销或修改，请确认数量输入正确</span>
    </li>
    <li>
        <span class="width80">操作人：</span>
        <label class="owner-name"></label>
        <span class="change-ico iconfont hand choose-owner mLeft10">&#xe60b;</span>
    </li>
    <li>
        <span class="width80">备注：</span>
        <textarea id="expressRemark">
            
        </textarea>
    </li>
</ul>