
<div style="max-height:300px; overflow:auto;">
<table  class="table-list" >
<tr class="tr-header">
    <td class="tLeft">规格</td>
    <td class="">下单量</td>
    <td class="">已裁剪</td>
    <td class="">已车缝</td>
    <td class="">车缝数量</td>
</tr>
{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr data-id="{%=item.AutoID%}" class="list-item">
    <td class="">{%=item.Remark%}</td>
    <td class="center">{%=item.Quantity%}</td>
    <td class="center">{%=item.CutQuantity%}</td>
    <td class="center">{%=item.Complete%}</td>
    <td class="center"><input class="width60 quantity" type="text" data-max="{%=item.CutQuantity-item.Complete%}" value="0" /></td>
</tr>
{% } %}

</table>
</div>
<ul class="easydialog-create">
<!--    <li>
        <span class="create-column">裁剪完成：</span>
        <span class="check ico-check pLeft5 mTop2">完成</span> 
    </li>-->
    <li>
        <span class="width80">备注：</span>
        <textarea id="expressRemark">
            
        </textarea>
    </li>
</ul>