@{
    
    Layout = "/Views/Shared/_LayoutNoLeft.cshtml";
    IntFactoryEntity.Users CurrentUser = (IntFactoryEntity.Users)Session["ClientManager"];
    ViewBag.Title = "首页";
}

@section css{
<link href="/modules/css/home/home.css" rel="stylesheet" />
<style type="text/css">
    .main-content { margin-left:0px; }

    .indexContent {
        width:1100px;
    margin:120px auto;
    
    }
    .orderContent {
      width:397px;
      min-height:300px;
      margin-bottom:10px;
    }

        .indexContent .header {
        border-left:solid 2px #999;
        padding-left:8px;
        font-size:14px;
        color:#666;
        
        }

     .fentOrderNav {
        margin-top: 10px;
    }
    

    .fentOrderNav .navTab li{
    float:left;
    line-height:80px;
    padding:0px 42px;
    background-color:#5abcde;
    color:#fff;
    cursor:pointer;
    }

        .fentOrderNav .navTab li:hover {
            background-color:#4290b1;
        }

    .fentOrderNav .navTab .hover {
   background-color:#4290b1;
         }

    .orderContentList {
    margin-top:10px;
    width:100%;
    background-color:#fff;
    padding-bottom:80px;
    
    }

        .orderContentList table {
            border-collapse: collapse;
        }

    .orderContentList thead td {
        line-height:40px;
        border-bottom:solid 1px #eee;
        }


        .orderContentList td {
        color:#666;
        line-height:60px;
        border-bottom:dashed 1px #eee;
        text-align:center;
        }

        .bulkOrderNav {
        margin-top: 10px;
    }
            .bulkOrderNav .navTab {
            list-style-type: none;
    margin: 0;
    line-height: 0px;
            }

    .bulkOrderNav .navTab li{
    float:left;
    line-height:80px;
    padding:0px 42px;
    background-color:#fb8775;
    color:#fff;
    cursor:pointer;
    }
                .bulkOrderNav .navTab li:hover {
                    background-color:#ca5846;
                }

    .bulkOrderNav .navTab .hover {
   background-color:#ca5846;
         }

    .itemContent {
    padding:15px 25px;
    border:solid 1px #eee;
    border-radius:3px;
    background-color:#fff;
    color:#666;
    }
</style>
}

<div class="indexContent">
    <div class="left orderContent">
        <div class="header">
            打样
        </div>

        <div class="fentOrderNav">
            <ul class="navTab">
                <li class="hover">我负责的</li>
                <li>我发出的</li>
                <li>我协助的</li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="orderContentList">
            <table width="100%">
                <thead>
                        <td width="35%">订单编号</td>
                        <td width="30%">状态</td>
                        <td width="35%">创建时间</td>
                </thead>
                <tr>
                    <td><a>11111111111</a></td>
                    <td>11</td>
                    <td>2016-1-2</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="left mLeft30 orderContent">
        <div class="header">
            大货
        </div>

        <div class="bulkOrderNav">
            <ul class="navTab">
                <li class="hover">我负责的</li>
                <li>我发出的</li>
                <li>我协助的</li>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="orderContentList">
            <table width="100%">
                <thead>
                        <td width="35%">订单编号</td>
                        <td width="30%">状态</td>
                        <td width="35%">创建时间</td>
                </thead>
                <tr>
                    <td><a>11111111111</a></td>
                    <td>11</td>
                    <td>2016-1-2</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="left mLeft30">
        <div class="header">
            客户
        </div>

        <div class="left itemContent mTop10">
            <div class="left"></div>
            <div class="left">
                <div>客户数</div>
                <div class="center mTop5">11</div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="left itemContent mTop10 mLeft10">
            <div class="left"></div>
            <div class="left">
                <div>订单数</div>
                <div class="center mTop5">11</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="itemContent mTop10" style="width:120px;">
            <div class="left"></div>
            <div class="left" >
                <div>订单金额</div>
                <div class="center mTop5">11</div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="header mTop30">
            需求
        </div>

        <div class="mTop10">
            <div class="left itemContent" style="border-right:none;">
                <div>本厂订单</div>
                <div class="center mTop5">11</div>
            </div>
            <div class="left itemContent" style="border-left:none;">
                <div>推荐订单</div>
                <div class="center mTop5">11</div>
            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>

@*@section scripts{
<script type="text/javascript">
    seajs.use(["scripts/home"], function (layout) {
        layout.initHome();
    });
</script>
}
<div class="home-body">
   <div class="report-box">
       <div class="report-item">
           <div class="item-header bgactive">
               <div class="active-ico"></div>
               <h1>新增活动数</h1>
               <div class="triangle"></div>
           </div>
           <div class="item-main">
               <ul class="item-title">
                   <li>昨天</li>
                   <li>上周</li>
                   <li>上月</li>
               </ul>
               <ul class="item-value">
                   <li><label id="activeDay">0</label></li>
                   <li><label id="activeWeek">0</label></li>
                   <li><label id="activeMonth">0</label></li>
               </ul>
           </div>
       </div>
       <div class="report-item">
           <div class="item-header bgcustom">
               <div class="custom-ico"></div>
               <h1>新增客户数</h1>
               <div class="triangle"></div>
           </div>
           <div class="item-main">
               <ul class="item-title">
                   <li>昨天</li>
                   <li>上周</li>
                   <li>上月</li>
               </ul>
               <ul class="item-value">
                   <li><label id="customDay">0</label></li>
                   <li><label id="customWeek">0</label></li>
                   <li><label id="customMonth">0</label></li>
               </ul>
           </div>
       </div>
       <div class="report-item">
           <div class="item-header bgoppor">
               <div class="oppor-ico"></div>
               <h1>新增机会数</h1>
               <div class="triangle"></div>
           </div>
           <div class="item-main">
               <ul class="item-title">
                   <li>昨天</li>
                   <li>上周</li>
                   <li>上月</li>
               </ul>
               <ul class="item-value">
                   <li><label id="opporDay">0</label></li>
                   <li><label id="opporWeek">0</label></li>
                   <li><label id="opporMonth">0</label></li>
               </ul>
           </div>
       </div>
       <div class="report-item">
           <div class="item-header bgorder">
               <div class="order-ico"></div>
               <h1>新增订单数</h1>
               <div class="triangle"></div>
           </div>
           <div class="item-main">
               <ul class="item-title">
                   <li>昨天</li>
                   <li>上周</li>
                   <li>上月</li>
               </ul>
               <ul class="item-value">
                   <li><label id="orderDay">0</label></li>
                   <li><label id="orderWeek">0</label></li>
                   <li><label id="orderMonth">0</label></li>
               </ul>
           </div>
       </div>
       <div class="report-item">
           <div class="item-header bglogin">
               <div class="login-ico"></div>
               <h1>登录人次</h1>
               <div class="triangle"></div>
           </div>
           <div class="item-main">
               <ul class="item-title">
                   <li>昨天</li>
                   <li>上周</li>
                   <li>上月</li>
               </ul>
               <ul class="item-value">
                   <li><label id="loginDay">0</label></li>
                   <li><label id="loginWeek">0</label></li>
                   <li><label id="loginMonth">0</label></li>
               </ul>
           </div>
       </div>
       <div class="report-item">
           <div class="item-header bgbuy">
               <div class="buy-ico"></div>
               <h1>授权信息</h1>
               <div class="triangle"></div>
           </div>
           <div class="item-main">
               <ul class="item-title">
                   <li>剩余天数</li>
                   <li>购买人数</li>
                   <li>当前员工</li>
               </ul>
               <ul class="item-value">
                   <li>@ViewBag.RemainderDays</li>
                   <li>@ViewBag.UserQuantity</li>
                   <li>@(ViewBag.UserCount)</li>
               </ul>
           </div>
       </div>
   </div>
</div>*@





