@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>二当家</title>
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/login.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div class="main">
        <div class="title">二当家登录</div>
        <div class="content">
            <div class="login">
                <div class="loginbar">
                    您尚未被管理员添加到二当家，请联系管理员
                </div>
                <div class="loginbar">
                   
                </div>
                <div id="loginBtn"> 
                    <a class="right btnLogin center" id="btnLogin" href="Login">返回登录</a>
                </div>
            </div>
            <img class="logo" src="../../modules/images/logo_login.png" />
        </div>
        </div>
        <div class="copyright">
            <p>上海云销信息科技有限公司 (C)2013-2015<p>
@*            <span>上海云销信息科技有限公司 (C)2013-2015</span>*@
        </div>
    </div>
</body>
</html>
