@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta content="供应链管理，智能工厂，流程管理，服装可视化管理" name="keywords"/>
    <meta content="中国市场最通用的智能工厂服装可视化管理平台，供应链管理，功能强大，2016年开始运营" name="description"/>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>智能工厂-厂盟智能</title>
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/default/layout.css" rel="stylesheet" />
    <link href="/modules/css/home/login.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/modules/images/logo_login.png"/>
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/login"], function (home) {
            home.initLogin('@(ViewBag.Status)', '@ViewBag.BindAccountType', '@ViewBag.ReturnUrl');
        });
    </script>
</head>
<body>
    <div class="login-body">
        <div class="login-header">
            <div class="left header-logo" onclick="location.href='http://www.intfactory.cn/'">
                <div class="left"><img src="/modules/images/logo_login.png" style="width:50px;" /></div>
                <div class="clear"></div>
            </div>
       </div>

        <div class="main">
            <div class="loginTitle center">登录</div>
            <div class="login">
                <div class="registerErr hide"></div>

                <div class="loginbar">
                    <input type="text" class="input icoUserName" id="iptUserName" placeholder="请输入账号" value="@ViewBag.UserName" maxlength="25"/>
                </div>
                <div class="loginbar" style="position:relative;">
                    <input type="password" class="input icoUserPwd" id="iptPwd"/>
                    <div class="txtBoxPassword">请输入密码</div>
                </div>

                <div class="btnLogin" id="btnLogin">登录</div>
                <div class="remember-box">
                    <div class="cb-remember-password ico-check ">
                        一周内保持登录
                    </div>
                    <div class="right pRight5">
                        <a href="/Home/FindPassword" class="linkRegister">忘记密码?</a>
                        <span class="font14"> | </span>
                        <a href="/Home/Register" class="linkRegister">注册厂盟</a> 
                    </div>
                </div>
                <div class="other-account">
                    <div class="accounts">
                        <a class="" href="/Home/AlibabaLogin?ReturnUrl=@ViewBag.ReturnUrl" title="阿里账号登录">
                            <span class="other-logo account-alibaba"></span>
                            <span class="left mLeft5">阿里巴巴登录</span> 
                        </a>
                        <a class=" mLeft10" href="/Home/WeiXinLogin?ReturnUrl=@ViewBag.ReturnUrl" title="微信账号登录">
                            <span class="other-logo account-weixin"></span>
                            <span class="left mLeft5">微信登录</span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            Copyright©2016-2017，备案号：浙ICP16001314  技术支持 <a href="http://www.yunxiaokeji.com/">云销科技</a>
        </div>
    </div>
</body>
</html>
