
@{
    Layout = null;
    var model = (IntFactoryEntity.Manage.Clients)ViewBag.Model;
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Order;
}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="zh-CN" />
	<meta name="author" content="zuroke" />
	<title>智能工厂-在线下单成功</title>
    <link href="/modules/css/default/order_create.css" rel="stylesheet" />
    <script>
        function CloseWebPage() {
            if (navigator.userAgent.indexOf("MSIE") > 0) {
                if (navigator.userAgent.indexOf("MSIE 6.0") > 0) {
                    window.opener = null;
                    window.close();
                }
                else {
                    window.open('', '_top');
                    window.top.close();
                }
            }
            else if (navigator.userAgent.indexOf("Firefox") > 0) {
                window.location.href = 'about:blank ';
            }
            else {
                window.opener = null;window.open('', '_self');window.close();
            }
        }
    </script>
</head>

<body>
<!--页头-->
<div class="pay-title pay-body row">
    <div class="pay-title-name left">
        <i><img src="@(string.IsNullOrEmpty(model.Logo) ? "/modules/images/selforder/title-logo.png" : model.Logo)" alt=""/></i>
        <span>@(model.CompanyName)</span>
    </div>
</div>
<!--页头end-->

<!--内容-->
<div class="pay-content pay-body row" style="border:none">
	<div class="success">
    	<div class="success-order row">
            <ul class="r">
                <li>订单号：@(order.OrderCode)</li>
                <li>下单时间：@(order.CreateTime.ToString("yyyy-MM-dd HH:mm:ss"))</li>
               @* <li class="query">可通过手机号查询您的订单状态</li>*@
            </ul>
        </div>
        <div class="success-btn">
        	<a class="btn-order hand" href="/Home/SelfOrder/@(model.ClientID)">继续下单</a>
            <span class="btn-order btn-close" style="cursor:pointer; background:#eee;color:#999;border-color:#ddd;" onclick="CloseWebPage();">立即关闭</span>
            @*<button type="button" value="订单查询" class="btn-query">订单查询</button>*@
        </div>
    </div>
    
</div>
<!--内容end-->

</body>
</html>
