@{
    ViewBag.Title = "选择绑定现有账户";

    Layout = null;
}

<link href="/modules/css/base.css" rel="stylesheet" />
<link href="/modules/css/home/selectlogin.css" rel="stylesheet" />

<div class="select-login">
    <div class="left ali-login">
        <div><img src="/modules/images/ico-ali-login.png" /></div>
        <div class="des">使用阿里账户直接登录</div>
        <a href="/Home/AliRegisterMember" class="btn">直接登录</a>
    </div>

    <div class="left bind-account">

        <div><img src="/modules/images/ico-account-login.png" /></div>
        <div class="des">将阿里账户与现有账户进行绑定</div>
        <a class="btn" href="/Home/BindAccount">绑定现有账户</a>
    </div>
    <div class="clear"></div>
</div>

