@charset"utf-8";
body{background:#f8f8f8;}
.h-content{width:1200px;margin:60px auto 0;}
.h-header{padding:60px 0; text-align:center;}
.h-title{font-size:36px; color:#4a98e7;}
.h-title span{padding-right:20px; color:#666;}
.h-search{width:620px;margin:40px auto 0;border:1px solid #ccc;background:#fff;border-radius:3px;}
.h-search .l{padding:6px 20px;}
.input-txt{height:26px; width:400px; font-size:14px; line-height:26px;}
.input-btn{ height:38px; width:140px; font-size:18px; color:#fff; line-height:38px; text-align:center; background:#4a98e7; border-radius:0 3px 3px 0;}
.h-main{ margin-bottom:70px;}
.h-subtitle{font-size:18px; color:#000; border-bottom:1px solid #ccc;}
.h-subtitle span{ display:inline-block; padding:15px 10px;}
.h-list > li{float:left; width:270px; margin-top:70px; padding:0 20px 0 10px;}
.h-list h3{height:40px; padding-left:56px; font-size:18px; color:#4a98e7; line-height:40px;}
.icon1{ background:url(../images/help-01.png) no-repeat left center;}
.icon2{ background:url(../images/help-02.png) no-repeat left center;}
.icon3{ background:url(../images/help-03.png) no-repeat left center;}
.icon4{ background:url(../images/help-04.png) no-repeat left center;}
.icon5{ background:url(../images/help-05.png) no-repeat left center;}
.icon6{ background:url(../images/help-06.png) no-repeat left center;}
.icon7{ background:url(../images/help-07.png) no-repeat left center;}
.icon8{ background:url(../images/help-08.png) no-repeat left center;}
.h-row{margin-top:20px;}
.h-row li{height:40px; padding-left:38px; font-size:14px; color:#666; line-height:40px; background:url(../images/help-09.png) no-repeat 10px center;}
.h-row li a{color:#666;}
.h-row li a:hover{ text-decoration:underline;}
.h-contact{padding-bottom:120px;}
.h-mode{margin:50px 0 0 10px;}
.h-mode a{ display:inline-block; min-width:160px; height:60px; padding:0 20px 0 60px; margin-right:40px; font-size:14px; color:#fff; line-height:60px; text-align:center; border-radius:3px;}
.h-mode a.icon-tel{}
.icon-tel{background:#4a98e7 url(../images/help-10.png) no-repeat 15px center;}
.icon-info{background:#4a98e7 url(../images/help-11.png) no-repeat 15px center;}
/*文档*/
.helprow{padding:0 0 50px;}.helptitle{margin:100px 0 0;}
.helptitle dt,.helptitle dd,.helptitle i{float:left;margin-right:5px;line-height:30px;color:#666;}
.helptitle dt a{font-size:18px;color:#666;}.helptitle dt a:hover{color:#4a98e7;}.helptitle dd{font-size:20px;color:#333;}
.helplist{width:20%;margin:20px 0;background:#fff;border:dashed 1px #ccc;border-radius:5px;}
.helpwd{width:78%;}
.helpwd h1{margin:10px 0 0;font-size:18px;line-height:40px;color:#06c;border-bottom:solid 1px #ccc;}
.helplist-guide h3 a{display:inline-block;padding:10px 0 5px 10px;font-size:16px;color:#4a98e7;}
.helplist-guide li{margin:10px 0 10px 20px;font-size:14px;}.helplist-guide li a{color:#999;}
.collapse.in{display:block;}.collapse{display: none;}
.collapsing{position:relative;height:0;overflow:hidden;-webkit-transition:height .35s ease;}
.helplist-guide li.active a{color:#4a98e7;}.helplist-guide li a:hover{text-decoration:underline;color:#000;}

.helpword h5{margin-top:20px;font-size:18px;line-height:40px;color:#333;}.helprow p{font-size:14px;line-height:30px;color:#666;}
.helpword-art-indt{text-indent:30px;}.helprow i{display:block;font-size:14px;line-height:30px;}
.helpword-art img{width:100%;margin:20px 0;}
@keyframes listchange
{
from {height:0;}
to {height:auto;}
}