
/*全局样式*/
body { background-color:#fff; }

/*header样式*/
header { height:50px; width:100%; background-color:#0E4072; position:fixed; top:0; z-index:1999; opacity:0.9;}

header .logo { margin-top:13px; margin-left:10px; }
header .logo img{ height:26px; }

header .companyname { width: 168px; font-size:14px; padding:16px 0 0 5px; color: #eee; cursor: pointer;  }
header .companyname:hover { color: #fff; }

/*一级菜单*/
header .menu { height:50px; margin-left:30px;  }
header .menu a{  height:50px; line-height:50px;text-align:center; width:100px; display:inline-block; font-size:14px; color:#fff; }
header .menu .select {background-color:#062646;}

/*登录信息*/
header .currentuser { margin-right:30px; cursor:pointer;}
header .currentuser span{ display:inline-block; float:left;}
header .currentuser .avatar { height:35px; width:35px; border:solid 1px #2F74B9; border-radius:18px; margin-top:7px;}
header .currentuser .username { margin-left:10px; color:#eee; line-height:50px; font-size:14px; }

header .currentuser .dropdown { width:16px; height:16px; position:relative; overflow:hidden; margin-left:5px; margin-top:24px; }
header .dropdown .dropdown-top { border-top:solid 6px #eee; border-left:solid 6px transparent ;border-right:solid 6px transparent ; }
header .dropdown .dropdown-bottom { border-top:solid 6px #2F74B9; border-left:solid 6px transparent ;
                                    border-right:solid 6px transparent; position:absolute; top:-3px; left:0; }

header .currentuser:hover .username{ color:#fff;}
header .currentuser:hover .dropdown-top{ border-top:solid 6px #fff;}


.dropdown-userinfo { position:fixed; background-color:#fff; width:120px; z-index:1000; border-radius:2px; border:solid 1px #eee;
                     box-shadow:0 0 5px #ccc; top:50px; right:20px; z-index:2000;}
.dropdown-userinfo .top-lump { border-bottom:solid 10px #fff; border-left:solid 12px transparent ;border-right:solid 12px transparent; 
                               width:0; height:0; position:absolute; left:50px; top:-9px; }
.dropdown-userinfo .items-list { padding:5px 0; overflow:auto; }
.dropdown-userinfo .items-list .item{ height:35px; line-height:35px; float:left; width:120px; }
.dropdown-userinfo .items-list .item a{ width:70px;padding-left:30px; display:inline-block; font-size:14px; color:#666;}
.dropdown-userinfo .items-list .item:hover{ background-color:#eee; }


/*左侧菜单栏*/
nav { width:200px; position:fixed; left:0; top:50px; height:100%; background-color:#eee; border-right:solid 1px #ddd; opacity:0.9;}

nav .controller { border-top:solid 1px #eee; padding:5px 0;}
nav .controller-box {  height:40px; cursor:pointer; }
nav .controller-name { height:40px; cursor:pointer; text-align:center; line-height:40px; font-size:16px; color:#062646; }


nav .action-box {}
nav .action-box .action { width:200px; height:40px; line-height:40px;}
nav .action-box a { width:200px; display:inline-block; color:#666; text-align:center;}

nav .action-box .action:hover a,nav .action-box .select a{ color:#062748; text-decoration:none; }
nav .action-box .select { width:201px; background-color:#fff;} 


.main-content { margin:0 20px 0 220px; padding-top:50px;}

/*Title样式*/
.header-box { border-bottom:solid 1px #e6e6e6; margin-top:15px; height:35px; }
.header-box .header-title { height:35px; line-height:35px; color:#666; font-size:16px;}
.header-box .ico-back { margin:6px 0 0 20px; }

/*内容页样式*/
.content-body{ padding:20px 0 80px; overflow:auto; background-color:#fff; border-radius:2px; min-height:130px; }
.search-body { height:35px; }

/*数据验证错误*/
.verify-fail-err { height:20px; line-height:20px; padding-left:10px; padding-top:2px;}

/*搜索条件*/
.search-box { margin-top:15px; }

/*search-tab*/
.search-header { height:36px; overflow:auto; border-bottom:solid 1px #B5C2CA; }
.search-header .search-tab { height:35px; margin-left:20px; float:left; }
.search-header .search-tab li{ padding:0 10px; cursor:pointer; min-width:70px; text-align:center; margin-top:10px; margin-right:5px;height:25px; line-height:25px; color:#fff;
                               float:left; background-color:#B5C2CA; border-radius:2px;  border-bottom-left-radius:0; border-bottom-right-radius:0; 
                               border-left:solid 1px #B5C2CA; border-right:solid 1px #B5C2CA; border-top:solid 1px #B5C2CA;}
.search-header .search-tab li:hover{ background-color:#fff; color:#4a98e7;}
.search-header .search-tab li.hover{ height:35px;  margin-top:0px; background-color:#fff; color:#4a98e7; line-height:35px;  }

.search-header .search-tab-status { float:right; height:25px; line-height:25px;margin-top:5px; }
.search-header .search-tab-status li{ float:left; margin-left:5px; padding:0 15px; cursor:pointer; text-align:center; color:#666; border-radius:13px;}
.search-header .search-tab-status li:hover{ background-color:#ccc; color:#fff;}
.search-header .search-tab-status li.hover{ background-color:#4a98e7; color:#fff;}


/*表格样式*/
.table-list { width: 100%; border-spacing: 0px;}

.table-list .tr-header{ height:35px; text-align:center; }
.table-list .tr-header td{ height:35px; border-bottom:solid 2px #eee; font-size:13px; color:#999; padding:0 5px;}

.table-list tr:not(:first-child){ height:35px; cursor:pointer; }
.table-list tr:not(:first-child):hover { background-color: #f6f6f6; }
.table-list tr:not(:first-child) td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#333; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis;  }

.table-list td a{ color:#4a98e7;  vertical-align:middle;}
.table-list td a:hover{ color:red; text-decoration:underline; }

.table-list td img{ height:80px; width:80px; vertical-align:middle;}

/*排序*/
.table-list .tr-header .td-span{  position:relative; cursor:pointer;line-height:35px; }

.table-list .tr-header .td-span:hover { color:#4a98e7; }
.table-list .tr-header .td-span.hover { color:#4a98e7; }

.table-list .tr-header .td-span .asc { position:absolute;  top:2px; border-bottom:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}
.table-list .tr-header .td-span .desc { position:absolute; top:9px; border-top:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}

.table-list .tr-header .td-span .asc.hover {  border-bottom:solid 5px #4a98e7;}
.table-list .tr-header .td-span .desc.hover { border-top:solid 5px #4a98e7;}

.table-list .ico-check { vertical-align:middle; }
.table-list .ico-checked { vertical-align:middle; }

/*批量操作*/
.batch-operate { padding-left:5px; height:20px; line-height:20px; }
.batch-operate li{ float:left;}

/*表格样式-rpt*/
.table-list-rpt { width:100%; border-top:solid 1px #ccc;border-left:solid 1px #ccc; border-collapse:collapse;border-spacing:0;}
.table-list-rpt tr{ height:25px; line-height:25px;  background-color: #fff;}
.table-list-rpt tr:hover { background-color: #eee; }
.table-list-rpt td{ border-bottom:solid 1px #ccc;border-right:solid 1px #ccc; padding:5px 10px; vertical-align:middle;  }
.table-list-rpt a{ color:#333;  vertical-align:middle;}
.table-list-rpt a:hover{ color:red; text-decoration:underline; }
.table-list-rpt .tr-header{ text-align:center;font-weight:bold; height:35px; }
.table-list-rpt .tr-header td{ background-color:#eee; color:#2a3441;}


/*弹出层-新建*/
.easydialog-create { min-width:400px;  }
.easydialog-create li{ margin-top:10px; }
.easydialog-create li span{ display:inline-block; vertical-align:top;}
.easydialog-create li input[type="text"]{ width:180px; }
.easydialog-create li textarea{ width:350px; min-height:75px; }
.easydialog-create li label{ line-height:20px; height:20px; cursor:pointer; }
.easydialog-create li label input{ line-height:20px; height:20px; }


/*详情页Title*/
.content-title { height:35px; }
.content-title .titlename { font-size:14px; color:#666; }

/*详情页-信息*/
.content-info { width:80%; min-width:600px; overflow:auto; }
.content-info li{ width:50%; float:left;  line-height:35px; }
.content-info li .column-title{ width:100px; float:left; color:#999; }
.content-info li .column-value{ max-width:300px; float:left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color:#666;}

/*新建样式*/
.table-add {  border-bottom:solid 1px #eee; padding-bottom:20px; }
.table-add li{ line-height:25px; margin-top:5px;  padding: 2px 0px;}
.table-add li input[type="text"],.table-add li input[type="password"]{ height:20px; line-height:20px; padding:2px 5px; width:150px; }
.table-add li textarea {resize:none; height:80px; line-height:20px; padding:1px 5px; border:solid 1px #ccc; width:350px; border-radius:2px;}
.table-add span {  display:inline-block; vertical-align:top;}
.table-add .column-title { color:#999; width:100px;}

/*切换导航样式*/
.tab-nav { margin:10px 0; height:33px; line-height:33px; border-bottom: solid 1px #ccc; }
.tab-nav ul { height: 32px; }
.tab-nav ul li { height:32px; float:left; padding:0 20px; cursor:pointer; }
.tab-nav ul li:hover { color:#318ae4; }
.tab-nav ul li.hover { position: relative; height: 32px; line-height: 32px; border-bottom: 2px solid #4a98e7; color:#318ae4;}

/*日志样式*/
.log-body { width:99%; }
.log-body .log-item {width:99%; line-height:30px; overflow:auto; border-bottom:dashed 1px #eee; margin-top:10px; }
.log-body .createuser { vertical-align:middle; }
.log-body .createuser img { float:left; height:30px; width:30px; border-radius:15px; margin-top:15px; }
.log-body .createuser h2 { float:left; vertical-align:middle; line-height:60px; width:60px; margin-left:10px; }
.log-body .createtime { color:#999; }

/*意见反馈*/
/*.feedback { width: 16px; position: fixed; right: 0px; top: 320px; background-color: #f2f4f8; font-size: 14px; padding: 5px; border: solid 1px #eee; cursor: pointer; color: #666; }*/

.feedback_dialog li { margin-bottom:20px; }

.feedback_dialog li .input { width: 150px; }

.feedback_dialog li .textarea { width: 300px; }

.feedback_dialog span { display: inline-block; }

/*图片预览定位*/
.absolute-img { position:absolute; top:180px; right:40px; height:220px; width:220px; }

/*暂无数据*/
.noDataTxt { padding: 95px 0px; font-size: 16px; text-align: center; color: #666; }

/*图片loading*/
.dataLoading { padding: 85px 0px; font-size: 16px; text-align: center; color: #666; }

.data-loading { padding: 85px 0px; font-size: 16px; text-align: center; color: #666;background:url(/modules/images/ico-loading.jpg) no-repeat center center; }
.nodata-txt{ padding: 95px 0px; font-size: 16px; text-align: center; color: #666; }

/*添加表单*/
.contentnew { border-bottom:solid 1px #ccc;padding-bottom: 20px;}
.contentnew li { margin-top:10px; line-height:25px; }
.contentnew input[type="text"] { width:150px;}
.contentnew select { width:150px; }
.contentnew textarea { width:300px;  }
.contentnew .columnname { color:#666; padding-right:20px; vertical-align:top; width:60px; line-height:25px;display:inline-block}
.contentnew .direction {border:solid 1px #ccc; color:#666; cursor:pointer; padding:0px 12px; border-radius:12px;}
.contentnew .active {border:solid 1px #002463; color:#002463;}
