@{
    ViewBag.Title = "FentOrderReport";
    Layout = null;
}

<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="zh-CN" />
	<meta name="author" content="zuroke" />
	<title>样衣报告</title>
    <link href="/modules/css/default/layout.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/default/FentOrderReport.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
</head>
<body>
    <div class="titlename">上海慕白服饰有限公司</div>
    <table style="margin-left:30%">
        <tr>
            <td>报价单</td>
            <td class="font22">款式图</td>
        </tr>
        <tr>
            <td style="width:300px;">
                <table class="border">
                    <tr>
                        <td class="t l">客户:</td>
                        <td class="t customerName">林小姐</td>
                        <td class="t">版本:</td>
                        <td class="r t Sersion">1版</td>
                    </tr>                    
                    <tr>
                        <td class="l">款号:</td>
                        <td>1603080003</td>
                        <td>品名:</td>
                        <td class="r">长褂</td>
                    </tr>
                    <tr>
                        <td class="l">制版:</td>
                        <td>黄庆兴</td>
                        <td>做样:</td>
                        <td class="r">袁银平</td>
                    </tr>
                    <tr>
                        <td class="l">时间:</td>
                        <td>3月14号</td>
                        <td>复核:</td>
                        <td class="r"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="b l">客户确认</td>
                        <td colspan="2" class="b r"></td>
                    </tr>
                </table>
            </td>
            <td>
                <img src="/modules/images/none-img.png" />
            </td>
        </tr>
        <tr>
            <td class="font20">样衣尺寸</td>
            <td class="font20">成本核算</td>
        </tr>
        <tr>
            <td>
                <table class="border">
                    <tr>
                        <td class="t l">
                            类型
                        </td>
                        <td class="t"></td>
                        <td class="t">S</td>
                        <td class="t">M</td>
                        <td class="t">L</td>
                        <td class="t"></td>
                        <td class="t">档差</td>
                        <td class="t r">误差</td>
                    </tr>
                    <tr>
                        <td class="l">衣长</td>
                        <td></td>
                        <td>92</td>
                        <td>93</td>
                        <td>94</td>
                        <td></td>
                        <td>1</td>
                        <td class="r"></td>
                    </tr>
                    <tr>
                        <td class="l">胸围</td>
                        <td></td>
                        <td>94</td>
                        <td>98</td>
                        <td>102</td>
                        <td></td>
                        <td>4</td>
                        <td class="r"></td>
                    </tr>
                    <tr>
                        <td class="l">肩宽</td>
                        <td></td>
                        <td>37</td>
                        <td>38</td>
                        <td>39</td>
                        <td></td>
                        <td>1</td>
                        <td class="r"></td>
                    </tr>
                    <tr>
                        <td class="l">袖长</td>
                        <td></td>
                        <td>58</td>
                        <td>59</td>
                        <td>60</td>
                        <td></td>
                        <td>1</td>
                        <td class="r"></td>
                    </tr>
                    <tr>
                        <td class="l">袖肥</td>
                        <td></td>
                        <td>34.8</td>
                        <td>36</td>
                        <td>37.2</td>
                        <td></td>
                        <td>1.2</td>
                        <td class="r"></td>
                    </tr>
                    <tr>
                        <td class="b l">袖口</td>
                        <td class="b"></td>
                        <td class="b">17</td>
                        <td class="b">18</td>
                        <td class="b">19</td>
                        <td class="b"></td>
                        <td class="b">1</td>
                        <td class="r b"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="border">
                    <tr>
                        <td colspan="6" class="r t l font22">面/辅料</td>
                    </tr>
                    <tr>
                        <td class="l">面料A:</td>
                        <td></td>
                        <td>门幅:</td>
                        <td>1.44</td>
                        <td>用料:</td>
                        <td>1.65</td>
                    </tr>
                    <tr>
                        <td class="l">面料B:</td>
                        <td></td>
                        <td>门幅:</td>
                        <td>1.44</td>
                        <td>用料:</td>
                        <td>1.65</td>
                    </tr>
                    <tr>
                        <td class="l">里布:</td>
                        <td></td>
                        <td>门幅:</td>
                        <td>1.44</td>
                        <td>用料:</td>
                        <td>1.65</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="font16">成本/加工费</td> 
        </tr>
        <tr>
            <td>
               
            </td>
            <td>
                <table class="border">
                    <tr>
                        <td class="t l width125">加工费</td>
                        <td class="l r t width125"></td>
                    </tr>
                    <tr>
                        <td class="l">30-50件</td>
                        <td class="l r">65</td>
                    </tr>
                    <tr>
                        <td class="l">100-300件</td>
                        <td class="l r">53</td>
                    </tr>
                    <tr>
                        <td class="b l">500件</td>
                        <td class="l r b">50</td>
                    </tr>
                </table>
            </td>                       
        </tr>
        <tr>
            <td class="border font20" colspan="2">修改意见:</td>            
        </tr>
        <tr>
            <td colspan="2" style="height:200px;"></td>
        </tr>
    </table>
</body>
</html>



