@{
    Layout = null;
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Order;
}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="zh-CN" />
	<meta name="author" content="zuroke" />
	<title>下单成功</title>
    <link href="/modules/css/default/order_create.css" rel="stylesheet" />
</head>

<body>
<!--内容-->
<div class="pay-content pay-body row">
	<div class="success">
    	<div class="success-order row">
            <ul class="r">
                <li>订单编号：@(order.OrderCode)</li>
                <li>下单时间：@(order.CreateTime.ToString("yyyy-MM-dd HH:mm:ss"))</li>
            </ul>
        </div>
        <div class="success-btn">
        	<a type="button" class="btn-order" href="/Orders/Create">继续下单</a>@*?cid=@(order.CustomerID)*@
            @*<button type="button" value="订单查询" class="btn-query">订单查询</button>*@
        </div>
    </div>
    
</div>
<!--内容end-->
</body>
</html>
