@{
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Model;
    var client = (IntFactoryEntity.Manage.Clients)ViewBag.Client;
    var list = (List<IntFactoryEntity.OrderCostEntity>)ViewBag.List;
    ViewBag.Title = "打印打样报价";
}

<head>
<title>@ViewBag.Title</title>

</head>
 @{Html.RenderPartial("FentOrderReport");}

<script src="/Scripts/jquery-1.11.1.js"></script>

<script type="text/javascript">
    $(function () {
        $("header").remove();
        $("nav").remove();
        $(".export").remove();
        $(".report").css("margin-left","-80px");
        window.print();
    });
</script>
