{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class=""> <a href="/Customer/Detail/{%=item.CustomerID%}" target="_blank">{%=item.Name%}</a> </td>
    <td class="center">{%=item.Type==1?"企业":"个人"%}</td>
    <td class='center'>{%= item.Stage?item.Stage.StageName:"--" %}</td>
    <td class='center'>{%= item.ContactName
                                        ?(item.ContactName + (item.Jobs?"("+item.Jobs+")":"") )
                                        :"--" %}    
    </td>
    <td class="center">{%=item.MobilePhone%}</td>
    <td class='center'>{%=(item.Owner ? item.Owner.Name:"--")%}</td>
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
</tr>
{% } %}
