{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="activityListLi">
<td class="activityTD" style="border-right:none;" width="260">
    <a href="/Activity/Detail/{%=item.ActivityID%}" target="_blank">
        <img class="activityImg" src="{%=item.Poster==''?'/modules/images/defaultactivity.jpg':item.Poster%}" onerror="javascript:this.src='/modules/images/defaultactivity.jpg';" />
    </a>
</td>
<td class="activityTD" style="border-left:none;" valign="top">
    <div class="activityInfo mLeft20">
        <table width="100%" class="activityInfoTB">
            <tr>
                <td colspan="2" >
                    <a style="color:#666;font-size:18px;" href="/Activity/Detail/{%=item.ActivityID%}" target="_blank">{%=item.Name%}</a>
                </td>
                <td align="right">
                    <div class="dropdown" data-id="{%=item.ActivityID%}" style="background-color:#4A98E7;border-radius:3px;width:45px;padding:7px 10px;">
                        <span style="color:#fff;">操作</span>
                        <span class="ico-dropdown-white mLeft5"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="48" >
                    负责人：
                </td>
                <td width="80%" style="color:#666;">{%=item.Owner.Name%}</td>
                <td></td>
            </tr>
            <tr>
                <td>成员：</td>
                <td>
                    <div id="MemberList">
                    {%
	                    for(var l=0; l<item.Members.length;l++){
	                    var m = item.Members[l];
                    %}
                    {%=m.Name%}
                    {% } %}
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    时间：
                </td>
                <td style="color:#666;">{%=item.BeginTime.toDate("yyyy-MM-dd") %} - {%=item.EndTime.toDate("yyyy-MM-dd") %}</td>
                <td></td>
            </tr>
            <tr>
                <td>地址：</td>
                <td style="color:#666;">{%=item.Address%}</td>
                <td></td>
            </tr>
            
        </table>
    </div>
</td>
</tr>
<tr><td colspan="2"><div class="activityUnderline4"></div></td></tr>
<tr><td colspan="2"><div class="activityUnderline4"></div></td></tr>
<tr><td colspan="2"><div style="height:20px;"></div></td></tr>
{% } %}
