{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr>
    <td width="35" class="pTop20" valign="top">
        <div><img class="activityOwnerImg activitymember" data-id="{%=item.CreateUser.UserID%}" src="/modules/images/defaultavatar.png" onerror="javascript:this.src='/modules/images/defaultavatar.png';"/></div>
    </td>
    <td class="pTop20">
        <div style="border-bottom:dashed 1px #ccc;padding-bottom:20px;">
            <div class="left">
                <div class="pTop5" >
                    <span style="color:#2f73b8;">{%=item.CreateUser.Name%}{%=item.FromReplyUser!=null?" 回复 "+item.FromReplyUser.Name:""%}:</span>
                    <span style="color:#777;">{%=decodeURI(item.Msg)%}</span>
                </div>
                <div class="pTop5" style="color:#999;">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss") %}</div>
            </div>
            <div class="right mTop15 hand" onclick=" $(this).next().next().slideToggle(500);">
                <div class="left" style="padding-top:3px;"><img  src="/modules/images/ico-reply-gray.png"/></div>
                <div class="left mLeft5" style="color:#777;font-size:14px;">回复</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

            <div class="mTop20 hide">
                <div>
                    <textarea id="Msg_{%=item.ReplyID%}" style="width:612px;height:50px;"></textarea>
                </div>
                <div class="right mTop10">
                    <div name="btn_replyByReply" data-replyid="{%=item.ReplyID%}" data-createuserid="{%=item.CreateUserID%}" data-agentid="{%=item.AgentID%}" class="btn">回复</div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </td>
</tr>
{% } %}
