{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="">{%=item.ClientCode%}</td>
    <td><a href="javascript:void(0)" class="detail" target="_blank" data-id="{%=item.ClientID%}">{%=item.CompanyName%}</a></td>
    <td class="">{%=item.ContactName%}</td>
    <td class="">{%=item.MobilePhone%}</td>
    <td class="">{%=!item.City ?"--":item.City.Description%}</td>
    <td class="center">{%=item.GoodsNum%}</td>
    <td class="center">{%=item.OrderNum%}</td>
    <td class="center">{%=item.LastTime.toDate("yyyy-MM-dd")%}</td>
</tr>
{% } %}
