
<ul class="easydialog-create">
    <li>
        <span class="width80">姓名：</span>
        <span><input type="text" maxlength="50" id="name" style="width:300px;" data-empty="必填" class="input verify" /></span> 
    </li>
     <li>
        <span class="width80">职位：</span>
        <span><input type="text" maxlength="50" id="jobs" class="input" /></span>
    </li>   
    <li>
        <span class="width80">联系电话：</span> 
        <span><input type="text" maxlength="11" id="contactMobile" data-type="mobile" class="input verify" /></span>
    </li>
        <li>
        <span class="width80">邮箱：</span>
        <span><input type="text" maxlength="200" id="email" data-type="email" class="input verify" /></span>
    </li>
    <li>
        <span class="width80">省份城市：</span> 
        <span id="contactcity"></span>
    </li>
    <li>
        <span class="width80">详细地址：</span> 
        <span><input type="text" maxlength="200" style="width:300px;" id="address" class="input"  /></span>
    </li>

    <li>
        <span class="width80">备注：</span>
        <textarea id="remark">
            
        </textarea>
    </li>

</ul>

