{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class='center'><span class="mark" data-id="{%= item.CustomerID %}" data-value="{%= item.Mark %}"></span> </td>
    <td class=""><span data-id="{%=item.CustomerID%}" data-userid="{%=item.OwnerID%}" class="ico-check check"></span></td>
    <td class=""> <a href="/Customer/Detail/{%=item.CustomerID%}">{%=item.Name%}</a> </td>
    <td class="center">{%=item.MobilePhone%}</td>
    <td class="center">{%=item.City?(item.City.Province+item.City.City+item.City.Counties):"--"%}</td>
    <td class="center">{%=item.SourceType==1?"阿里客户":item.SourceType==2?"自助下单":"手工创建"%}</td>
    <td class="center">{%=item.ReplyTimes%}</td>
    <td class='center'>{%=(item.Owner ? item.Owner.Name:"--")%}</td>
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd")%}</td>
    <td class="center dropdown" data-id="{%=item.CustomerID%}" data-userid="{%=item.OwnerID%}">
        <span class="ico-dropdown"></span>
    </td>
</tr>
{% } %}