{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<ul class="list-card mRight15 mTop20">
    <div class="check iconfont" data-id="{%=item.CustomerID%}" data-userid="{%=item.OwnerID%}">&#xe626;</div>
    <li class="mTop5">
        <div class="message">
            <div class="list-mark left mRight10"><span class="mark" data-id="{%= item.CustomerID %}" data-value="{%= item.Mark%}"></span></div>
            <div class="message-name long"><a href="/Customer/Detail/{%=item.CustomerID%}" title="{%=item.Name%}">{%=item.Name%}</a></div>
        </div>
    </li>
    <li class="color666 mTop10"><span class="iconfont">&#xe64f;</span>{%=item.MobilePhone?item.MobilePhone:"--"%}</li>
    <li class="color666"><span class="iconfont">&#xe657;</span>{%=item.City?item.City.Description:"--"%}</li>
    <li class="color666"><span class="iconfont">&#xe639;</span>{%=item.CreateTime.toDate("yyyy-MM-dd")%}</li>
    <li>
        <div class="mRight30 color666 left">{%=item.SourceType==1?"阿里客户":item.SourceType==2?"自助下单":"手工创建"%}</div>
        <div class="mRight5 right">负责人:{%=(item.Owner ? item.Owner.Name:"--")%} </div>
    </li>
</ul>

{% } %}
  