@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>错误</title>
</head>
<body>
    
        @{
             <h2>抱歉，页面出现了一点点问题。@(new HttpException().GetHttpCode())</h2>
            }
        
    
</body>
</html>