{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td>{%=item.ProductCode%}</td>
    <td>{%=item.ProductName%}</td>
    <td>{%=item.DetailsCode%}</td>
    <td>{%=item.Description%}</td>
 <!--   <td>{%=item.WareName%}</td>
    <td>{%=item.DepotCode%}</td>
    <td>{%=item.BatchCode%}</td>-->
    <td class="center">{%=item.StockIn%}</td>
    <td class="center">{%=item.StockOut%}</td>
    <td class="center">{%=item.StockIn-item.StockOut%}</td>
</tr>
{% } %}
