{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
if(i>0)
{
%}
<tr class="line-item">
    <td colspan="8"></td>
</tr>
{%}%}
<tr class="item-header">
    <td class="tLeft">报损单号：{%=item.DocCode%}</td>
    <td>编码</td>
    <td>数量</td>
    <td class="">总金额</td>
    <td class="">报损日期</td>
    <td class="{%=item.Status<2?'red':''%}">
        {%=item.StatusStr%}
        <div class="right iconfont dropdown" data-status="{%=item.Status%}" data-id="{%=item.DocID%}"> 
            <span class="{%=item.Status < 2? 'ico-dropdown':''%}"></span>
        </div>
    </td>
</tr>
     {%
	        for(var ii=0, jj=item.Details.length; ii < jj; ii++){
	        var detail = item.Details[ii];
        %}
<tr class="item">
    <td class=" bBottom bLeft tLeft">
         {%=detail.ProductName+"&nbsp;&nbsp;"%}<span class="color999">{%=detail.Remark%}</span>
    </td>
    <td class=" bBottom">
            {%=detail.DetailsCode?detail.DetailsCode: detail.ProductCode%}
    </td>
    <td class=" bBottom bRight">
            {%=detail.Quantity%}
    </td>
   
    {%if(ii==0)
    {
    %}
    <td rowspan="{%=jj%}" class=" bBottom bRight">{%=item.TotalMoney.toFixed(2)%}</td>
    <td rowspan="{%=jj%}" class=" bBottom bRight">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td rowspan="{%=jj%}" class=" bBottom bRight">
        <a href="/Stock/Detail/{%=item.DocID%}" target="_blank">查看详情</a>
    </td>
    {%}%}
</tr>
     {% } %}
{% } %}
