
<ul class="easydialog-create">
    <li>
        <span class="create-column">仓库：</span>
        <span id="wares"> </span>
    </li>    
    <li>
        <span class="create-column">否是发货：</span>
        <span id="checkSend" class="ico-check pLeft5">发货</span> 
    </li>
     <li>
        <span class="create-column">快递公司：</span>
        <span id="expressid"></span>
    </li>   
    <li>
        <span class="create-column">快递单号：</span>
        <input type="text" id="expressCode" />
    </li>
</ul>

