

/*客户详情页*/

.content-title { height:35px; }
.content-title .customer-type { background-color:#4a98e7; height:22px; width:22px; border-radius:11px; line-height:18px; text-align:center; font-size:14px; color:#fff;}
.content-title .titlename { font-size:18px; color:#666; }

.content-info{ width:80%; min-width:600px; float:left;}
.content-info li{ width:50%; float:left; height:35px; line-height:35px; }
.content-info li span{ width:100px; float:left; height:35px; line-height:35px; color:#999; }
.content-info li label{ color:#666; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  max-width:300px;}

.content-info .ico-change { margin:6px 0 0 10px; }

/*阶段*/
.stage-items { height:40px; width:80%; }
.stage-items  li{ float:left; height:40px; position:relative; cursor:pointer;  margin-right:5px;}
.stage-items  li { background-color:#4a98e7;}
.stage-items  li:hover{ background-color:#2F73B8;}
.stage-items  li.hover{ background-color:#174A7F;}
.stage-items  li span{ float:left; display:inline-block;}

.stage-items  li .bg { position:absolute;border-bottom:solid 20px transparent; border-top:solid 20px transparent; }
.stage-items  li .leftbg{ left:0px; z-index:101; border-left:solid 15px #fff;}
.stage-items  li .name{ height:40px; line-height:40px; text-align:center; color:#eee; width:100%;}
.stage-items  li .rightbg{ right:-15px; z-index:102; border-left:solid 15px #4a98e7;}

.stage-items  li:hover .name{ color:#fff; }
.stage-items  li:hover .rightbg{ border-left:solid 15px #2F73B8; }
.stage-items  li.hover .rightbg{ border-left:solid 15px #174A7F; }
.stage-items  .hover .name{ color:#fff; }

/*阶段行为项*/
.stageitems { width:100%; overflow:auto; }
.stageitems li{ width:33%; height:25px; min-width:200px; line-height:25px; float:left; color:#666; text-indent:5px; }

.nav-partdiv { margin-bottom:100px; }


/*讨论备忘*/
.talk-body { }
.talk-body .content-main { height:101px; position:relative; width:350px; }
.talk-body .content-main .txt-content { height:100px; width:300px; background-color:#f7f7f7; border:solid 1px #eee; }
.talk-body .content-main .txt-content:focus { border:solid 1px #318ae4;}
.talk-body .content-main .btn-save { position:absolute; right:0; bottom:0px; }

.talk-body .talk-title { border-bottom: solid 1px #4a98e7; height:40px; line-height:40px; width: 300px; color:#666; }
.talk-body .content-list { width: 300px; }
.talk-body .content-list td{ border-bottom:dashed 1px #ccc; }
.talk-body .content-list .user-avatar { width:35px; padding-top:20px; vertical-align:top; }
.talk-body .content-list .user-avatar img{ width:24px; height:24px; border-radius:12px;  vertical-align:top; }




