
/*讨论备忘*/
.talk-body { }
.talk-body .content-main { height:81px; position:relative; width:360px; }
.talk-body .content-main .txt-content { height:80px; width:310px; background-color:#f7f7f7; border:solid 1px #eee; }
.talk-body .content-main .txt-content:focus { border:solid 1px #318ae4;}
.talk-body .content-main .btn-save { position:absolute; right:0; bottom:0px; }

.talk-body .talk-title { border-bottom: solid 1px #4a98e7; height:40px; line-height:40px; width: 300px; color:#666; }
.talk-body .content-list { width: 300px; }
.talk-body .content-list td{ border-bottom:dashed 1px #ccc; }
.talk-body .content-list .user-avatar { width:35px; padding-top:20px; vertical-align:top; }
.talk-body .content-list .user-avatar img{ width:24px; height:24px; border-radius:12px;  vertical-align:top; }




