.taskContent {
padding:15px;
width:350px;
position: fixed;
right: -380px;
top: 50px;
height: 100%;
background-color: #fff;
border-left: solid 1px #eee;
opacity:1;
}

.taskContent li {
line-height:35px;
}

.taskOperate {
padding-bottom:15px;
border-bottom:1px solid #eee; 
}

.taskDetail li {
line-height:50px;
}

.taskDetail .column-title {
width:70px;
display:inline-block;
}