@{
    ViewBag.Title = "销售订单统计";
}

@section scripts{
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        $(function () {
            laydate({
                elem: '#beginTime',
                format: 'YYYY-MM-DD',
                min: '2000-01-01',
                max: laydate.now(),
                istime: false,
                istoday: false
            });
            laydate({
                elem: '#endTime',
                format: 'YYYY-MM-DD',
                min: '2000-01-01',
                max: laydate.now(),
                istime: false,
                istoday: true
            });
        })

        seajs.use(["scripts/salesrpt/userorderrpt"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">销售订单统计</span>
</div>
<div class="search-box">
    <div class="search-header">
        <ul class="search-tab search-type">
            <li data-type="1" data-id="userTotalRPT" class="hover">销售订单统计</li>
        </ul>
    </div>
</div>
<div class="content-body">
    <div class="search-body mBottom10">
        <div class="left lineHeight25">日期：</div>
        <input type="text" class="left" id="beginTime"/>
        <div class="left lineHeight25">&nbsp;-&nbsp;</div>
        <input  type="text" class="left" id="endTime"/>
        <div class="left btn mLeft20" id="btnSearch">查询</div>
    </div>
    <table id="userTotalRPT" class="table-list-rpt">
        <tr class="tr-header">
            <td class="width50 tLeft"></td>
            <td class="tLeft">名称</td>
            @foreach (var model in (List<IntFactoryEntity.OrderTypeEntity>)ViewBag.Types)
            {
                 <td colspan="2">@(model.TypeName)</td>
            }
            <td colspan="2">合计</td>
        </tr>
        <tr class="tr-header" id="tr-header">
            <td class="width50 tLeft"></td>
            <td class="tLeft"></td>
            @foreach (var model in (List<IntFactoryEntity.OrderTypeEntity>)ViewBag.Types)
            {
                 <td>订单数</td>
                 <td>总金额</td>
            }
            <td>订单数</td>
            <td>总金额</td>
        </tr>
    </table>
</div>

