@{
    ViewBag.Title = "代理商";
}

<p style="font-family:'Microsoft YaHei'; color:#808080;font-size:45pt;text-align:center;margin-top:150px;opacity:0.4;">让营销行云流水~</p>
<p style="font-family:'Microsoft YaHei'; color:#808080;font-size:35pt;text-align:center;margin-top:60px;opacity:0.6;">敬请期待！</p>