body { background:#fff;}
.report {margin:30px auto; width:1000px;}
.preview{font-size:20px;margin-bottom:10px;}
table{border:1px solid #000;border-collapse:collapse;}
.time-order tr td{border:1px solid #000;text-align:center;}
.order-information tr td{border:1px solid #000;text-align:center;}
table:first-child td .input { width:100px;}
table:first-child td .change-owner { vertical-align:middle;margin-left:5px;}
table:first-child tr:first-child img{width:60px;height:30px;}
table .titlename{font-size:22px;}
.navsenddoc { width:636px;}
.navgoods tr td {border:1px solid #000;text-align:center;height:25px;width:89px; }
.navproducts { width:955px;}
.navproducts .products img{width:90px;height:90px;padding:5px;}
.navproducts tr td {border:1px solid #000;text-align:center;height:35px; }
.navengraving tr td {border:1px solid #000;text-align:center;height:25px; }
.remark tr td {border:1px solid #000;text-align:center;height:25px; }
.processplate tr td {border:1px solid #000;text-align:center;height:38px; }
.btn { background-color:#888}
.btn:hover{background-color:#666}
.icon-delete { float:left;margin-right:20px;margin-left:5px;color:#666;cursor:pointer;}
.hover {color:#bbb; }
.img-order .order-image { position:relative;border-bottom:0;}
.img-order .order-image .layer-upload {position:absolute;right:0;top:0; }
.img-order img { width:120px;height:160px;margin:20px auto;}
.img-order tr td { border:1px solid #000;text-align:center;height:30px;}
.img-order { width:318px;height:250px;}
.process .input { border-color:#666;height:22px;line-height:22px !important;}
.process table td {
    font-size:14px;
}



