body { background:#fff;}
.report {margin:20px auto; width:1000px;}
.preview{font-size:22px;margin-left:20px;margin-bottom:10px;}
table{border:1px solid #000;border-collapse:collapse;}
table:first-child tr td{border:1px solid #000;text-align:center;width:157.5px;height:30px;}
table:first-child tr:first-child img{width:100px;height:40px;}
table .titlename{font-size:22px;font-weight:bold;}
.navsenddoc { width:636px;}
.navgoods tr td {border:1px solid #000;text-align:center;height:25px;width:89px; }
.navproducts { width:955px;}
.navproducts .products img{width:90px;height:90px;padding:2px;}
.navproducts tr td {border:1px solid #000;text-align:center;height:25px; }
.navengraving tr td {border:1px solid #000;text-align:center;height:25px; }
.btn { background-color:#888}
.btn:hover{background-color:#666}
