<table id="navCutoutDoc" class="nav-partdiv table-items-detail mTop20 hide">
    <tr class="tr-header table-header">
        <td class="tLeft">规格</td>
        <td class="">裁剪数量</td>
        <td class="width150">登记人</td>
        <td class="width200">登记时间</td>
        <td>小计</td>
        <td>操作</td>
    </tr>
</table>