<table id="navCutoutDoc" class="nav-partdiv table-list mTop20 hide">
    <tr class="tr-header">
        <td class="tLeft">单号</td>
        <td class="">数量</td>
        <td class="width150">登记人</td>
        <td class="width200">登记时间</td>
        <td></td>
    </tr>
</table>