@{
    var taskModel = (YXERP.Models.TaskModel)Model;
    var task = taskModel.Task;
    var order = taskModel.Order;
    var isRoot = taskModel.IsRoot;
 }

<div class="platemakingContent hide" id="platemakingContent">
    @{
        if (!string.IsNullOrEmpty(order.Platemaking) && isRoot)
        {
            <a class="right" href="/Task/PlatePrint/@order.OrderID" target="_blank" id="btn-platePrint" title="打印制版">
                <span class="iconfont">&#xe658;</span><span class="print-plate">打印制版</span>
            </a>
        }
    }
    <div class="clear"></div>

    <div id="platemakingBody" class="mTop10 platemakingBody">
    @{
        if (!string.IsNullOrEmpty(order.Platemaking))
        {
            <script type="text/javascript">
                document.getElementById("platemakingBody").innerHTML = decodeURI('@(order.Platemaking)');
            </script>   
        }
        else
        {
            <script type="text/javascript">
                document.getElementById("platemakingBody").style.display = "none";
            </script>   
        }
    }
    </div>
            
    @{
      if (isRoot)
        {
            var hasPlate = !string.IsNullOrEmpty(order.Platemaking);
            if (!hasPlate)
            {
                <div class="create-first" id="btn-addTaskPlate">
                    <span class="plus">+</span>
                    添加制版
                </div>
            }
            <div class="btn right mTop10" style="display:@(hasPlate ? "block" : "none")" id="btn-updateTaskRemark">保存制版</div>
        }
    }
    <div class="clear"></div>

    @{
        <div class="mTop30">
            <div class="talk-title" >工艺说明
                @{if (isRoot && task.Mark==12)
                  {
                <div class="btn-add right" id="btnAddPalte">工艺说明录入</div>
                <div class="clear"></div>}
                }
            </div>

            <table class="table-list mTop10 tb-plates">
                <tr class="tr-header">
                    <td class="width50">图标</td>
                    <td class="width200">名称</td>
                    <td class="width200">类型</td>
                    <td class="width150">描述</td>
                    <td>创建时间</td>
                    <td class="center">操作</td>
                </tr>
            </table>
        </div>
    }
</div>

@{if (isRoot){
<ul class="dropdown-ul hide" id="setPlateMaking" style="width:90px;">
    <li id="setObjectPlate">编辑</li>
    <li id="deleteObject">删除</li>
</ul> 
}}   

