@{
    var isRoot = (@ViewBag.Status != 8 && @ViewBag.Mark == 2 && @ViewBag.FinishStatus > 0 && Model.Status < 3);
 }

@{if (string.IsNullOrEmpty(ExpandClass.IsLimits(HttpContext.Current, "109010107"))){

<div class="platemakingContent hide" id="platemakingContent">
    @{
        if (!string.IsNullOrEmpty(Model.Platemaking) && string.IsNullOrEmpty(ExpandClass.IsLimits(HttpContext.Current, "109010102")) )
        {
        <a class="btn right mTop5" href="/Task/PlatePrint/@Model.OrderID" target="_blank" id="btn-platePrint">打印制版</a>
        }
    }
    <div class="clear"></div>

    <div id="platemakingBody" class="mTop10 platemakingBody">
    @{
        if (!string.IsNullOrEmpty(Model.Platemaking))
        {
            <script type="text/javascript">
                document.getElementById("platemakingBody").innerHTML = decodeURI('@(Model.Platemaking)');
            </script>   
        }
        else
        {
            <script type="text/javascript">
                document.getElementById("platemakingBody").style.display = "none";
            </script>   
        }
    }
    </div>
            
    @{
      if (isRoot && string.IsNullOrEmpty(ExpandClass.IsLimits(HttpContext.Current, "109010102")))
        {
            var hasPlate = !string.IsNullOrEmpty(Model.Platemaking);
            if (!hasPlate)
            {
                <div class="create-first" id="btn-addTaskPlate">
                    <span class="plus">+</span>
                    添加制版
                </div>
            }
            <div class="btn right mTop10" style="display:@(hasPlate ? "block" : "none")" id="btn-updateTaskRemark">设置制版</div>
        }
    }
    <div class="clear"></div>

    @{
        if (isRoot && string.IsNullOrEmpty(ExpandClass.IsLimits(HttpContext.Current, "109010103")))
        { 
            <div class="content-main mTop20">
                <div class="talk-title mBottom10" >工艺说明</div>
                <textarea id="txtPlateRemark" class="txt-content"  placeholder="工艺说明"></textarea><br />
                <div class="btn right mTop5 " id="btn-updatePlateRemark">保存工艺说明</div>
                <div class="clear"></div>
            </div>
        } 
        else
        {
            <div class="mTop20" style="width:800px;">
                <div class="talk-title" >工艺说明</div>
                <div class="edui-container mTop15">
                    <div class="edui-editor-body">
                        <div class="description  edui-body-container" id="PlateRemark"></div>
                    </div>
                </div>
            </div>
        }
            
    }

</div>
}}         

