<table id="navCosts" class="table-list mTop20 nav-partdiv hide" data-quantity="1">
    <tr class="tr-header">
        <td class="tLeft">描述</td>
        <td class="tLeft">工艺</td>
        <td class="">金额</td>
        <td class="">添加日期</td>
        <td class="width80">删除</td>
    </tr>
</table>