<table id="navSendDoc" class="nav-partdiv table-list mTop20 hide">
    <tr class="tr-header">
        <td class="tLeft">单号</td>
        <td class="">数量</td>
        <td class="width200">快递单号</td>
        <td class="width200">快递公司</td>
        <td class="width150">发货人</td>
        <td class="width200">发货时间</td>
        <td></td>
    </tr>
</table>