
<div class="mTop20 task-replys" id="taskReplys">
    <div class="taskreply-box">
        <textarea id="txtContent" class="reply-content" placeholder="发表评论"></textarea><br />
        <div id="btn-task-reply" title="附件"></div>
        <div class="left iconfont btn-emotion" id="btn-emotion" data-id="txtContent" title="表情">&#xe65b;</div>
        
        <div class="btn right mTop5 mBottom10" id="btnSaveTalk">提交</div>
        <ul class="mTop40 no-img hide task-file" id="orderflie-task">
                 
        </ul> 
        <div class="clear"></div>
        <ul id="Images-reply-task" class="accessory order-imgs addimg hide task-file">

        </ul>
        <div class="clear"></div>
    </div>

    <div class="talk-title"> 全部讨论</div>

    <table class="content-list" id="replyList"></table>

    <div class="mTop10" id="pagerReply"></div>
</div>

