@{
    ViewBag.Title = "TaskDetail";
}
<link href="/modules/plug/showtaskdetail/style.css" rel="stylesheet" />
<link href="/modules/css/customer/customer.css" rel="stylesheet" />

<div style="position:absolute; height:1000px;width:600px;background-color:#ccc;">



    <div style="width:200px;height:40px;background-color:#eee;margin-top:100px;overflow-y:scroll;">
        aaaaaaaaaaaa
        aaaaaaaaaaaa
        aaaaaaaaaaaa
        aaaaaaaaaaaa
        aaaaaaaaaaaa
        aaaaaaaaaaaa
    </div>
</div>
