

<div class="mTop20 task-replys" id="taskReplys">
    <div class="taskreply-box" id="reply-box">
        <textarea id="txtContent" class="reply-content msg-" placeholder="发表评论"></textarea><br />
        <div id="reply-attachment" class="iconfont left" style="width:25px;">&#xe65a;</div>
        <div class="left iconfont btn-emotion mLeft10" id="btn-emotion" data-id="txtContent" title="表情">&#xe65b;</div>
        <div class="btn right mTop5 mBottom10" id="btnSaveTalk">提交</div>
        <div class="clear"></div>
        <ul class="upload-file hide task-file upload-files-" id="reply-files"></ul> 
        <div class="clear"></div>
        <ul class="accessory hide task-file upload-files-" id="reply-imgs"></ul>
        <div class="clear"></div>
    </div>

    <div class="talk-title"> 全部讨论</div>

    <table class="content-list" id="replyList"></table>

    <div class="mTop10" id="pagerReply"></div>
</div>

