
@{
    ViewBag.Title = "个人中心";
    Layout = "/Views/Shared/_LayoutUserCenter.cshtml";
}

@section css{
<link href="/modules/css/myaccount/myaccount.css" rel="stylesheet" />

}
<div class="accountContent">
    <div class="accountHeader">重置密码</div>

    <div class="content-body mTop20">
        <div name="accountInfo" class="">
            <ul class="table-add">
                <li id="li_loginOldPWD">
                    <span class="width80">原密码：</span><input type="password" id="LoginOldPWD" maxlength="25" class="input" />
                    <span class="mLeft10 red loginError"  id="LoginOldPWDError"></span>
                </li>
                <li>
                    <span class="width80">密码：</span><input type="password" id="LoginPWD" maxlength="25" class="input" />
                    <span class="mLeft10 red loginError"  id="LoginPWDError"></span>
                    <br /><span style="margin-left:80px;">密码，6-25位，至少两种不同组合,区分大小写</span>
                </li>
                <li>
                    <span class="width80">确认密码：</span><input type="password" id="LoginConfirmPWD" maxlength="25" class="input" />
                    <span class="mLeft10 red loginError"  id="LoginConfirmPWDError"></span>
                </li>
            </ul>

            <div class="mTop20">
                <span  class="btn" id="btnSaveAccountPwd" >保存</span>
            </div>
        </div>
    </div>
</div>
       

@section scripts{
<script type="text/javascript">
    seajs.use(["scripts/myaccount/setpassword"], function (ObjectJS) {
        ObjectJS.init();
    });
</script>
}



