@{
    Layout = null;
}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>绑定微信登录智能工厂</title>
    <style>
        body {
            text-align: center;
            font-size: 14px;
            font-family: '微软雅黑';
        }
        #container,iframe{}
        .desc{margin-top:10px;}
        
    </style>
</head>

<div id="container">加载中...</div>
@*<div class="desc">绑定后，可直接使用微信扫描二维码登录智能工厂</div>*@
<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
<script type="text/javascript">
    var obj = new WxLogin({
        id: "container",
        appid: "wxa416ba063af66180",
        scope: "snsapi_login",
        state: "WXLogin",
        redirect_uri: "@ViewBag.redirect_uri",
        href: "/modules/css/myaccount/weixin.css"
    });
</script>
