@{
    
    ViewBag.Title = "发货统计";
}
 <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/report/userworkload"], function (obj) {
            obj.init(2);
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">
       发货统计
    </span>
</div>
<div class="content-body pBottom50">
    <div class="search-items">
        <div class="left">
            <input type="text" id="iptCreateTime" placeholder="统计日期"  class="ipt-date"  />
        </div>
        <div class="right searth-module" data-text="输入款式编码/客户名称..." data-width="200"> </div>
    </div>
    <table id="userTotalRPT" class="table-list-rpt">
        <tr class="tr-header">
            <td>订单</td>
            <td>客户</td>
            <td style="">下单数</td>
            <td style="">裁片数</td>
            <td style="">已车缝数</td>
            <td style="">未车缝数</td>
            <td style="">已发货数</td>
            <td style="">未发货数</td>
            <td style="">返修数量</td>
            <td style="">返修率</td>
            <td style="">明细</td>
        </tr>
    </table>
</div>

